Repository pnnl/ruleset-checking-tool, pull requests merged in 2021-10, with the labels that each got.

#134 RS/CH/Rule5-2
  examples/baseline_rmr.json
  examples/proposed_rmr.json
  examples/user_rmr.json
  rct229/data_fns/table_utils_test.py
  rct229/rule_engine/rule_base.py
  rct229/rules/__init__.py
  rct229/rules/section5.py
  rct229/rules/section6.py
  rct229/utils/match_lists.py
Labels: section5, rule_definition

#135 RS/CH/Rule5-3
  examples/baseline_rmr.json
  examples/proposed_rmr.json
  examples/user_rmr.json
  rct229/cli.py
  rct229/data_fns/table_8_4_4_fns.py
  rct229/data_fns/table_8_4_4_fns_test.py
  rct229/data_fns/table_G3_7_fns_test.py
  rct229/data_fns/table_G3_8_fns_test.py
  rct229/data_fns/table_utils.py
  rct229/rule_engine/rule_base.py
  rct229/rules/section5.py
  rct229/schema/ASHRAE229.schema.json
  rct229/schema/schema_utils.py
  rct229/schema/schema_utils_test.py
  rct229/utils/jsonpath_utils.py
  rct229/utils/match_lists.py
Labels: section5, rule_definition

#124 Update and rename Rule5-34.md to Rule5-42.md
  docs/_toc.md
  docs/section5/Rule5-34.md
  docs/section5/Rule5-42.md
Labels: section5, rds

#138 Update and rename Rule5-24.md to Rule5-29.md
  docs/_toc.md
  docs/section5/Rule5-24.md
  docs/section5/Rule5-29.md
Labels: section5, rds

#147 Create Rule5-27.md
  docs/_toc.md
  docs/section5/Rule5-27.md
Labels: section5, rds

#53 Add Rule5-31
  docs/_toc.md
  docs/section5/Rule5-31.md
Labels: section5, rds

#140 Create Rule5-33.md
  docs/_toc.md
  docs/section5/Rule5-33.md
Labels: section5, rds

#151 Create Rule5-50.md
  docs/_toc.md
  docs/section5/Rule5-50.md
Labels: section5, rds

#152 Create Rule5-51.md
  docs/_toc.md
  docs/section5/Rule5-51.md
Labels: section5, rds

#159 Create Rule5-52_TCDv10.md
  docs/_toc.md
  docs/section5/Rule5-52.md
Labels: section5, rds

#123 Create Rule5-41_TCD_v10
  docs/_toc.md
  docs/section5/Rule5-41.md
Labels: section5, rds

#125 Create Rule5-43.md
  docs/_toc.md
  docs/section5/Rule5-43.md
Labels: section5, rds

#127 Create Rule5-44.md
  docs/_toc.md
  docs/section5/Rule5-44.md
Labels: section5, rds

#157 Update schema 2021-09-27
  docs/section15/Rule15-3.md
  docs/section15/Rule15-4.md
  docs/section6/Rule6-11.md
  examples/baseline_rmr.json
  examples/proposed_rmr.json
  examples/user_rmr.json
  rct229/reports/utils.py
  rct229/rule_engine/engine.py
  rct229/rule_engine/rule_base.py
  rct229/rules/section15.py
  rct229/rules/section6.py
  rct229/ruletest_engine/tests/test_ruletest_json_schemas.py
  rct229/schema/ASHRAE229.schema.json
  rct229/schema/Enumerations2019ASHRAE901.schema.json
Labels: schema
