Repository pnnl/ruleset-checking-tool, pull requests merged in 2022-06, with the labels that each got.

#465 First PR for Rule5-26
  rct229/data_fns/table_G3_4_fns.py
  rct229/rules/section5/__init__.py
  rct229/rules/section5/section5rule26.py
  rct229/ruletest_engine/ruletest_jsons/envelope_tests.json
  rct229/ruletest_engine/ruletest_jsons/section5/rule_5_37.json
  rct229/ruletest_engine/ruletest_jsons/section5/rule_5_40.json
  rct229/ruletest_engine/ruletest_jsons/section5/rule_5_45.json
  rct229/ruletest_engine/ruletest_jsons/section5/rule_5_47.json
  rct229/ruletest_engine/ruletest_jsons/section5/rule_5_48.json
  rct229/schema/resources/unit_conventions.json
Labels: section5, rule_definition

#448 Update Rule 5-24
  docs/section5/Rule5-24.md
Labels: section5, rds, ReadytoMerge

#368 Create Rule22-36.md
  docs/_toc.md
  docs/section22/Rule22-36.md
Labels: rds, ReadytoMerge, section22

#212 Create Rule18-8.md
  docs/_toc.md
  docs/section18/Rule18-8.md
Labels: rds, ReadytoMerge, section18

#449 Update Rule 5-26
  docs/section5/Rule5-26.md
Labels: section5, rds, ReadytoMerge

#343 Create Rule22-28.md
  docs/_toc.md
  docs/section22/Rule22-28.md
Labels: rds, ReadytoMerge, section22, archive

#240 Create get_primary_secondary_loops.md
  docs/_toc.md
  docs/ruleset_functions/get_primary_secondary_loops.md
Labels: rds, ReadytoMerge, section22

#450 Update Rule 5-37
  docs/section5/Rule5-37.md
Labels: section5, rds, ReadytoMerge

#447 Update get_rmr_scc_window_wall_ratios()
  docs/ruleset_functions/get_building_scc_window_wall_ratios.md
  docs/ruleset_functions/get_rmi_scc_window_wall_ratios.md
Labels: section5, rds, ReadytoMerge

#251 Rds/cml/10 3
  docs/_toc.md
  docs/section10/10-3.md
Labels: rds, ReadytoMerge, section10

#233 Create get_zones_computer_rooms.md
  docs/_toc.md
  docs/ruleset_functions/get_zones_computer_rooms.md
Labels: rds, section4, ReadytoMerge, functions

#255 Rds/cml/10 6
  docs/_toc.md
  docs/section10/10-6.md
Labels: rds, ReadytoMerge, section10

#265 Rds/cml/function get hvac systems 5 6 serving multiple floors b
  docs/_toc.md
  docs/ruleset_functions/get_hvac_systems_5_6_serving_multiple_floors_b.md
Labels: rds, section4, ReadytoMerge, functions

#256 Rds/cml/10 7
  docs/_toc.md
  docs/section10/10-7.md
Labels: rds, ReadytoMerge, section10

#371 Rds/cml/10 10
  docs/_toc.md
  docs/section10/10-10.md
Labels: rds, ReadytoMerge, section10

#372 Rds/cml/10 11
  docs/_toc.md
  docs/section10/10-11.md
Labels: rds, ReadytoMerge, section10

#472 Add 5-47
  rct229/rules/section5/__init__.py
  rct229/rules/section5/section5rule47.py
Labels: section5, rule_definition

#475 Rs/wx/normalize space schedules
  docs/_toc.md
  docs/ruleset_functions/normalize_interior_lighting_schedules.md
  rct229/data_fns/table_G3_7_fns.py
  rct229/data_fns/table_G3_7_fns_test.py
  rct229/rules/section6/section6rule2.py
  rct229/ruleset_functions/normalize_interior_lighting_schedules.py
  rct229/ruleset_functions/normalize_interior_lighting_schedules_test.py
  rct229/utils/assertions.py
  rct229/utils/jsonpath_utils.py
  rct229/utils/pint_utils.py
Labels: section6

#483 Clean up old lighting ruletests
  rct229/ruletest_engine/ruletest_jsons/ruletest_spreadsheets/lighting_tcd_updates.xlsx
  rct229/ruletest_engine/ruletest_jsons/section6/rule_6_1.json
  rct229/ruletest_engine/ruletest_jsons/section6/rule_6_11.json
  rct229/ruletest_engine/ruletest_jsons/section6/rule_6_12.json
  rct229/ruletest_engine/ruletest_jsons/section6/rule_6_13.json
  rct229/ruletest_engine/ruletest_jsons/section6/rule_6_14.json
  rct229/ruletest_engine/ruletest_jsons/section6/rule_6_15.json
  rct229/ruletest_engine/ruletest_jsons/section6/rule_6_16.json
  rct229/ruletest_engine/ruletest_jsons/section6/rule_6_2.json
  rct229/ruletest_engine/ruletest_jsons/section6/rule_6_5.json
  rct229/ruletest_engine/ruletest_jsons/section6/rule_6_6.json
  rct229/ruletest_engine/ruletest_jsons/section6/rule_6_7.json
  rct229/ruletest_engine/ruletest_jsons/section6/rule_6_9.json
Labels: section6
