Repository pnnl/ruleset-checking-tool, pull requests merged in 2022-08, with the labels that each got.

#487 Add compare standard value ruleset function
  rct229/ruleset_functions/compare_standard_val.py
  rct229/ruleset_functions/compare_standard_val_test.py
  rct229/utils/jsonpath_utils.py
  rct229/utils/std_comparisons.py
Labels: rule_definition

#508 RS/CH/data_items
  rct229/rule_engine/rule_base.py
  rct229/rule_engine/rule_list_base.py
  rct229/rule_engine/rule_list_indexed_base.py
  rct229/rules/section15/section15rule3.py
  rct229/rules/section15/section15rule4.py
  rct229/rules/section5/section5rule11.py
  rct229/rules/section5/section5rule13.py
  rct229/rules/section5/section5rule15.py
  rct229/rules/section5/section5rule17.py
  rct229/rules/section5/section5rule18.py
  rct229/rules/section5/section5rule19.py
  rct229/rules/section5/section5rule21.py
  rct229/rules/section5/section5rule24.py
  rct229/rules/section5/section5rule26.py
  rct229/rules/section5/section5rule28.py
  rct229/rules/section5/section5rule34.py
  rct229/rules/section5/section5rule35.py
  rct229/rules/section5/section5rule36.py
  rct229/rules/section5/section5rule37.py
  rct229/rules/section5/section5rule40.py
  rct229/rules/section5/section5rule42.py
  rct229/rules/section5/section5rule45.py
  rct229/rules/section5/section5rule47.py
  rct229/rules/section5/section5rule48.py
  rct229/rules/section5/section5rule49.py
  rct229/rules/section5/section5rule5.py
  rct229/rules/section5/section5rule8.py
  rct229/rules/section6/section6rule3.py
  rct229/rules/section6/section6rule4.py
  rct229/rules/section6/section6rule8.py
  rct229/rules/section6/section6rule9.py
  rct229/ruletest_engine/run_ruletests.py
Labels: rule_definition

#199 Create Rule23-2.md
  docs/_toc.md
  docs/section23/Rule23-2.md
Labels: rds, ReadytoMerge, section23

#200 Create Rule23-10.md
  docs/_toc.md
  docs/section23/Rule23-10.md
Labels: rds, ReadytoMerge, section23

#524 Create are_all_terminal_heat_sources_hot_water(hvac.id).md
  docs/_toc.md
  docs/ruleset_functions/are_all_terminal_heat_sources_hot_water(hvac.id).md
Labels: rds, ReadytoMerge, functions, open comments

#557 Create is_hvac_sys_heating_type_elec_resistance.md
  docs/_toc.md
  docs/ruleset_functions/is_hvac_sys_heating_type_elec_resistance.md
Labels: rds, ReadytoMerge, functions

#555 Create is_hvac_sys_cooling_type_none.md
  docs/_toc.md
  docs/ruleset_functions/is_hvac_sys_cooling_type_none.md
Labels: rds, ReadytoMerge, functions

#551 Rds/cml/function do all terminals have one fan
  docs/_toc.md
  docs/ruleset_functions/do_all_terminals_have_one_fan.md
Labels: rds, ReadytoMerge, functions

#549 Create are_all_terminal_heat_sources_electric.md
  docs/_toc.md
  docs/ruleset_functions/are_all_terminal_heat_sources_electric.md
Labels: rds, ReadytoMerge, functions

#548 Create is_hvac_sys_preheating_type_elec_resistance.md
  docs/_toc.md
  docs/ruleset_functions/is_hvac_sys_preheating_type_elec_resistance.md
Labels: rds, ReadytoMerge, functions

#539 Create are_all_terminal_heating_loops_purchased_heating.md
  docs/_toc.md
  docs/ruleset_functions/are_all_terminal_heating_loops_purchased_heating.md
Labels: rds, ReadytoMerge, functions

#538 Rds/cml/function is hvac sys preheat fluid loop attached to boiler
  docs/_toc.md
  docs/ruleset_functions/is_hvac_sys_preheat_fluid_loop_attached_to_boiler.md
Labels: rds, ReadytoMerge, functions

#537 Create is_hvac_sys_preheat_fluid_loop_purchased_heating.md
  docs/_toc.md
  docs/ruleset_functions/is_hvac_sys_preheat_fluid_loop_purchased_heating.md
Labels: rds, ReadytoMerge, functions

#536 Create is_hvac_sys_preheating_type_fluid_loop.md
  docs/_toc.md
  docs/ruleset_functions/is_hvac_sys_preheating_type_fluid_loop.md
Labels: rds, ReadytoMerge, functions

#531 Create are_all_terminal_types_VAV.md
  docs/_toc.md
  docs/ruleset_functions/are_all_terminal_types_VAV.md
Labels: rds, ReadytoMerge, functions

#530 Create is_hvac_sys_heating_type_furnace.md
  docs/_toc.md
  docs/ruleset_functions/is_hvac_sys_heating_type_furnace.md
Labels: rds, ReadytoMerge, functions

#197 Create Rule23-5.md
  docs/_toc.md
  docs/section23/Rule23-5.md
Labels: rds, ReadytoMerge, section23

#460 Create Rule23-9.md
  docs/_toc.md
  docs/section23/Rule23-9.md
Labels: rds, ReadytoMerge, section23

#201 Create Rule23-19.md
  docs/_toc.md
  docs/section23/Rule23-19.md
Labels: rds, ReadytoMerge, section23

#503 Rs/yj/rule6 7 (Previously 6-12)
  docs/section6/Rule6-7.md
  rct229/rules/section6/__init__.py
  rct229/rules/section6/section6rule7.py
Labels: section6

#585 RS/CH/outcome_units
  rct229/data_fns/table_G3_7_fns_test.py
  rct229/rule_engine/engine.py
  rct229/rule_engine/rule_base.py
  rct229/rules/section5/section5rule5.py
  rct229/rules/section6/section6rule4.py
  rct229/ruletest_engine/ruletest_engine.py
  rct229/ruletest_engine/run_ruletests.py
  rct229/utils/match_lists_test.py
  rct229/utils/pint_utils.py
  rct229/utils/pint_utils_test.py
Labels: rule_definition

#573 Ruletest 21-3 JSON
  rct229/ruletest_engine/ruletest_jsons/boiler_tests.json
  rct229/ruletest_engine/ruletest_jsons/section21/rule_21_3.json
Labels: rule_test

#578 mock function + 21-3 implementation
  rct229/rules/__init__.py
  rct229/rules/section21/__init__.py
  rct229/rules/section21/section21rule3.py
  rct229/ruleset_functions/get_baseline_system_types.py
  rct229/ruletest_engine/ruletest_engine.py
  rct229/ruletest_engine/run_ruletests.py
Labels: rule_definition, section21

#587 Rs/wx/rule21 4
  rct229/rules/section21/__init__.py
  rct229/rules/section21/section21rule4.py
  rct229/ruletest_engine/ruletest_jsons/section21/rule_21_4.json
Labels: rule_definition, section21
