Repository pnnl/ruleset-checking-tool, pull requests merged in 2022-02, with the labels that each got.

#189 Create Rule22-5.md
  .github/workflows/python-app.yml
  docs/_toc.md
  docs/section22/Rule22-5.md
  rct229/utils/match_lists_test.py
Labels: rds, section22

#185 Create Rule22-1.md
  docs/_toc.md
  docs/section22/Rule22-1.md
Labels: rds, ReadytoMerge, section22

#186 Create Rule22-2.md
  docs/section22/Rule22-2.md
Labels: rds, ReadytoMerge, section22

#164 Create Rule21-3.md
  docs/section21/Rule21-3.md
Labels: rds, section21, ReadytoMerge

#178 Create Rule21-6.md
  docs/_toc.md
  docs/section21/Rule21-6.md
Labels: rds, section21, ReadytoMerge

#180 Create Rule21-9.md
  docs/_toc.md
  docs/section21/Rule21-9.md
Labels: rds, section21, ReadytoMerge

#181 Create Rule21-10.md
  docs/_toc.md
  docs/section21/Rule21-10.md
Labels: rds, section21, ReadytoMerge

#182 Create Rule21-11A.md
  docs/_toc.md
  docs/section21/Rule21-11A.md
Labels: rds, section21, ReadytoMerge

#209 Create Rule21-11B.md
  docs/_toc.md
  docs/section21/Rule21-11B.md
Labels: rds, section21, ReadytoMerge

#210 Create Rule21-11C.md
  docs/_toc.md
  docs/section21/Rule21-11C.md
Labels: rds, section21, ReadytoMerge

#221 Rs/wx/rule5 44/46
  docs/section5/Rule5-44.md
  docs/section5/Rule5-46.md
  rct229/data_fns/table_G3_4_fns.py
  rct229/rules/section5.py
  rct229/ruleset_functions/get_opaque_surface_type.py
Labels: section5, rule_definition
