Repository pnnl/ruleset-checking-tool, pull requests merged in 2022-03, with the labels that each got.

#216 RS/CH/Rule5_5
  rct229/rules/section5.py
  rct229/ruleset_functions/get_opaque_surface_type.py
  rct229/ruleset_functions/get_zone_conditioning_category_dict.py
Labels: section5, rule_definition

#318 Add required_fields for subclass templates;
  examples/baseline_rmr.json
  rct229/rule_engine/rule_base.py
  rct229/rules/__init__.py
  rct229/rules/section12.py
  rct229/rules/section12/__init__.py
  rct229/rules/section12/section12rule1.py
  rct229/rules/section12/section12rule2.py
  rct229/rules/section12/section12rule3.py
  rct229/rules/section15.py
  rct229/rules/section15/__init__.py
  rct229/rules/section15/section15rule1.py
  rct229/rules/section15/section15rule2.py
  rct229/rules/section15/section15rule3.py
  rct229/rules/section15/section15rule4.py
  rct229/rules/section15/section15rule5.py
  rct229/rules/section15/section15rule6.py
  rct229/rules/section5.py
  rct229/rules/section5/__init__.py
  rct229/rules/section5/section5rule2.py
  rct229/rules/section5/section5rule3.py
  rct229/rules/section5/section5rule44.py
  rct229/rules/section5/section5rule46.py
  rct229/rules/section5/section5rule5.py
  rct229/rules/section5/section5rule8.py
  rct229/rules/section6.py
  rct229/rules/section6/__init__.py
  rct229/rules/section6/section6rule1.py
  rct229/rules/section6/section6rule11.py
  rct229/rules/section6/section6rule2.py
  test/test_section5.py
Labels: rule_definition

#165 Create Rule21-4.md
  docs/_toc.md
  docs/section21/Rule21-4.md
Labels: rds, section21, ReadytoMerge, archive

#187 Create Rule22-3.md
  docs/_toc.md
  docs/section22/Rule22-3.md
Labels: rds, ReadytoMerge, section22

#63 Update Rule5-22.md
  docs/_toc.md
  docs/section5/Rule5-22.md
Labels: section5, rds, ReadytoMerge

#179 Create Rule21-7.md
  docs/_toc.md
  docs/section21/Rule21-7.md
Labels: rds, section21, ReadytoMerge

#239 Create Rule21-21.md
  docs/_toc.md
  docs/section21/Rule21-21.md
Labels: rds, section21, ReadytoMerge

#229 Add output template and update RDS template
  docs/_output_report_template.md
  docs/_rule_template.md
Labels: rds

#156 Create compare_schedules.md
  docs/ruleset_functions/compare_schedules.md
Labels: rds, ReadytoMerge

#188 Create Rule22-4.md
  docs/section22/Rule22-4.md
Labels: rds, ReadytoMerge, section22

#162 Create Rule21-1.md
  docs/section21/Rule21-1.md
Labels: rds, section21, ReadytoMerge

#193 Create Rule21-18.md
  docs/section21/Rule21-18.md
Labels: rds, section21, ReadytoMerge

#190 Create Rule22-7.md
  docs/section22/Rule22-7.md
Labels: rds, ReadytoMerge, section22

#273 Create Rule22-24.md
  docs/section22/Rule22-24.md
Labels: rds, ReadytoMerge, section22

#238 Create Rule21-19.md
  docs/section21/Rule21-19.md
Labels: rds, section21, ReadytoMerge

#203 Update Rule6-1.md
  docs/section6/Rule6-1.md
Labels: section6, rds

#54 Add Rule5-34
  docs/_toc.md
  docs/section5/Rule5-34.md
Labels: section5, rds, ReadytoMerge

#269 RS/CH/get_zcc
  Pipfile
  Pipfile.lock
  docs/ruleset_functions/get_zone_conditioning_category.md
  rct229/ruleset_functions/get_hvac_zone_list_w_area_dict.py
  rct229/ruleset_functions/get_surface_conditioning_category_dict.py
  rct229/ruleset_functions/get_zone_conditioning_category_dict.py
  rct229/ruleset_functions/get_zone_conditioning_category_dict_test.py
  rct229/schema/validate.py
  rct229/utils/assertions.py
  rct229/utils/assertions_test.py
  rct229/utils/pint_utils.py
  rct229/utils/pint_utils_test.py
  test/test_section5.py
Labels: rule_definition, functions

#261 Rds/cml/4 1
  docs/section4/4-1.md
Labels: rds, section4, ReadytoMerge

#363 Rs/wx/area type wwr
  docs/ruleset_functions/get_area_type_window_wall_areas.md
  rct229/ruleset_functions/get_area_type_window_wall_area_dict.py
  rct229/ruleset_functions/get_area_type_window_wall_area_test.py
  rct229/ruleset_functions/get_surface_conditioning_category_dict.py
  rct229/ruleset_functions/get_zone_conditioning_category_dict.py
Labels: section5, functions

#171 Create get_scc_window_wall_ratios.md
  docs/ruleset_functions/get_building_scc_window_wall_ratios.md
Labels: section5, rds, ReadytoMerge, functions

#377 Update envelope tests from 0.0.5->0.0.12. Update 5-11 to also have conditioned category parameters
  rct229/ruletest_engine/ruletest_jsons/envelope_tests.json
  rct229/ruletest_engine/ruletest_jsons/scripts/resources/json_pointer_enumerations.json
Labels: section5, rule_test

#380 RS/CH/get_building_segment_skylight_roof_areas_dict
  rct229/ruleset_functions/get_building_segment_skylight_roof_areas_dict.py
  rct229/ruleset_functions/get_building_segment_skylight_roof_areas_dict_test.py
  rct229/ruleset_functions/get_opaque_surface_type.py
  rct229/ruleset_functions/get_surface_conditioning_category_dict.py
  rct229/utils/pint_utils.py
Labels: section5, functions

#379 Rs/wx/function bldg scc srr
  docs/ruleset_functions/get_building_scc_skylight_roof_ratios.md
  rct229/data_fns/table_G3_4_fns.py
  rct229/rules/__init__.py
  rct229/rules/section5/section5rule8.py
  rct229/ruleset_functions/get_area_type_window_wall_area_dict.py
  rct229/ruleset_functions/get_building_scc_skylight_roof_ratios_dict.py
  rct229/ruleset_functions/get_building_scc_skylight_roof_ratios_dict_test.py
  rct229/ruleset_functions/get_opaque_surface_type.py
Labels: section5, functions

#385 Added Tests for envelope: 5-2,3,5, and 8
  rct229/ruletest_engine/ruletest_jsons/envelope_tests.json
  rct229/ruletest_engine/ruletest_jsons/scripts/excel_to_test_json.py
  rct229/ruletest_engine/ruletest_jsons/scripts/run_json_schema_validation.py
Labels: rule_test

#389 Update 5-5 and 5-8 functions,
  rct229/rules/section5/__init__.py
  rct229/rules/section5/section5rule5.py
  rct229/rules/section5/section5rule8.py
  rct229/ruleset_functions/get_area_type_window_wall_area_dict.py
  rct229/ruleset_functions/get_building_scc_skylight_roof_ratios_dict.py
  rct229/ruleset_functions/get_building_scc_skylight_roof_ratios_dict_test.py
Labels: rule_definition, functions

#387 Fixed issue related to u-factors having incorrect values from TCDs.
  rct229/ruletest_engine/ruletest_jsons/envelope_tests.json
  rct229/schema/schema_utils.py
Labels: rule_test

#393 RCT/CH/equality-comparison
  rct229/utils/std_comparisons.py
  rct229/utils/std_comparisons_test.py
Labels: functions
