Repository pnnl/ruleset-checking-tool, pull requests merged in 2022-07, with the labels that each got.

#501 Rs/wx/rule6 3
  docs/section6/Rule6-3.md
  rct229/rules/section6/__init__.py
  rct229/rules/section6/section6rule3.py
  rct229/ruletest_engine/ruletest_jsons/section6/rule_6_3.json
Labels: section6

#520 Update normalize schedule and compare schedule functions
  docs/_toc.md
  docs/ruleset_functions/compare_schedules.md
  docs/ruleset_functions/normalize_interior_lighting_schedules.md
  docs/section6/Rule6-5.md
  rct229/data_fns/table_G3_7_fns.py
  rct229/data_fns/table_G3_7_fns_test.py
  rct229/rules/section5/section5rule28.py
  rct229/rules/section6/section6rule1.py
  rct229/rules/section6/section6rule2.py
  rct229/rules/section6/section6rule3.py
  rct229/rules/section6/section6rule4.py
  rct229/ruleset_functions/compare_schedule_test.py
  rct229/ruleset_functions/compare_schedules.py
  rct229/ruleset_functions/normalize_interior_lighting_schedules.py
Labels: rds, functions

#481 Rs/wx/rule6-8
  rct229/rules/section6/__init__.py
  rct229/rules/section6/section6rule8.py
Labels: section6

#504 Ruletest JSON 6-7
  rct229/ruletest_engine/ruletest_jsons/section6/rule_6_7.json
Labels: section6

#396 Rds/cml/4 14
  docs/section4/4-14.md
Labels: rds, section4, ReadytoMerge

#375 Rds/cml/10 13 a
  docs/section10/10-13A.md
Labels: rds, ReadytoMerge, section10

#253 Rds/cml/10 4
  docs/section10/10-4.md
Labels: rds, ReadytoMerge, section10

#241 Create Rule22-6.md
  docs/_toc.md
  docs/section22/Rule22-6.md
Labels: rds, ReadytoMerge, section22

#243 Create Rule22-20.md
  docs/_toc.md
  docs/section22/Rule22-20.md
Labels: rds, ReadytoMerge, section22

#246 Create Rule22-23.md
  docs/_toc.md
  docs/section22/Rule22-23.md
Labels: rds, ReadytoMerge, section22

#471 Create Rule22-37.md
  docs/_toc.md
  docs/section22/Rule22-37.md
Labels: rds, ReadytoMerge, section22

#542 Replace create_context with list_filter
  rct229/rules/section5/section5rule11.py
  rct229/rules/section5/section5rule13.py
  rct229/rules/section5/section5rule15.py
  rct229/rules/section5/section5rule17.py
  rct229/rules/section5/section5rule18.py
  rct229/rules/section5/section5rule5.py
  rct229/rules/section5/section5rule8.py
Labels: enhancement, rule_definition

#541 Rs/wx/apply messages
  docs/section5/Rule5-21.md
  docs/section6/Rule6-8.md
  rct229/rules/section5/section5rule15.py
  rct229/rules/section5/section5rule21.py
  rct229/rules/section5/section5rule24.py
  rct229/rules/section5/section5rule26.py
  rct229/rules/section5/section5rule28.py
  rct229/rules/section6/section6rule3.py
  rct229/rules/section6/section6rule4.py
Labels: enhancement, rule_definition

#547 RS/CH/unique-ids
  rct229/data_fns/table_G3_7_fns_test.py
  rct229/schema/validate.py
  rct229/schema/validate_test.py
  rct229/utils/match_lists_test.py
Labels: rule_definition
