Repository pnnl/ruleset-checking-tool, pull requests merged in 2022-04, with the labels that each got.

#394 Rs/wx/rule5 17
  docs/section5/Rule5-17.md
  rct229/rules/section5/__init__.py
  rct229/rules/section5/section5rule17.py
  rct229/rules/section5/section5rule2.py
  rct229/rules/section5/section5rule46.py
  rct229/utils/match_lists.py
Labels: section5, rule_definition

#411 Fixed issues related to u-factor and c-factor values having incorrect values
  rct229/ruletest_engine/ruletest_jsons/envelope_tests.json
Labels: rule_test

#404 Rs/yj/rule5 11
  rct229/rules/section5/__init__.py
  rct229/rules/section5/section5rule11.py
  rct229/ruleset_functions/get_zone_conditioning_category_dict.py
Labels: section5, rule_definition

#272 Updated to include purchased HHW as well.
  docs/section21/Rule21-11C.md
Labels: rds, section21, ReadytoMerge

#271 Updated to include purchased HHW as well.
  docs/section21/Rule21-11B.md
Labels: rds, section21, ReadytoMerge

#270 Updated to include purchased HHW as well.
  docs/section21/Rule21-11A.md
Labels: rds, section21, ReadytoMerge

#174 Update Rule5-18.md
  docs/section5/Rule5-18.md
Labels: section5, rds, ReadytoMerge

#170 Update Rule5-43.md
  docs/section5/Rule5-43.md
Labels: section5, rds, ReadytoMerge

#204 Create 4-3.md
  docs/_functions.md
  docs/section4/4-3.md
Labels: rds, section4, ReadytoMerge

#364 Rds/cml/4 2
  docs/section4/4-2.md
Labels: rds, section4, ReadytoMerge

#205 Create 4-4.md
  docs/section4/4-4.md
Labels: rds, section4, ReadytoMerge

#175 Update Rule5-19.md
  docs/section5/Rule5-19.md
Labels: section5, rds, ReadytoMerge

#208 Create 4-10.md
  docs/section4/4-10.md
Labels: rds, section4, ReadytoMerge

#416 Split ruletest master JSONs and clean up Section5 tests
  rct229/ruletest_engine/ruletest_jsons/envelope_tcd_latest.json
  rct229/ruletest_engine/ruletest_jsons/envelope_tests.json
  rct229/ruletest_engine/ruletest_jsons/envelope_tests_from_template.json
  rct229/ruletest_engine/ruletest_jsons/ruletest_spreadsheets/envelope_17_19.xlsx
  rct229/ruletest_engine/ruletest_jsons/ruletest_spreadsheets/envelope_27.xlsx
  rct229/ruletest_engine/ruletest_jsons/ruletest_spreadsheets/envelope_5_13_15.xlsx
  rct229/ruletest_engine/ruletest_jsons/ruletest_spreadsheets/envelope_5_16.xlsx
  rct229/ruletest_engine/ruletest_jsons/ruletest_spreadsheets/envelope_5_17_19.xlsx
  rct229/ruletest_engine/ruletest_jsons/ruletest_spreadsheets/envelope_5_26.xlsx
  rct229/ruletest_engine/ruletest_jsons/ruletest_spreadsheets/envelope_5_33.xlsx
  rct229/ruletest_engine/ruletest_jsons/ruletest_spreadsheets/envelope_5_8.xlsx
  rct229/ruletest_engine/ruletest_jsons/ruletest_spreadsheets/envelope_5_9_12.xlsx
  rct229/ruletest_engine/ruletest_jsons/ruletest_spreadsheets/envelope_tcd_5_20_25.xlsx
  rct229/ruletest_engine/ruletest_jsons/ruletest_spreadsheets/envelope_tcd_5_28_31.xlsx
  rct229/ruletest_engine/ruletest_jsons/ruletest_spreadsheets/envelope_tcd_5_34.xlsx
  rct229/ruletest_engine/ruletest_jsons/ruletest_spreadsheets/envelope_tcd_5_34_39.xlsx
  rct229/ruletest_engine/ruletest_jsons/ruletest_spreadsheets/envelope_tcd_5_45.xlsx
  rct229/ruletest_engine/ruletest_jsons/ruletest_spreadsheets/envelope_tcd_5_47.xlsx
  rct229/ruletest_engine/ruletest_jsons/ruletest_spreadsheets/envelope_tcd_5_49.xlsx
  rct229/ruletest_engine/ruletest_jsons/ruletest_spreadsheets/envelope_tcd_5_53.xlsx
  rct229/ruletest_engine/ruletest_jsons/ruletest_spreadsheets/envelope_tcd_segmentation.xlsx
  rct229/ruletest_engine/ruletest_jsons/ruletest_spreadsheets/envelope_tcd_updates_main.xlsx
  rct229/ruletest_engine/ruletest_jsons/ruletest_spreadsheets/envelope_tests_draft.xlsx
  rct229/ruletest_engine/ruletest_jsons/ruletest_spreadsheets/envelope_tests_template_draft.xlsx
  rct229/ruletest_engine/ruletest_jsons/ruletest_spreadsheets/lighting_test_draft.xlsx
  rct229/ruletest_engine/ruletest_jsons/ruletest_spreadsheets/receptacle_tests.xlsx
  rct229/ruletest_engine/ruletest_jsons/scripts/disaggregate_master_test_json.py
  rct229/ruletest_engine/ruletest_jsons/scripts/json_generation_utilities.py
  rct229/ruletest_engine/ruletest_jsons/section5/archive/envelope_17_19.json
  rct229/ruletest_engine/ruletest_jsons/section5/archive/envelope_26.json
  rct229/ruletest_engine/ruletest_jsons/section5/archive/envelope_27.json
  rct229/ruletest_engine/ruletest_jsons/section5/archive/envelope_5_13_15.json
  rct229/ruletest_engine/ruletest_jsons/section5/archive/envelope_5_16.json
  rct229/ruletest_engine/ruletest_jsons/section5/archive/envelope_5_17_19.json
  rct229/ruletest_engine/ruletest_jsons/section5/archive/envelope_5_26.json
  rct229/ruletest_engine/ruletest_jsons/section5/archive/envelope_5_2_8.json
  rct229/ruletest_engine/ruletest_jsons/section5/archive/envelope_5_33_44_46.json
  rct229/ruletest_engine/ruletest_jsons/section5/archive/envelope_5_9_12.json
  rct229/ruletest_engine/ruletest_jsons/section5/archive/envelope_example_tcds.json
  rct229/ruletest_engine/ruletest_jsons/section5/archive/envelope_tcd_5_20_25.json
  rct229/ruletest_engine/ruletest_jsons/section5/archive/envelope_tcd_5_28.json
  rct229/ruletest_engine/ruletest_jsons/section5/archive/envelope_tcd_5_28_31.json
  rct229/ruletest_engine/ruletest_jsons/section5/archive/envelope_tcd_5_34.json
  rct229/ruletest_engine/ruletest_jsons/section5/archive/envelope_tcd_5_34_39.json
  rct229/ruletest_engine/ruletest_jsons/section5/archive/envelope_tcd_5_45.json
  rct229/ruletest_engine/ruletest_jsons/section5/archive/envelope_tcd_5_47.json
  rct229/ruletest_engine/ruletest_jsons/section5/archive/envelope_tcd_5_49.json
  rct229/ruletest_engine/ruletest_jsons/section5/archive/envelope_tcd_5_53.json
  rct229/ruletest_engine/ruletest_jsons/section5/rule_5_11.json
  rct229/ruletest_engine/ruletest_jsons/section5/rule_5_2.json
  rct229/ruletest_engine/ruletest_jsons/section5/rule_5_3.json
  rct229/ruletest_engine/ruletest_jsons/section5/rule_5_44.json
  rct229/ruletest_engine/ruletest_jsons/section5/rule_5_46.json
  rct229/ruletest_engine/ruletest_jsons/section5/rule_5_5.json
  rct229/ruletest_engine/ruletest_jsons/section5/rule_5_8.json
Labels: section5, rule_test

#207 Create 4-6.md
  docs/section4/4-6.md
Labels: rds, section4, ReadytoMerge

#172 Create Rule5-53.md
  docs/section5/Rule5-53.md
Labels: section5, rds, ReadytoMerge

#406 Rds/cml/4 15
  docs/section4/4-15.md
Labels: rds, section4, ReadytoMerge

#408 Rds/cml/4 17
  docs/section4/4-17.md
Labels: rds, section4, ReadytoMerge

#206 Create 4-5.md
  docs/section4/4-5.md
Labels: rds, section4, ReadytoMerge

#192 Create Rule22-11.md
  docs/section22/Rule22-11.md
Labels: rds, ReadytoMerge, section22

#427 Add exception handling to function
  rct229/ruleset_functions/get_opaque_surface_type.py
Labels: section5, rule_definition

#430 RS/CH/Rule5-21-list_filter
  rct229/rule_engine/rule_base.py
  rct229/rules/section5/section5rule21.py
Labels: section5, rule_definition

#401 Rule 5-21 with exception handling
  docs/section5/Rule5-21.md
  rct229/rule_engine/rule_base.py
  rct229/rules/section5/__init__.py
  rct229/rules/section5/section5rule21.py
  rct229/ruletest_engine/ruletest_jsons/envelope_tests.json
  rct229/ruletest_engine/ruletest_jsons/ruletest_spreadsheets/envelope_tcd_master.xlsx
  rct229/ruletest_engine/ruletest_jsons/section5/rule_5_21.json
Labels: section5, rule_definition

#405 Rule 5-28
  docs/section5/Rule5-28.md
  rct229/rules/section5/__init__.py
  rct229/rules/section5/section5rule28.py
Labels: section5, rule_definition

#51 Add Rule5-26
  docs/section5/Rule5-26.md
Labels: section5, rds, ReadytoMerge

#409 Rds/cml/4 18
  docs/section4/4-18.md
Labels: rds, section4, ReadytoMerge

#340 Create Rule22-9.md
  docs/section22/Rule22-9.md
Labels: rds, ReadytoMerge, section22

#211 Create Rule22-34.md
  docs/section22/Rule22-34.md
Labels: rds, ReadytoMerge, section22

#391 Rds/cml/4 8
  docs/section4/4-8.md
Labels: rds, section4, ReadytoMerge

#417 Rs/wx/rule5 31
  docs/section5/Rule5-31.md
  rct229/rule_engine/rule_base.py
  rct229/rules/section5/__init__.py
  rct229/rules/section5/section5rule28.py
  rct229/rules/section5/section5rule31.py
  rct229/utils/jsonpath_utils_test.py
Labels: section5, rule_definition

#433 Rt/vt/envelope
  rct229/rules/section5/section5rule28.py
  rct229/rules/section5/section5rule31.py
  rct229/ruletest_engine/ruletest_engine.py
  rct229/ruletest_engine/ruletest_jsons/envelope_tests.json
  rct229/ruletest_engine/ruletest_jsons/ruletest_spreadsheets/envelope_tcd_master.xlsx
  rct229/ruletest_engine/ruletest_jsons/section5/rule_5_19.json
  rct229/ruletest_engine/ruletest_jsons/section5/rule_5_28.json
  rct229/ruletest_engine/ruletest_jsons/section5/rule_5_31.json
  rct229/ruletest_engine/ruletest_jsons/section5/rule_5_34.json
  rct229/ruletest_engine/ruletest_jsons/section5/rule_5_35.json
  rct229/ruletest_engine/ruletest_jsons/section5/rule_5_48.json
Labels: rule_test

#150 Create Rule5-49.md
  docs/section5/Rule5-49.md
Labels: section5, rds, ReadytoMerge

#149 Create Rule5-47.md
  docs/section5/Rule5-47.md
Labels: section5, rds, ReadytoMerge

#341 Create Rule22-10.md
  docs/section22/Rule22-10.md
Labels: rds, ReadytoMerge, section22

#407 Rds/cml/4 16
  docs/section4/4-16.md
Labels: rds, section4, ReadytoMerge

#395 Rds/cml/4 12
  docs/section4/4-12.md
Labels: rds, section4, ReadytoMerge

#392 Rds/cml/function get dict of zones hvac sys serving specific floor
  docs/ruleset_functions/get_dict_of_zones_hvac_sys_serving_specific_floor.md
Labels: rds, section4, ReadytoMerge, functions

#259 Rds/cml/function proposed hvac modeled with virtual cooling
  docs/ruleset_functions/get_proposed_hvac_modeled_with_virtual_cooling.md
Labels: rds, section4, ReadytoMerge, functions

#365 Rds/cml/function get hvac systems associated with zone
  docs/ruleset_functions/get_list_hvac_systems_associated_with_zone.md
Labels: rds, ReadytoMerge, functions

#419 Create get_aggregated_zone_hvac_fan_operating_schedule.md
  docs/ruleset_functions/get_aggregated_zone_hvac_fan_operating_schedule.md
Labels: section4, ReadytoMerge, functions

#390 Rds/cml/function get min oa cfm sch zone
  docs/ruleset_functions/get_min_OA_CFM_sch_zone.md
Labels: section4, ReadytoMerge, functions

#384 Rds/cml/get hvac systems serving zone health safety vent reqs
  docs/ruleset_functions/get_hvac_systems_serving_zone_health_safety_vent_reqs.md
Labels: section4, ReadytoMerge, functions

#425 Rs/wx/rule5 34
  docs/section5/Rule5-34.md
  rct229/rule_engine/rule_base.py
  rct229/rules/section5/__init__.py
  rct229/rules/section5/section5rule28.py
  rct229/rules/section5/section5rule31.py
  rct229/rules/section5/section5rule34.py
  rct229/ruleset_functions/get_building_segment_skylight_roof_areas_dict.py
  rct229/ruletest_engine/ruletest_engine.py
  rct229/ruletest_engine/ruletest_jsons/envelope_tests.json
  rct229/ruletest_engine/ruletest_jsons/section5/rule_5_34.json
Labels: section5, rule_definition

#428 RS/YJ/Rule5-35
  docs/section5/Rule5-35.md
  rct229/rules/section5/__init__.py
  rct229/rules/section5/section5rule35.py
  rct229/ruletest_engine/ruletest_jsons/envelope_tests.json
  rct229/ruletest_engine/ruletest_jsons/section5/rule_5_18.json
  rct229/ruletest_engine/ruletest_jsons/section5/rule_5_21.json
  rct229/ruletest_engine/ruletest_jsons/section5/rule_5_34.json
  rct229/ruletest_engine/ruletest_jsons/section5/rule_5_35.json
Labels: section5, rule_definition
