Repository pnnl/ruleset-checking-tool, pull requests merged in 2022-11, with the labels that each got.

#755 Rx/wx/update test with primary secondary loops
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_heating_loops_attached_to_boiler.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_heating_loops_purchased_heating.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_supplies_ducted.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_types_CAV.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_types_CAV_with_none_equal_to_null.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_cooling_type_DX.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_fan_sys_CV.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_fluid_loop_attached_to_boiler.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_fluid_loop_attached_to_chiller.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_heating_type_elec_resistance.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_preheat_fluid_loop_attached_to_boiler.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/test_is_hvac_sys_fluid_loop_attached_to_chiller.py
  rct229/ruleset_functions/baseline_systems/baseline_system_util.py
  rct229/ruleset_functions/baseline_systems/is_baseline_system_11_1.py
  rct229/ruleset_functions/baseline_systems/test_is_baseline_system_11_1.py
  rct229/ruleset_functions/baseline_systems/test_is_baseline_system_11_2.py
  rct229/ruleset_functions/baseline_systems/test_is_baseline_system_7.py
Labels: rule_definition

#726 RS+RT/YJ/RULE22-29
  docs/section22/Rule22-29.md
  rct229/rules/section22/__init__.py
  rct229/rules/section22/section22rule29.py
  rct229/ruletest_engine/ruletest_jsons/chiller_tests.json
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_29.json
  rct229/utils/pint_utils.py
Labels: rule_definition, rule_test

#727 RS+RT/YJ/RULE22-30
  docs/section22/Rule22-30.md
  rct229/rules/section22/__init__.py
  rct229/rules/section22/section22rule30.py
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_30.json
Labels: rule_definition, rule_test

#741 Update get_primary_secondary_loops.md
  docs/ruleset_functions/get_primary_secondary_loops_dict.md
Labels: rds, ReadytoMerge, functions

#694 RS+RT/YJ/RULE 22-23
  docs/section22/Rule22-23.md
  rct229/rules/section22/__init__.py
  rct229/rules/section22/section22rule23.py
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_23.json
Labels: rule_definition, rule_test, section22

#752 RS+RT/YJ/RULE2-33
  docs/section22/Rule22-33.md
  rct229/rules/section22/__init__.py
  rct229/rules/section22/section22rule33.py
  rct229/ruletest_engine/ruletest_jsons/chiller_tests.json
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_33.json
Labels: rule_definition, rule_test, section22

#753 RS+RT/YH/RULE 22-34
  docs/section22/Rule22-34.md
  rct229/rules/section22/__init__.py
  rct229/rules/section22/section22rule34.py
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_34.json
Labels: rule_definition, rule_test, section22

#787 RS + RT/YJ/RULE 22-11
  docs/section22/Rule22-11.md
  rct229/rules/section22/__init__.py
  rct229/rules/section22/section22rule11.py
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_11.json
  rct229/utils/pint_utils.py
Labels: rule_definition, rule_test, section22

#784 RS+RT/YJ/RULE 22-22
  docs/section22/Rule22-22.md
  rct229/data_fns/table_3_5_3_fns_test.py
  rct229/data_fns/table_G3_5_3_fns.py
  rct229/data_fns/table_G3_5_3_fns_test.py
  rct229/rules/section22/__init__.py
  rct229/rules/section22/section22rule22.py
  rct229/utils/pint_utils.py
Labels: rule_definition, rule_test, section22

#783 RS+RT/YJ/RULE 22-9
  docs/section22/Rule22-9.md
  rct229/rules/section22/__init__.py
  rct229/rules/section22/section22rule9.py
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_9.json
Labels: rule_definition, rule_test, section22

#754 RS/YJ/CHECK_PURCHASED_CHW_HHW
  docs/ruleset_functions/check_purchased_chw_hhw_status_dict.md
  rct229/ruleset_functions/check_purchased_chw_hhw_status_dict.py
  rct229/ruleset_functions/check_purchased_chw_hhw_status_dict_test.py
Labels: functions

#748 RS/CH/Rule22-32
  docs/section22/Rule22-32.md
  rct229/rules/section22/__init__.py
  rct229/rules/section22/section22rule32.py
  rct229/ruletest_engine/ruletest_jsons/chiller_tests.json
  rct229/ruletest_engine/ruletest_jsons/scripts/resources/json_pointer_enumerations.json
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_32.json
  rct229/schema/ASHRAE229.schema.json
Labels: rule_definition

#742 RS/CH/Rule22-40
  docs/section22/Rule22-40.md
  rct229/rules/section22/__init__.py
  rct229/rules/section22/section22rule40.py
  rct229/ruletest_engine/ruletest_jsons/chiller_tests.json
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_40.json
Labels: rule_definition, section22, functions

#790 RS/YJ/RULE 22-31
  docs/section22/Rule22-31.md
  rct229/rules/section22/__init__.py
  rct229/rules/section22/section22rule31.py
Labels: rule_definition, section22

#794 RS+RT/YJ/RULE 22-14 (Small Fix)
  rct229/rules/section22/section22rule14.py
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_14.json
Labels: rule_definition, rule_test, section22

#798 RT/YJ/RULE 22-40 (Minor Fix)
  rct229/ruletest_engine/ruletest_jsons/chiller_tests.json
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_40.json
Labels: section22

#789 RS/YJ/RULE 22-21
  docs/section22/Rule22-21.md
  rct229/rules/section22/__init__.py
  rct229/rules/section22/section22rule21.py
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_21.json
Labels: rule_definition, section22

#758 Rs/wx/rule22 24
  docs/section22/Rule22-24.md
  rct229/rules/section22/__init__.py
  rct229/rules/section22/section22rule24.py
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_24.json
Labels: rule_definition

#759 Rs/wx/rule22 25
  docs/section22/Rule22-25.md
  rct229/rules/section22/__init__.py
  rct229/rules/section22/section22rule25.py
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_25.json
Labels: rule_definition

#760 Rs/wx/rule22 26
  docs/section22/Rule22-26.md
  rct229/rules/section22/__init__.py
  rct229/rules/section22/section22rule26.py
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_26.json
Labels: rule_definition

#782 RS+RT/YJ/RULE 22-8
  docs/section22/Rule22-8.md
  rct229/rules/section22/__init__.py
  rct229/rules/section22/section22rule8.py
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_8.json
Labels: rule_definition, rule_test, section22

#570 Rds/cml/function are all terminal chw loops purchased cooling
  docs/_toc.md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_CHW_loops_purchased_cooling.md
Labels: rds, ReadytoMerge, functions, open comments

#260 Rds/cml/function get proposed hvac modeled with virtual heating
  docs/_toc.md
  docs/ruleset_functions/get_fuels_modeled_in_RMD.md
  docs/ruleset_functions/get_proposed_hvac_modeled_with_virtual_heating.md
Labels: rds, section4, ReadytoMerge, functions
