Repository pnnl/ruleset-checking-tool, pull requests merged in 2022-10, with the labels that each got.

#673 Complete is_hvac_sys_cooling_type_none
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_cooling_type_none.md
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_cool_sources_none_or_null.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_fans_null.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_heat_sources_hot_water.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_heat_sources_none_or_null.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_heating_loops_attached_to_boiler.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_heating_loops_purchased_heating.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_supplies_ducted.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_types_CAV.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_types_VAV.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/does_each_zone_have_only_one_terminal.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_cooling_type_DX.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_cooling_type_fluid_loop.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_cooling_type_none.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_fan_sys_CV.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_fan_sys_VSD.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_fluid_loop_attached_to_boiler.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_fluid_loop_attached_to_chiller.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_fluid_loop_purchased_CHW.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_fluid_loop_purchased_heating.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_heating_type_elec_resistance.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_heating_type_fluid_loop.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_heating_type_furnace.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_heating_type_heat_pump.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_preheat_fluid_loop_attached_to_boiler.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_preheat_fluid_loop_purchased_heating.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_preheating_type_fluid_loop.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/test_are_all_terminal_cool_sources_none_or_null.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/test_are_all_terminal_fans_null.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/test_are_all_terminal_heat_sources_hot_water.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/test_are_all_terminal_heat_sources_none_or_null.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/test_is_hvac_sys_cooling_type_none.py
  rct229/ruleset_functions/baseline_systems/baseline_system_util.py
  rct229/ruleset_functions/baseline_systems/is_baseline_system_7.py
Labels: rule_definition, functions

#666 RS+RT/YJ/Rule 22-5
  docs/section22/Rule22-5.md
  rct229/rules/section22/__init__.py
  rct229/rules/section22/section22rule5.py
  rct229/ruletest_engine/ruletest_jsons/chiller_tests.json
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_5.json
Labels: rule_definition, section22

#667 RS+RT/YJ/RULE 22-6
  docs/section22/Rule22-6.md
  rct229/rules/section22/__init__.py
  rct229/rules/section22/section22rule6.py
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_6.json
Labels: rule_definition, section22

#668 RS+RT/YJ/RULE 22-14
  rct229/rules/section22/__init__.py
  rct229/rules/section22/section22rule14.py
  rct229/ruletest_engine/ruletest_jsons/ruletest_spreadsheets/vijay_example.xlsx
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_14.json
Labels: rule_definition, section22

#678 RS+RT/YJ/RULE 22-19
  rct229/rules/section22/__init__.py
  rct229/rules/section22/section22rule19.py
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_19.json
  rct229/schema/resources/unit_conventions.json
Labels: rule_definition, section22

#674 Complete is_hvac_sys_preheating_type_elec_resistance
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_preheating_type_elec_resistance.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/test_is_hvac_sys_preheating_type_elec_resistance.py
Labels: rule_definition, functions

#675 Complete is_hvac_system_multizone
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_system_multizone.py
Labels: rule_definition, functions

#677 Complete are_all_terminal_heat_sources_electric
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_fan_configs_parallel.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/test_are_all_terminal_fan_configs_parallel.py
Labels: rule_definition, functions

#679 Complete are_all_terminal_cool_sources_chilled_water
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_cool_sources_chilled_water.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/test_are_all_terminal_cool_sources_chilled_water.py
Labels: rule_definition, functions

#686 Complete table G3_1_3_7 and G3_5_3
  rct229/data/ashrae_90_1_table_3_2.json
  rct229/data/ashrae_90_1_table_G3_1_3_11.json
  rct229/data/ashrae_90_1_table_G3_5_3.json
  rct229/data_fns/table_3_1_3_11_fns.py
  rct229/data_fns/table_3_1_3_11_fns_test.py
  rct229/data_fns/table_3_2_fns.py
  rct229/data_fns/table_3_2_fns_test.py
  rct229/data_fns/table_3_5_3_fns.py
  rct229/data_fns/table_3_5_3_fns_test.py
Labels: rule_definition, functions

#671 Create Rule22-41.md
  docs/_toc.md
  docs/section22/Rule22-41.md
Labels: rds, ReadytoMerge, section22

#703 Complete is baseline system type 11_2
  docs/ruleset_functions/baseline_systems/is_baseline_system_11.2.md
  rct229/ruleset_functions/baseline_systems/baseline_system_util.py
  rct229/ruleset_functions/baseline_systems/is_baseline_system_11_2.py
  rct229/ruleset_functions/baseline_systems/test_is_baseline_system_11_2.py
Labels: functions

#701 Rs/wx/is baseline system 11 1
  docs/ruleset_functions/baseline_systems/is_baseline_system_11.1.md
  docs/ruleset_functions/baseline_systems/is_baseline_system_11.2.md
  rct229/ruleset_functions/baseline_systems/baseline_system_util.py
  rct229/ruleset_functions/baseline_systems/is_baseline_system_11_1.py
  rct229/ruleset_functions/baseline_systems/is_baseline_system_7.py
  rct229/ruleset_functions/baseline_systems/test_is_baseline_system_11_1.py
Labels: functions

#706 Fixed errors mentioned in issue 699
  rct229/ruletest_engine/ruletest_jsons/boiler_tests.json
  rct229/ruletest_engine/ruletest_jsons/section21/rule_21_11.json
  rct229/ruletest_engine/ruletest_jsons/section21/rule_21_16.json
  rct229/ruletest_engine/ruletest_jsons/section21/rule_21_3.json
Labels: rule_test

#700 Rs/wx/get baseline system types
  docs/ruleset_functions/get_baseline_system_types.md
  docs/section21/Rule21-11.md
  docs/section21/Rule21-12.md
  docs/section21/Rule21-13.md
  docs/section21/Rule21-16.md
  rct229/rules/section21/section21rule11.py
  rct229/rules/section21/section21rule12.py
  rct229/rules/section21/section21rule13.py
  rct229/rules/section21/section21rule16.py
  rct229/rules/section21/section21rule17.py
  rct229/rules/section21/section21rule18.py
  rct229/rules/section21/section21rule3.py
  rct229/rules/section21/section21rule4.py
  rct229/rules/section21/section21rule6.py
  rct229/rules/section21/section21rule7.py
  rct229/rules/section21/section21rule9.py
  rct229/ruleset_functions/baseline_systems/baseline_system_util.py
  rct229/ruleset_functions/get_baseline_system_types.py
  rct229/ruleset_functions/get_baseline_system_types_test.py
  rct229/ruleset_functions/get_dict_of_zones_and_terminal_units_served_by_hvac_sys.py
  rct229/ruleset_functions/get_dict_of_zones_and_terminal_units_served_by_hvac_sys_test.py
  rct229/ruletest_engine/ruletest_engine.py
  rct229/ruletest_engine/run_ruletests.py
Labels: functions

#712 Baseline System 1 RMD
  rct229/ruleset_functions/baseline_systems/test_is_baseline_system_1.py
  rct229/ruletest_engine/ruletest_jsons/system_types/System_1_PTAC.json
  rct229/ruletest_engine/ruletest_jsons/system_types/System_1a_PTAC.json
  rct229/ruletest_engine/ruletest_jsons/system_types/System_1b_PTAC.json
  rct229/ruletest_engine/ruletest_jsons/system_types/System_1c_PTAC.json
Labels: rule_test

#713 Baseline System 2 RMD
  rct229/ruleset_functions/baseline_systems/test_is_baseline_system_2.py
  rct229/ruletest_engine/ruletest_jsons/system_types/System_2_PTHP.json
Labels: rule_test

#714 Baseline System 3 RMD
  rct229/ruleset_functions/baseline_systems/test_is_baseline_system_1.py
  rct229/ruleset_functions/baseline_systems/test_is_baseline_system_3.py
  rct229/ruletest_engine/ruletest_jsons/system_types/System_3_PSZ_AC_Gas_Furnace.json
Labels: rule_test

#217 Create get_loop_zone_list_w_area.md
  docs/_toc.md
  docs/ruleset_functions/get_hvac_zone_list_w_area.md
  docs/ruleset_functions/get_hw_loop_zone_list_w_area.md
Labels: rds, ReadytoMerge, functions

#215 Create check_purchased_chw_hhw.md
  docs/_toc.md
  docs/ruleset_functions/check_purchased_chw_hhw.md
Labels: rds, ReadytoMerge, functions

#724 compplete the all terminal types CAV with none equal to null
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_types_CAV.md
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_types_CAV.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_types_CAV_with_none_equal_to_null.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/test_are_all_terminal_types_CAV.py
Labels: functions

#725 add error handling
  rct229/ruleset_functions/get_baseline_system_types.py
Labels: rule_definition

#729 Complete the function get_hw_loop_zone_list_w_area
  docs/ruleset_functions/get_hw_loop_zone_list_w_area.md
  rct229/ruleset_functions/get_hw_loop_zone_list_w_area_dict.py
  rct229/ruleset_functions/get_hw_loop_zone_list_w_area_dict_test.py
Labels: rule_definition, section21, functions

#715 Baseline System 4 RMD
  rct229/ruleset_functions/baseline_systems/test_is_baseline_system_4.py
  rct229/ruletest_engine/ruletest_jsons/system_types/System_4_PSZ_HP.json
Labels: rule_test

#716 Baseline System 5 RMD
  docs/ruleset_functions/baseline_systems/is_baseline_system_5.md
  rct229/ruleset_functions/baseline_systems/test_is_baseline_system_1.py
  rct229/ruleset_functions/baseline_systems/test_is_baseline_system_2.py
  rct229/ruleset_functions/baseline_systems/test_is_baseline_system_3.py
  rct229/ruleset_functions/baseline_systems/test_is_baseline_system_5.py
  rct229/ruletest_engine/ruletest_jsons/system_types/System_5_PVAV_HW_Reheat.json
  rct229/ruletest_engine/ruletest_jsons/system_types/System_5b_PVAV_HW_Reheat.json
Labels: rule_test

#736 Rs/wx/rule21 10
  docs/section21/Rule21-10.md
  rct229/rules/section21/__init__.py
  rct229/rules/section21/section21rule10.py
  rct229/ruletest_engine/ruletest_jsons/boiler_tests.json
  rct229/ruletest_engine/ruletest_jsons/section21/rule_21_10.json
Labels: rule_definition, section21

#593 Ruletest 21-10 JSON
  rct229/ruletest_engine/ruletest_jsons/boiler_tests.json
  rct229/ruletest_engine/ruletest_jsons/section21/rule_21_10.json
Labels: rule_test

#735 Rs/wx/rule21 5
  docs/section21/Rule21-5.md
  rct229/rules/section21/__init__.py
  rct229/rules/section21/section21rule5.py
  rct229/ruleset_functions/get_zone_conditioning_category_dict.py
  rct229/ruletest_engine/ruletest_jsons/section21/rule_21_5.json
Labels: rule_definition, section21
