Repository pnnl/ruleset-checking-tool, pull requests merged in 2022-09, with the labels that each got.

#592 Rs/wx/is hvac sys preheat fluid loop attached to boiler
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_fan_configs_parallel.md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_heat_sources_electric.md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_heat_sources_hot_water(hvac.id).md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_heating_loops_purchased_heating.md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_types_VAV.md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/do_all_terminals_have_one_fan.md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_cooling_type_none.md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_heating_type_elec_resistance.md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_heating_type_furnace.md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_preheat_fluid_loop_attached_to_boiler.md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_preheat_fluid_loop_purchased_heating.md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_preheating_type_elec_resistance.md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_preheating_type_fluid_loop.md
  rct229/ruleset_functions/baseline_systems/__init__.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/__init__.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_preheat_fluid_loop_attached_to_boiler.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/test_is_hvac_sys_preheat_fluid_loop_attached_to_boiler.py
Labels: rule_definition, functions

#588 RS/YJ/RULE 21-11
  rct229/rules/section21/__init__.py
  rct229/rules/section21/section21rule11.py
  rct229/ruletest_engine/ruletest_jsons/boiler_tests.json
  rct229/ruletest_engine/ruletest_jsons/section21/rule_21_11.json
Labels: rule_definition, section21

#589 RS/YJ/RULE 21-12
  docs/section21/Rule21-12.md
  rct229/rules/section21/__init__.py
  rct229/rules/section21/section21rule12.py
  rct229/ruletest_engine/ruletest_jsons/section21/rule_21_12.json
Labels: rule_definition, section21

#590 RS/YJ/RULE 21-13
  rct229/rules/section21/__init__.py
  rct229/rules/section21/section21rule13.py
  rct229/ruletest_engine/ruletest_jsons/section21/rule_21_13.json
Labels: rule_definition, section21

#603 RS/YJ/Rule21-18
  rct229/rules/section21/__init__.py
  rct229/rules/section21/section21rule18.py
Labels: rule_definition, section21

#563 Rt/yj/ruletest 6 2
  docs/section6/Rule6-2.md
  rct229/rules/section6/section6rule2.py
Labels: section6, rule_test

#490 Create is_hvac_sys_cooling_type_DX(hvac_b.id).md
  docs/_toc.md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_fan_configs_parallel.md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_heat_sources_electric.md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_heat_sources_hot_water(hvac.id).md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_heating_loops_purchased_heating.md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_types_VAV.md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/do_all_terminals_have_one_fan.md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_cooling_type_DX.md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_cooling_type_none.md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_heating_type_elec_resistance.md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_heating_type_furnace.md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_preheat_fluid_loop_attached_to_boiler.md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_preheat_fluid_loop_purchased_heating.md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_preheating_type_elec_resistance.md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_preheating_type_fluid_loop.md
Labels: rds, ReadytoMerge, functions

#492 Create is_hvac_sys_fan_sys_CV(hvac_b.id).md
  docs/_toc.md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_fan_sys_CV.md
Labels: rds, ReadytoMerge, functions

#518 Rds/cml/function is_hvac_sys_heating_type_heat_pump
  docs/_toc.md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_heating_type_heat_pump.md
Labels: rds, ReadytoMerge, functions

#493 Create is_hvac_sys_fluid_loop_attached_to_boiler(hvac_b.id).md
  docs/_toc.md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_fluid_loop_attached_to_boiler.md
Labels: rds, ReadytoMerge, functions

#489 Create does_hvac_system_serve_single_zone.md
  docs/_toc.md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/does_hvac_system_serve_single_zone.md
Labels: rds, ReadytoMerge, functions

#491 Create is_hvac_sys_heating_type_fluid_loop(hvac_b.id).md
  docs/_toc.md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_heating_type_fluid_loop.md
Labels: rds, ReadytoMerge, functions

#496 Create is_hvac_sys_cooling_type_fluid_loop.md
  docs/_toc.md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_cooling_type_fluid_loop.md
Labels: rds, ReadytoMerge, functions

#522 Create is_there_only_one_hvac_sys_heating_system.md
  docs/_toc.md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_there_only_one_hvac_sys_heating_system.md
Labels: rds, ReadytoMerge, functions

#514 Create are_all_terminal_supplies_ducted.md
  docs/_toc.md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_supplies_ducted.md
Labels: rds, ReadytoMerge, functions

#510 Create are_all_terminal_heat_sources_none_or_nullmd
  docs/_toc.md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_heat_sources_none_or_null.md
Labels: rds, ReadytoMerge, functions

#511 Create are_all_terminal_cool_sources_none_or_null.md
  docs/_toc.md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_cool_sources_none_or_null.md
Labels: rds, ReadytoMerge, functions

#480 Rds/cml/is baseline system 1(hvac id)
  docs/_toc.md
  docs/ruleset_functions/baseline_systems/is_baseline_system_1.md
Labels: rds, ReadytoMerge, functions

#517 Create is_baseline_system_2(hvac.id).md
  docs/_toc.md
  docs/ruleset_functions/baseline_systems/is_baseline_system_2.md
Labels: rds, ReadytoMerge, functions

#519 Create is_baseline_system_4(hvac.id).md
  docs/_toc.md
  docs/ruleset_functions/baseline_systems/is_baseline_system_4.md
Labels: rds, ReadytoMerge, functions

#529 Create is_hvac_sys_fluid_loop_attached_to_chiller(hvac.id).md
  docs/_toc.md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_fan_configs_parallel.md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_heat_sources_electric.md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_heat_sources_hot_water(hvac.id).md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_types_VAV.md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_fluid_loop_attached_to_chiller.md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_heating_type_elec_resistance.md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_heating_type_furnace.md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_preheat_fluid_loop_purchased_heating.md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_preheating_type_elec_resistance.md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_preheating_type_fluid_loop.md
Labels: rds, ReadytoMerge, functions

#556 Rds/cml/function is baseline system 9
  docs/_toc.md
  docs/ruleset_functions/baseline_systems/is_baseline_system_2.md
  docs/ruleset_functions/baseline_systems/is_baseline_system_9.md
Labels: rds, ReadytoMerge, functions

#558 Rds/cml/function is baseline system 10
  docs/_toc.md
  docs/ruleset_functions/baseline_systems/is_baseline_system_10.md
Labels: rds, ReadytoMerge, functions

#553 Rds/cml/function is baseline system 7
  docs/_toc.md
  docs/ruleset_functions/baseline_systems/is_baseline_system_7.md
Labels: rds, ReadytoMerge, functions

#554 Create is_baseline_system_8.md
  docs/_toc.md
  docs/ruleset_functions/baseline_systems/is_baseline_system_8.md
Labels: rds, ReadytoMerge, functions

#534 Create is_baseline_system_3.md
  docs/ruleset_functions/is_baseline_system_3.md
Labels: rds, ReadytoMerge, functions

#526 Create does_each_zone_have_only_one_terminal(hvac.id).md
  docs/_toc.md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/does_each_zone_have_only_one_terminal.md
Labels: rds, ReadytoMerge, functions

#540 Rds/cml/function is baseline system 5
  docs/_toc.md
  docs/ruleset_functions/baseline_systems/is_baseline_system_5.md
Labels: rds, ReadytoMerge, functions

#552 Rds/cml/function is baseline system 6
  docs/_toc.md
  docs/ruleset_functions/baseline_systems/is_baseline_system_3.md
  docs/ruleset_functions/baseline_systems/is_baseline_system_6.md
Labels: rds, ReadytoMerge, functions

#495 Create is_hvac_sys_fluid_loop_purchased_CHW.md
  docs/_toc.md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_fluid_loop_purchased_CHW.md
Labels: rds, ReadytoMerge, functions

#512 Create are_all_terminal_fans_null.md
  docs/_toc.md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_fans_null.md
Labels: rds, ReadytoMerge, functions

#513 Create are_all_terminal_types_CAV.md
  docs/_toc.md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_types_CAV.md
Labels: rds, ReadytoMerge, functions

#525 Rds/cml/function are all terminal cool sources chilled water
  docs/_toc.md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_cool_sources_chilled_water.md
Labels: rds, ReadytoMerge, functions

#615 implement are all terminal cool sources none or null
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_cool_sources_none_or_null.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/test_are_all_terminal_cool_sources_none_or_null.py
Labels: rule_definition, functions

#612 Rs/wx/is hvac sys heating type fluid loop
  docs/_toc.md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_heating_type_fluid_loop.md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_there_only_one_hvac_sys_heating_system.md
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_heating_type_fluid_loop.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/test_is_hvac_sys_heating_type_fluid_loop.py
Labels: rule_definition, functions

#613 Rs/wx/is hvac sys cooling type fluid loop
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_cooling_type_fluid_loop.md
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_cooling_type_fluid_loop.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/test_is_hvac_sys_cooling_type_fluid_loop.py
Labels: rule_definition, functions

#614 Complete all terminal heat source none or null
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_heat_sources_none_or_null.md
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_heat_sources_none_or_null.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/test_are_all_terminal_heat_sources_none_or_null.py
Labels: rule_definition, functions

#617 update toc
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_preheat_fluid_loop_purchased_heating.md
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_preheat_fluid_loop_purchased_heating.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/test_is_hvac_sys_preheat_fluid_loop_purchased_heating.py
Labels: rule_definition, functions

#606 complete implementation for the function.
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_preheating_type_fluid_loop.md
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_preheating_type_fluid_loop.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/test_is_hvac_sys_preheating_type_fluid_loop.py
Labels: rule_definition, functions

#535 Rds/cml/function is hvac sys fan sys vsd
  docs/_toc.md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_fan_sys_VSD.md
Labels: rds, ReadytoMerge, functions

#533 Create are_all_terminal_heating_loops_attached_to_boiler.md
  docs/_toc.md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_heating_loops_attached_to_boiler.md
Labels: rds, ReadytoMerge, functions

#616 Rs/wx/does hvac system serve single zone
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/does_hvac_system_serve_single_zone.py
Labels: rule_definition, functions

#527 Create is_hvac_system_multizone(hvac.id).md
  docs/_toc.md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_system_multizone.md
Labels: rds, ReadytoMerge, functions

#494 Create is_hvac_sys_fluid_loop_purchased_heating.md
  docs/_toc.md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_fluid_loop_purchased_heating.md
Labels: rds, ReadytoMerge, functions

#367 Rds/cml/function get hvac systems primarily serving comp rooms
  docs/_toc.md
  docs/ruleset_functions/get_HVAC_systems_primarily_serving_comp_rooms.md
Labels: rds, section4, ReadytoMerge, functions

#235 Rds/cml/4 11
  docs/_toc.md
  docs/section4/4-11.md
Labels: rds, section4, ReadytoMerge

#376 Rds/cml/10 13 b
  docs/_toc.md
  docs/section10/10-13B.md
Labels: rds, ReadytoMerge, section10

#602 RS/YJ/Rule21-17
  rct229/rules/section21/__init__.py
  rct229/rules/section21/section21rule17.py
Labels: rule_definition, section21

#598 RS/CH/calc_q_for_all
  rct229/rules/section5/section5rule11.py
  rct229/rules/section5/section5rule13.py
  rct229/rules/section5/section5rule15.py
  rct229/rules/section5/section5rule17.py
  rct229/rules/section5/section5rule21.py
  rct229/rules/section5/section5rule24.py
  rct229/rules/section5/section5rule28.py
  rct229/rules/section5/section5rule36.py
  rct229/rules/section5/section5rule37.py
  rct229/rules/section5/section5rule47.py
  rct229/rules/section5/section5rule48.py
  rct229/rules/section5/section5rule49.py
  rct229/rules/section5/section5rule8.py
  rct229/rules/section6/section6rule1.py
  rct229/rules/section6/section6rule2.py
  rct229/rules/section6/section6rule3.py
  rct229/schema/ASHRAE229.schema.json
Labels: rule_definition, functions

#591 Rs/wx/rule21 6
  docs/section21/Rule21-6.md
  rct229/rules/section21/__init__.py
  rct229/rules/section21/section21rule6.py
  rct229/rules/section6/section6rule2.py
  rct229/ruletest_engine/ruletest_jsons/section21/rule_21_6.json
Labels: rule_definition, section21

#257 Rds/cml/10 9
  docs/_toc.md
  docs/section10/10-9.md
Labels: rds, ReadytoMerge, section10

#571 Rds/cml/function is baseline system 1c
  docs/_toc.md
  docs/ruleset_functions/baseline_systems/is_baseline_system_1c.md
Labels: rds, ReadytoMerge, functions

#248 Rds/cml/10 1
  docs/_toc.md
  docs/section10/10-1.md
Labels: rds, ReadytoMerge, section10

#601 RS/YJ/RULE21-16
  rct229/rules/section21/__init__.py
  rct229/rules/section21/section21rule16.py
Labels: rule_definition, section21

#629 Complete are_all_terminal_fans_null
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_fans_null.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/test_are_all_terminal_fans_null.py
Labels: rule_definition, functions

#630 Complete are_all_terminal_heat_sources_hot_water
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_heat_sources_hot_water.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/test_are_all_terminal_heat_sources_hot_water.py
Labels: rule_definition, functions

#632 Complete are_all_terminal_types_VAV
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_types_VAV.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/test_are_all_terminal_types_VAV.py
Labels: rule_definition, functions

#633 Complete is_hvac_sys_fan_sys_VSD
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_fan_sys_VSD.md
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_fan_sys_VSD.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/test_is_hvac_sys_fan_sys_vsd.py
Labels: rule_definition, functions

#625 Complete function cooling_fluid_loop_purchased_cooling
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_fluid_loop_purchased_CHW.md
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_fluid_loop_purchased_CHW.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/test_is_hvac_sys_fluid_loop_purchased_chw.py
Labels: rule_definition, functions

#628 Complete does_each_zone_have_only_one_terminal
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/does_each_zone_have_only_one_terminal.md
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/does_each_zone_have_only_one_terminal.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/test_does_each_zone_have_only_one_terminal.py
Labels: rule_definition, functions

#631 Complete are_all_terminal_heating_loops_purchased_heating
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_heating_loops_purchased_heating.md
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_heating_loops_purchased_heating.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/test_are_all_terminal_heating_loops_purchased_heating.py
Labels: rule_definition, functions

#634 Complete are_all_terminal_heating_loops_attached_to_boiler
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_heating_loops_attached_to_boiler.md
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_heating_loops_attached_to_boiler.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/test_are_all_terminal_heating_loops_attached_to_boiler.py
Labels: rule_definition, functions

#637 Complete is_hvac_sys_fluid_loop_purchased_heating
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_heating_loops_purchased_heating.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_fluid_loop_purchased_heating.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/test_is_hvac_sys_fluid_loop_purchased_heating.py
Labels: rule_definition, functions

#626 Complete is_hvac_sys_fluid_loop_attached_to_chiller
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_fluid_loop_attached_to_chiller.md
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_fluid_loop_attached_to_chiller.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/test_is_hvac_sys_fluid_loop_attached_to_chiller.py
Labels: rule_definition, functions

#635 RS/YJ/RULE21-9
  docs/section21/Rule21-9.md
  rct229/rules/section21/__init__.py
  rct229/rules/section21/section21rule9.py
  rct229/schema/ASHRAE229.schema.json
  rct229/schema/resources/unit_registry.txt
Labels: rule_definition, section21

#639 RS/YJ/RULE_22_1
  docs/section22/Rule22-1.md
  rct229/rules/__init__.py
  rct229/rules/section22/__init__.py
  rct229/rules/section22/section22rule1.py
  rct229/ruletest_engine/ruletest_engine.py
  rct229/ruletest_engine/run_ruletests.py
  rct229/schema/config_functions.py
  rct229/utils/pint_utils.py
Labels: rule_definition, section22

#640 RS/YJ/RULE_22_2
  docs/section22/Rule22-2.md
  rct229/rules/section22/__init__.py
  rct229/rules/section22/section22rule2.py
  rct229/ruletest_engine/ruletest_engine.py
Labels: rule_definition, section22

#638 RS/YJ/RULE_21_7
  docs/section21/Rule21-7.md
  rct229/rules/section21/__init__.py
  rct229/rules/section21/section21rule7.py
Labels: rule_definition, section21

#651 Rs/wx/baseline system 7
  Pipfile.lock
  docs/ruleset_functions/baseline_systems/is_baseline_system_7.md
  rct229/ruleset_functions/baseline_systems/baseline_system_util.py
  rct229/ruleset_functions/baseline_systems/is_baseline_system_7.py
  rct229/ruleset_functions/baseline_systems/test_is_baseline_system_7.py
Labels: rule_definition, functions

#568 Rt/yj/ruletest 6 1
  docs/section6/Rule6-1.md
  rct229/rule_engine/rule_base.py
  rct229/rules/section6/section6rule1.py
Labels: section6, rule_test

#559 Rds/cml/function is baseline system 11.1
  docs/_toc.md
  docs/ruleset_functions/baseline_systems/is_baseline_system_11.1.md
Labels: rds, ReadytoMerge, functions

#560 Create is_baseline_system_11.2.md
  docs/_toc.md
  docs/ruleset_functions/baseline_systems/is_baseline_system_11.2.md
Labels: rds, ReadytoMerge, functions

#561 Create is_baseline_system_12.md
  docs/_toc.md
  docs/ruleset_functions/baseline_systems/is_baseline_system_12.md
Labels: rds, ReadytoMerge, functions

#562 Create is_baseline_system_13.md
  docs/_toc.md
  docs/ruleset_functions/baseline_systems/is_baseline_system_13.md
Labels: rds, ReadytoMerge, functions

#223 Create get_baseline_system_types.md
  docs/_toc.md
  docs/ruleset_functions/get_baseline_system_types.md
Labels: rds, ReadytoMerge, functions

#523 Create get_dict_of_zones_and_terminal_units_served_by_hvac_sys(hvac.id).md
  docs/_toc.md
  docs/ruleset_functions/get_dict_of_zones_and_terminal_units_served_by_hvac_sys.md
  docs/ruleset_functions/is_baseline_system_1(HVAC_id).md
Labels: rds, ReadytoMerge, functions

#609 Update is_hvac_sys_preheat_fluid_loop_purchased_heating.md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_heating_type_elec_resistance.md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_preheat_fluid_loop_purchased_heating.md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_preheating_type_elec_resistance.md
Labels: rds, ReadytoMerge, functions

#623 Create are_all_terminal_types_CAV_With_None_Equal_to_Null.md
  docs/_toc.md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_types_CAV_With_None_Equal_to_Null.md
Labels: rds, ReadytoMerge, functions

#610 Update are_all_terminal_heating_loops_purchased_heating.md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_heating_loops_purchased_heating.md
Labels: rds, ReadytoMerge, functions

#646 Update is_baseline_system_1c.md
  docs/ruleset_functions/baseline_systems/is_baseline_system_1c.md
Labels: rds, ReadytoMerge, functions

#599 Create is_baseline_system_1a.md
  docs/_toc.md
  docs/ruleset_functions/baseline_systems/is_baseline_system_1a.md
Labels: rds, ReadytoMerge, functions

#624 Update is_baseline_system_10.md
  docs/ruleset_functions/baseline_systems/is_baseline_system_10.md
Labels: rds, ReadytoMerge, functions

#647 Create get_dict_with_terminal_units_and_zones.md
  docs/_toc.md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/get_dict_with_terminal_units_and_zones.md
Labels: rds, ReadytoMerge, functions

#584 Create is_baseline_system_9b.md
  docs/_toc.md
  docs/ruleset_functions/baseline_systems/is_baseline_system_9b.md
Labels: rds, ReadytoMerge, functions

#657 Complete function is_hvac_sys_cooling_type_dx
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_cooling_type_DX.md
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_cooling_type_DX.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/test_is_hvac_sys_cooling_type_DX.py
Labels: rule_definition, functions

#658 Complete function is_hvac_sys_fan_sys_cv
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_fan_sys_CV.md
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_fan_sys_CV.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/test_is_hvac_sys_fan_sys_CV.py
Labels: rule_definition, functions

#660 Complete function is_hvac_sys_heating_type_elec_resistance
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_heating_type_elec_resistance.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/test_is_hvac_sys_heating_type_elec_resistance.py
Labels: rule_definition, functions

#662 Complete function is_hvac_sys_heating_type_heat_pump
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_heating_type_heat_pump.md
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_heating_type_fluid_loop.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_heating_type_heat_pump.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/test_is_hvac_sys_heating_type_heat_pump.py
Labels: rule_definition, functions

#664 Complete are_all_terminal_supplies_ducted
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_supplies_ducted.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/test_are_all_terminal_supplies_ducted.py
Labels: rule_definition, functions

#655 RS+RT/YJ/RULE 22-3
  docs/section22/Rule22-3.md
  rct229/rule_engine/rule_base.py
  rct229/rules/section22/__init__.py
  rct229/rules/section22/section22rule3.py
  rct229/ruletest_engine/ruletest_jsons/chiller_tests.json
  rct229/ruletest_engine/ruletest_jsons/scripts/resources/json_pointer_enumerations.json
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_3.json
Labels: rule_definition, section22

#661 Complete function are_all_terminal_types_cav
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_types_CAV.md
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_types_CAV.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/test_are_all_terminal_types_CAV.py
Labels: rule_definition, functions

#663 Complete function is_hvac_sys_heating_type_furnace
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_heating_type_furnace.md
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_cool_sources_none_or_null.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_fans_null.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_heat_sources_hot_water.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_heat_sources_none_or_null.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_heating_loops_attached_to_boiler.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_heating_loops_purchased_heating.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_types_VAV.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/does_each_zone_have_only_one_terminal.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_cooling_type_fluid_loop.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_fan_sys_VSD.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_fluid_loop_attached_to_chiller.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_fluid_loop_purchased_CHW.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_fluid_loop_purchased_heating.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_heating_type_fluid_loop.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_heating_type_furnace.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_preheat_fluid_loop_attached_to_boiler.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_preheat_fluid_loop_purchased_heating.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_preheating_type_fluid_loop.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/test_is_hvac_sys_heating_type_furnace.py
  rct229/ruleset_functions/baseline_systems/baseline_system_util.py
Labels: rule_definition, functions
