Repository pnnl/ruleset-checking-tool, pull requests merged in 2022-12, with the labels that each got.

#746 Baseline System 12 RMD
  rct229/ruletest_engine/ruletest_jsons/system_types/System 12_CAV_SZ_HW.json
  rct229/ruletest_engine/ruletest_jsons/system_types/System 12a_CAV_SZ_HW.json
  rct229/ruletest_engine/ruletest_jsons/system_types/System 12b_CAV_SZ_HW.json
  rct229/ruletest_engine/ruletest_jsons/system_types/System 12c_CAV_SZ_HW.json
Labels: rule_test

#747 Baseline System 13 RMD
  rct229/ruletest_engine/ruletest_jsons/system_types/System 13_CAV_SZ_ER.json
  rct229/ruletest_engine/ruletest_jsons/system_types/System 13a_CAV_SZ_ER.json
Labels: rule_test

#745 Baseline System 10 RMD
  rct229/ruletest_engine/ruletest_jsons/system_types/System_10_Warm_Air_Furnace_Elec.json
Labels: rule_test

#744 Baseline System 9 RMD
  rct229/ruletest_engine/ruletest_jsons/system_types/System_9_Warm_Air_Furnace_Gas.json
  rct229/ruletest_engine/ruletest_jsons/system_types/System_9b_Warm_Air_Furnace_Gas.json
Labels: rule_test

#807 Section 22 Ruletest descriptions update
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_11.json
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_14.json
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_21.json
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_22.json
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_23.json
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_24.json
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_25.json
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_26.json
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_27.json
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_29.json
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_30.json
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_33.json
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_34.json
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_36.json
Labels: rule_test

#823 Section 12 to 0.23 schema
  rct229/ruletest_engine/ruletest_engine.py
  rct229/ruletest_engine/ruletest_jsons/receptacle_tests.json
  rct229/ruletest_engine/ruletest_jsons/section12/rule_12_1.json
  rct229/ruletest_engine/ruletest_jsons/section12/rule_12_2.json
  rct229/ruletest_engine/ruletest_jsons/section12/rule_12_3.json
  rct229/ruletest_engine/ruletest_jsons/section12/rule_12_4.json
  rct229/ruletest_engine/ruletest_jsons/section12/rule_12_5.json
  rct229/ruletest_engine/ruletest_jsons/section12/rule_12_6.json
  rct229/ruletest_engine/ruletest_jsons/section12/rule_12_7.json
  rct229/ruletest_engine/run_ruletests.py
Labels: rule_test

#804 Rs/wx/rule22 36
  docs/section22/Rule22-36.md
  rct229/rules/section22/__init__.py
  rct229/rules/section22/section22rule36.py
Labels: rule_definition, section22

#820 Rds/kjw/function baseline system type compare
  docs/ruleset_functions/baseline_system_type_compare.md
Labels: rds, ReadytoMerge, functions

#806 RS/YJ/TEST_IS_BASELINE_SYSTEM_8
  rct229/ruleset_functions/baseline_systems/test_is_baseline_system_8.py
Labels: functions

#824 Section 15 rule tests to 0.23
  rct229/rules/section15/section15rule3.py
  rct229/rules/section15/section15rule4.py
  rct229/ruletest_engine/ruletest_jsons/scripts/resources/json_pointer_enumerations.json
  rct229/ruletest_engine/ruletest_jsons/section15/rule_15_1.json
  rct229/ruletest_engine/ruletest_jsons/section15/rule_15_2.json
  rct229/ruletest_engine/ruletest_jsons/section15/rule_15_3.json
  rct229/ruletest_engine/ruletest_jsons/section15/rule_15_4.json
  rct229/ruletest_engine/ruletest_jsons/section15/rule_15_5.json
  rct229/ruletest_engine/ruletest_jsons/section15/rule_15_6.json
  rct229/ruletest_engine/ruletest_jsons/transformer_tests.json
  rct229/ruletest_engine/run_ruletests.py
Labels: rule_test

#827 RS/YJ/do all terminals have one fan
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/do_all_terminals_have_one_fan.md
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/do_all_terminals_have_one_fan.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/test_do_all_terminals_have_one_fan.py
Labels: functions

#805 Complete system type 1
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/do_all_terminals_have_one_fan.md
  docs/ruleset_functions/baseline_systems/is_baseline_system_1.md
  docs/ruleset_functions/baseline_systems/is_baseline_system_1a.md
  docs/ruleset_functions/baseline_systems/is_baseline_system_1c.md
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_chw_loops_purcahsed_cooling.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/do_all_terminals_have_one_fan.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/test_are_all_terminal_chw_loops_purchased_cooling.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/test_do_all_terminals_have_one_fan.py
  rct229/ruleset_functions/baseline_systems/is_baseline_system_1.py
  rct229/ruleset_functions/baseline_systems/is_baseline_system_1_a.py
  rct229/ruleset_functions/baseline_systems/is_baseline_system_1_c.py
  rct229/ruleset_functions/baseline_systems/test_is_baseline_system_1.py
  rct229/ruletest_engine/ruletest_jsons/system_types/System_1_PTAC.json
  rct229/ruletest_engine/ruletest_jsons/system_types/System_1a_PTAC.json
  rct229/ruletest_engine/ruletest_jsons/system_types/System_1b_PTAC.json
  rct229/ruletest_engine/ruletest_jsons/system_types/System_1c_PTAC.json
Labels: section21, section22, functions

#845 Rds/kjw/rule 21 19
  docs/section23/Rule23-16.md
Labels: rds, schema, section21

#847 Rds/kjw/get zone conditioning category
  docs/ruleset_functions/get_zone_conditioning_category.md
Labels: rds, schema

#848 Rds/kjw/ventilation space type schema update to 23
  docs/ruleset_functions/get_hvac_systems_serving_zone_health_safety_vent_reqs.md
  docs/ruleset_functions/get_zones_health_safety_vent_reqs.md
Labels: rds, schema

#850 Rds/kjw/rule 10 13 a
  docs/section10/10-13A.md
Labels: rds, schema, section10

#851 Update 10-13B.md
  docs/section10/10-13B.md
Labels: rds, schema, section10

#852 Update 10-6.md
  docs/section10/10-6.md
Labels: rds, schema, section10

#815 Rds/kjw/rule 23 16
  docs/section23/Rule23-16.md
Labels: rds, schema, section23

#814 Rds/kjw/rule 23 8
  docs/section23/Rule23-8.md
Labels: rds, schema, section23

#813 Rds/kjw/rule 23 7
  docs/section23/Rule23-7.md
Labels: rds, schema, section23

#812 Rds/kjw/rule 23 6
  docs/section23/Rule23-6.md
Labels: rds, schema, section23

#811 Rds/kjw/rule 23 3
  docs/section23/Rule23-3.md
Labels: rds, schema, section23

#810 Rds/kjw/rule 23 2
  docs/section23/Rule23-2.md
Labels: rds, schema, section23

#792 Rds/kjw/rule 22 4
  docs/section22/Rule22-4.md
Labels: rds, schema, section22

#791 update 10-7.md to version 0.0.23 of the schema
  docs/section10/10-7.md
Labels: rds, schema, section10

#636 Create Rule 19-1.md
  docs/_toc.md
  docs/section19/Rule19-1.md
Labels: rds, ReadytoMerge, section19

#835 Disaggregate master RMD file script
  rct229/ruletest_engine/ruletest_jsons/scripts/json_generation_utilities.py
Labels: rule_test

#861 Update Rule5-22.md
  docs/section5/Rule5-22.md
Labels: section5, rds, schema

#860 Update get_surface_conditioning_category.md
  docs/ruleset_functions/get_surface_conditioning_category.md
Labels: rds, schema, functions

#859 Section 12 - Transformers: Ruletest clean up
  rct229/ruletest_engine/ruletest_jsons/receptacle_tests.json
  rct229/ruletest_engine/ruletest_jsons/section12/rule_12_4.json
  rct229/ruletest_engine/ruletest_jsons/section12/rule_12_5.json
  rct229/ruletest_engine/ruletest_jsons/section12/rule_12_6.json
  rct229/ruletest_engine/ruletest_jsons/section12/rule_12_7.json
Labels: rule_test

#828 RS/YJ/is baseline system 13
  docs/ruleset_functions/baseline_systems/is_baseline_system_13.md
  rct229/ruleset_functions/baseline_systems/is_baseline_system_13.py
  rct229/ruleset_functions/baseline_systems/test_is_baseline_system_13.py
Labels: functions

#817 Rct/wx/rule definition unit test
  .github/workflows/python-app.yml
  rct229/cli.py
  rct229/ruletest_engine/ruletest_engine.py
  rct229/ruletest_engine/ruletest_jsons/envelope_tests.json
  rct229/ruletest_engine/ruletest_jsons/section5/rule_5_19.json
  rct229/ruletest_engine/ruletest_jsons/section5/rule_5_42.json
  rct229/ruletest_engine/run_ruletests.py
  rct229/ruletest_engine/tests/test_ruletest_engine.py
  rct229/ruletest_engine/tests/test_ruletest_json_schemas.py
  rct229/utils/natural_sort.py
Labels: functions

#853 Update Rule5-11.md
  docs/section5/Rule5-11.md
Labels: section5, rds, ahj_compare

#854 Update Rule5-13.md
  docs/section5/Rule5-13.md
Labels: section5, rds, ahj_compare

#855 Update Rule5-15.md
  docs/section5/Rule5-15.md
Labels: section5, rds, ahj_compare

#862 Update Rule5-24.md
  docs/section5/Rule5-24.md
Labels: section5, rds, ahj_compare

#864 Update Rule5-26.md
  docs/section5/Rule5-26.md
Labels: section5, rds, ahj_compare

#829 RS/YJ/is baseline system 12
  docs/ruleset_functions/baseline_systems/is_baseline_system_12.md
  rct229/ruleset_functions/baseline_systems/is_baseline_system_12.py
  rct229/ruleset_functions/baseline_systems/test_is_baseline_system_12.py
Labels: functions

#710 Complete the report module infrastructure.
  docs/_output_report_template.md
  examples/demo/baseline_model.rmd
  examples/demo/med_office_baseline.rmd
  examples/demo/med_office_proposed.rmd
  examples/demo/proposed_model.rmd
  examples/demo/sample_summary.md
  examples/demo/small_office_baseline.rmd
  examples/demo/small_office_proposed.rmd
  examples/output/ashrae901_2019_detail_report.json
  examples/output/raw_summary.txt
  rct229/cli.py
  rct229/report_engine/__init__.py
  rct229/report_engine/rct_report.py
  rct229/reports/ashrae901_2019_detail_report.py
  rct229/reports/ashrae901_2019_summary_report.py
  rct229/reports/engine_raw_output.py
  rct229/reports/engine_raw_summary.py
  rct229/reports/utils.py
  rct229/rule_engine/engine.py
  rct229/rule_engine/rct_outcome_label.py
  rct229/rule_engine/rule_base.py
  rct229/rules/section6/section6rule6.py
  rct229/ruletest_engine/ruletest_engine.py
  rct229/utils/pint_utils.py
Labels: rule_definition
