Repository pnnl/ruleset-checking-tool, pull requests merged in 2023-11, with the labels that each got.

#1164 RS/YJ/Rule 19-11
  docs/section19/Rule19-11.md
  rct229/rulesets/ashrae9012019/section19/__init__.py
  rct229/rulesets/ashrae9012019/section19/section19rule11.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section19/rule_19_11.json
Labels: rule_definition, ReadytoMerge, section19, secondary

#1169 RS/YJ/Rule 19-16
  docs/section19/Rule19-16.md
  rct229/rulesets/ashrae9012019/section19/__init__.py
  rct229/rulesets/ashrae9012019/section19/section19rule16.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section19/rule_19_16.json
Labels: rule_definition, ReadytoMerge, section19, secondary

#1168 RS/YJ/Rule 19-33
  docs/section19/Rule19-33.md
  rct229/rulesets/ashrae9012019/section19/__init__.py
  rct229/rulesets/ashrae9012019/section19/section19rule33.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section19/rule_19_33.json
Labels: rule_definition, ReadytoMerge, section19, secondary

#1165 RS/YJ/Rule 19-36
  docs/section19/Rule19-36.md
  rct229/rulesets/ashrae9012019/section19/__init__.py
  rct229/rulesets/ashrae9012019/section19/section19rule36.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section19/rule_19_36.json
Labels: rule_definition, ReadytoMerge, section19, secondary

#1077 RS/YJ/RULE19-35
  docs/section19/Rule19-35.md
  rct229/rulesets/ashrae9012019/section19/__init__.py
  rct229/rulesets/ashrae9012019/section19/section19rule35.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section19/rule_19_35.json
Labels: rule_definition, ReadytoMerge, section19, secondary

#1149 RS/YJ/Rule 18-3
  docs/section18/Rule18-3.md
  rct229/rulesets/ashrae9012019/__init__.py
  rct229/rulesets/ashrae9012019/section18/__init__.py
  rct229/rulesets/ashrae9012019/section18/section18rule3.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section18/rule_18_3.json
Labels: rule_definition, ReadytoMerge, section18, secondary

#1194 RCT/JX/Rule5-18
  rct229/rulesets/ashrae9012019/section5/__init__.py
  rct229/rulesets/ashrae9012019/section5/section5rule18.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section5/rule_5_18.json
  rct229/schema/ASHRAE229.schema.json
  rct229/schema/Enumerations2019ASHRAE901.schema.json
Labels: section5, rule_definition, rule_test, secondary

#1170 RS/YJ/Rule 19-34
  docs/section19/Rule19-34.md
  rct229/rulesets/ashrae9012019/ruleset_functions/get_proposed_hvac_modeled_with_virtual_cooling.py
  rct229/rulesets/ashrae9012019/section19/__init__.py
  rct229/rulesets/ashrae9012019/section19/section19rule34.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section19/rule_19_34.json
Labels: rule_definition, ReadytoMerge, section19, secondary

#940 Rds/kjw/rule 21 8
  docs/_toc.md
  docs/section21/Rule21-8.md
Labels: rds, section21, ReadytoMerge
