Repository pnnl/ruleset-checking-tool, pull requests merged in 2023-05, with the labels that each got.

#1056 Create get_hvac_syhstems_serving_zone_health_safety_vent_reqs
  docs/ruleset_functions/get_hvac_systems_serving_zone_health_safety_vent_reqs.md
  rct229/rulesets/ashrae9012019/ruleset_functions/get_hvac_systems_serving_zone_health_safety_vent_reqs.py
  rct229/rulesets/ashrae9012019/ruleset_functions/get_hvac_systems_serving_zone_health_safety_vent_reqs_test.py
Labels: functions

#1057 Rd/wx/get proposed hvac modeled with virtual heating
  docs/ruleset_functions/get_proposed_hvac_modeled_with_virtual_cooling.md
  docs/ruleset_functions/get_proposed_hvac_modeled_with_virtual_heating.md
  rct229/rulesets/ashrae9012019/ruleset_functions/get_proposed_hvac_modeled_with_virtual_heating.py
  rct229/rulesets/ashrae9012019/ruleset_functions/get_proposed_hvac_modeled_with_virtual_heating_test.py
Labels: functions

#1058 Create get_proposed_hvac_modeled_with_virtual_cooling
  docs/ruleset_functions/get_proposed_hvac_modeled_with_virtual_cooling.md
  docs/ruleset_functions/get_proposed_hvac_modeled_with_virtual_heating.md
  rct229/rulesets/ashrae9012019/ruleset_functions/get_proposed_hvac_modeled_with_virtual_cooling.py
  rct229/rulesets/ashrae9012019/ruleset_functions/get_proposed_hvac_modeled_with_virtual_cooling_test.py
Labels: functions

#1054 Complete get heat rejection loops connected to baseline systems
  rct229/rulesets/ashrae9012019/ruleset_functions/get_heat_rejection_loops_connected_to_baseline_systems.py
  rct229/rulesets/ashrae9012019/ruleset_functions/get_heat_rejection_loops_connected_to_baseline_systems_test.py
Labels: functions

#1052 Create get_hvac_systems_primarily_serving_comp_room
  rct229/rulesets/ashrae9012019/ruleset_functions/get_hvac_systems_primarily_serving_comp_room.py
  rct229/rulesets/ashrae9012019/ruleset_functions/get_hvac_systems_primarily_serving_comp_room_test.py
  rct229/rulesets/ashrae9012019/ruleset_functions/get_hvac_zone_list_w_area_dict.py
Labels: functions

#984 Rds/jdj/rule5 29
  docs/section5/Rule5-29.md
  docs/section5/archive/Rule5-29.md
Labels: section5, rds, ReadytoMerge

#985 Rds/jdj/rule5 41
  docs/section5/Rule5-41.md
  docs/section5/archive/Rule5-41.md
Labels: section5, rds, ReadytoMerge

#987 Rds/jdj/rule5 43
  docs/section5/Rule5-43.md
  docs/section5/archive/Rule5-43.md
Labels: section5, rds, ReadytoMerge

#1059 RS/YJ/RULE19-26
  rct229/rulesets/ashrae9012019/section19/__init__.py
  rct229/rulesets/ashrae9012019/section19/section19rule26.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section19/rule_19_26.json
Labels: rule_definition, section19

#1085 TCD/JDJ/RULE19-26
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section19/rule_19_26.json
Labels: rule_test, section19

#986 Rds/jdj/rule5 53
  docs/section5/Rule5-53.md
Labels: section5, rds, ReadytoMerge

#1088 Rd/wx/section5 rules updates
  rct229/rulesets/ashrae9012019/section5/section5rule41.py
  rct229/rulesets/ashrae9012019/section5/section5rule43.py
Labels: section5

#1060 RS/YJ/RULE19-27
  rct229/rulesets/ashrae9012019/section19/__init__.py
  rct229/rulesets/ashrae9012019/section19/section19rule27.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section19/rule_19_27.json
Labels: rule_definition, section19

#1086 TCD/JDJ/RULE19-27
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section19/rule_19_27.json
Labels: rule_test, section19

#1061 RS/YJ/RULE19-28
  docs/section19/Rule19-28.md
  rct229/rulesets/ashrae9012019/section19/__init__.py
  rct229/rulesets/ashrae9012019/section19/section19rule28.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section19/rule_19_28.json
Labels: rule_definition, section19

#1089 TCD/JDJ/RULE19-28
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section19/rule_19_28.json
Labels: rule_test, section19

#1063 RS/YJ/RULE19-31
  docs/section19/Rule19-31.md
  rct229/rulesets/ashrae9012019/section19/__init__.py
  rct229/rulesets/ashrae9012019/section19/section19rule31.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section19/rule_19_31.json
Labels: rule_definition, section19

#1091 TCD/JDJ/RULE19-31
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section19/rule_19_31.json
Labels: rule_test, section19

#1064 RS/YJ/RULE19-32
  docs/section19/Rule19-32.md
  rct229/rulesets/ashrae9012019/section19/__init__.py
  rct229/rulesets/ashrae9012019/section19/section19rule32.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section19/rule_19_32.json
Labels: rule_definition, section19

#1092 TCD/JDJ/RULE19-32
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section19/rule_19_32.json
Labels: rule_test, section19

#1062 RS/YJ/RULE19-29
  docs/section19/Rule19-29.md
  rct229/rulesets/ashrae9012019/section19/__init__.py
  rct229/rulesets/ashrae9012019/section19/section19rule29.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section19/rule_19_29.json
Labels: rule_definition, section19

#1090 TCD/JDJ/RULE19-29
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section19/rule_19_29.json
Labels: rule_test, section19

#1067 RS/YJ/RULE19-25
  rct229/rulesets/__init__.py
  rct229/rulesets/ashrae9012019/section19/__init__.py
  rct229/rulesets/ashrae9012019/section19/section19rule25.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section19/rule_19_25.json
Labels: rule_definition, section19

#1084 TCD/JDJ/RULE19-25
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section19/rule_19_25.json
Labels: rule_test, section19

#1096 Updated scheduling to allow for 24 hour schedule
  rct229/rulesets/ashrae9012019/ruleset_functions/is_economizer_modeled_in_proposed.py
  rct229/ruletest_engine/ruletest_jsons/scripts/json_generation_utilities.py
Labels: rule_test

#682 Create get_zone_peak_internal_load.md
  docs/_toc.md
  docs/ruleset_functions/get_zone_peak_internal_load_floor_area.md
  rct229/rulesets/ashrae9012019/section5/section5rule43.py
Labels: rds, ReadytoMerge, functions

#1068 RS/YJ/RULE19-24
  docs/section19/Rule19-24.md
  rct229/rulesets/ashrae9012019/section19/__init__.py
  rct229/rulesets/ashrae9012019/section19/section19rule24.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section19/rule_19_24.json
Labels: rule_definition, section19

#1073 RT/JDJ/TCD19-24
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section19/rule_19_24.json
Labels: rule_test, section19
