Repository pnnl/ruleset-checking-tool, pull requests merged in 2023-06, with the labels that each got.

#690 Rds/kjw/function get hvac building area types and zones
  docs/_toc.md
  docs/ruleset_functions/get_HVAC_building_area_types_and_zones.md
  rct229/rulesets/ashrae9012019/section5/__init__.py
Labels: rds, ReadytoMerge, functions

#1069 RS/YJ/RULE19-20
  docs/section19/Rule19-20.md
  rct229/rulesets/ashrae9012019/section19/__init__.py
  rct229/rulesets/ashrae9012019/section19/section19rule20.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section19/rule_19_20.json
Labels: rule_definition, section19

#1072 TCD/JDJ/RULE19-20
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section19/rule_19_20.json
Labels: rule_test, section19

#722 Rds/kjw/function expected system type from table g3 1 1
  docs/_toc.md
  docs/ruleset_functions/expected_system_type_from_Table_G3_1_1a.md
Labels: rds, ReadytoMerge, functions

#786 Rds/kjw/function is zone mechanically heated and not cooled
  docs/_toc.md
  docs/ruleset_functions/is_zone_mechanically_heated_and_not_cooled.md
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section5/archive/rule_5_2.json
Labels: rds, ReadytoMerge, functions

#996 RS+RMD/YJ/RULE19-2
  docs/section19/Rule19-2.md
  rct229/rulesets/ashrae9012019/section19/__init__.py
  rct229/rulesets/ashrae9012019/section19/section19rule2.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section19/rule_19_2.json
Labels: rule_definition, rule_test, section19

#1094 Rds/kjw/function get zones on same floor
  docs/_toc.md
  docs/ruleset_functions/get_zones_on_same_floor.md
Labels: rds, ReadytoMerge, functions

#1070 Rds/kjw/function does zone meet g3 1 1e
  docs/_toc.md
  docs/ruleset_functions/G311_exceptions/does_zone_meet_G3_1_1e.md
Labels: rds, ReadytoMerge, section18
