Repository pnnl/ruleset-checking-tool, pull requests merged in 2023-01, with the labels that each got.

#672 Rds/cml/rule 19 2
  docs/_toc.md
  docs/section19/Rule19-2.md
Labels: rds, ReadytoMerge, open comments, section19

#711 Create 19-9.md
  docs/_toc.md
  docs/section19/Rule19-9.md
Labels: rds, ReadytoMerge, open comments, section19

#795 Create get_fan_object_electric_power.md
  docs/_toc.md
  docs/ruleset_functions/get_fan_object_electric_power.md
Labels: rds, ReadytoMerge, functions

#796 Rds/cml/19 18
  docs/_toc.md
  docs/section19/Rule19-18.md
Labels: rds, ReadytoMerge, section19

#830 RS/YJ/is baseline system 2 and 3
  docs/ruleset_functions/baseline_systems/is_baseline_system_2.md
  docs/ruleset_functions/baseline_systems/is_baseline_system_3.md
  rct229/ruleset_functions/baseline_systems/is_baseline_system_2.py
  rct229/ruleset_functions/baseline_systems/is_baseline_system_3.py
  rct229/ruleset_functions/baseline_systems/test_is_baseline_system_2.py
  rct229/ruleset_functions/baseline_systems/test_is_baseline_system_3.py
  rct229/ruletest_engine/ruletest_jsons/system_types/System_3a_PSZ_AC_Gas_Furnace.json
  rct229/ruletest_engine/ruletest_jsons/system_types/System_3b_PSZ_AC_Gas_Furnace.json
  rct229/ruletest_engine/ruletest_jsons/system_types/System_3c_PSZ_AC_Gas_Furnace.json
Labels: functions

#831 RS/YJ/is baseline system 4 and 5
  docs/ruleset_functions/baseline_systems/is_baseline_system_4.md
  docs/ruleset_functions/baseline_systems/is_baseline_system_5.md
  rct229/ruleset_functions/baseline_systems/is_baseline_system_4.py
  rct229/ruleset_functions/baseline_systems/is_baseline_system_5.py
  rct229/ruleset_functions/baseline_systems/test_is_baseline_system_4.py
  rct229/ruleset_functions/baseline_systems/test_is_baseline_system_5.py
Labels: functions

#840 RS/YJ/is_baseline_system_6_8
  docs/ruleset_functions/baseline_systems/is_baseline_system_6.md
  docs/ruleset_functions/baseline_systems/is_baseline_system_8.md
  rct229/ruleset_functions/baseline_systems/is_baseline_system_6.py
  rct229/ruleset_functions/baseline_systems/is_baseline_system_8.py
  rct229/ruleset_functions/baseline_systems/test_is_baseline_system_6.py
  rct229/ruleset_functions/baseline_systems/test_is_baseline_system_8.py
  rct229/ruletest_engine/ruletest_jsons/system_types/System_8_PFP_Reheat.json
  rct229/ruletest_engine/ruletest_jsons/system_types/System_8a_PFP_Reheat.json
  rct229/ruletest_engine/ruletest_jsons/system_types/System_8b_PFP_Reheat.json
  rct229/ruletest_engine/ruletest_jsons/system_types/System_8c_PFP_Reheat.json
Labels: functions

#841 RS/YJ/is baseline system 10
  docs/ruleset_functions/baseline_systems/is_baseline_system_10.md
  rct229/ruleset_functions/baseline_systems/is_baseline_system_10.py
  rct229/ruleset_functions/baseline_systems/test_is_baseline_system_10.py
Labels: functions

#897 Ruletest 23-16 Test JSON
  rct229/ruletest_engine/ruletest_jsons/airside_hvac_tests.json
  rct229/ruletest_engine/ruletest_jsons/scripts/resources/json_pointer_enumerations.json
  rct229/ruletest_engine/ruletest_jsons/section23/rule_23_16.json
Labels: rule_test

#888 Complete the implementation
  rct229/reports/ashrae901_2019_detail_report.py
  rct229/reports/engine_raw_output.py
  rct229/reports/engine_raw_summary.py
  rct229/ruleset_functions/baseline_system_type_compare.py
  rct229/ruleset_functions/baseline_system_type_compare_test.py
  rct229/ruleset_functions/baseline_systems/baseline_hvac_test_util.py
  rct229/ruleset_functions/baseline_systems/baseline_system_util.py
  rct229/ruleset_functions/baseline_systems/test_is_baseline_system_13.py
  rct229/ruletest_engine/ruletest_engine.py
Labels: section23, functions

#915 Update Ruletest JSON Generation Documentation
  rct229/ruletest_engine/Ruletest_JSON_Generation_Guide.md
Labels: documentation

#872 RS/YJ/RULE 23-2 and 3
  docs/section22/Rule22-23.md
  docs/section23/Rule23-2.md
  docs/section23/Rule23-3.md
  rct229/rules/section22/section22rule23.py
  rct229/rules/section23/__init__.py
  rct229/rules/section23/section23rule2.py
  rct229/rules/section23/section23rule3.py
  rct229/ruleset_functions/baseline_systems/baseline_system_util.py
  rct229/ruletest_engine/ruletest_engine.py
  rct229/ruletest_engine/run_ruletests.py
Labels: rule_definition, section23

#899 RS/YJ/get baseline system types add more systems
  docs/ruleset_functions/baseline_systems/is_baseline_system_3.md
  rct229/ruleset_functions/baseline_systems/is_baseline_system_2.py
  rct229/ruleset_functions/baseline_systems/is_baseline_system_3.py
  rct229/ruleset_functions/baseline_systems/test_is_baseline_system_1.py
  rct229/ruleset_functions/baseline_systems/test_is_baseline_system_2.py
  rct229/ruleset_functions/get_baseline_system_types.py
  rct229/ruleset_functions/get_baseline_system_types_test.py
  rct229/ruletest_engine/ruletest_jsons/chiller_tests.json
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_1.json
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_10.json
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_11.json
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_14.json
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_16.json
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_19.json
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_2.json
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_20.json
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_21.json
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_22.json
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_23.json
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_24.json
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_25.json
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_26.json
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_27.json
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_29.json
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_3.json
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_30.json
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_31.json
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_32.json
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_33.json
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_34.json
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_36.json
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_4.json
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_40.json
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_5.json
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_6.json
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_7.json
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_8.json
  rct229/ruletest_engine/ruletest_jsons/section22/rule_22_9.json
Labels: functions

#920 Update baseline_system_type_compare.md
  docs/ruleset_functions/baseline_system_type_compare.md
Labels: rds
