Repository pnnl/ruleset-checking-tool, pull requests merged in 2023-09, with the labels that each got.

#1144 Excel to Test JSON - Multiple MZ Air Loop Fan Name Fix
  rct229/ruletest_engine/ruletest_jsons/scripts/excel_to_test_json_utilities.py
Labels: rule_test

#1140 Rd/wx/does zone meet g3 1 1 c
  docs/_toc.md
  docs/ruleset_functions/G311_exceptions/does_zone_meet_G3_1_1c.md
  docs/ruleset_functions/G311_exceptions/does_zone_meet_G3_1_1e.md
  docs/ruleset_functions/G311_exceptions/does_zone_meet_G3_1_1g.md
  rct229/rulesets/ashrae9012019/ruleset_functions/g311_exceptions/does_zone_meet_G3_1_1c.py
  rct229/rulesets/ashrae9012019/ruleset_functions/g311_exceptions/does_zone_meet_G3_1_1c_test.py
  rct229/rulesets/ashrae9012019/ruleset_functions/g311_exceptions/does_zone_meet_G3_1_1e.py
  rct229/rulesets/ashrae9012019/ruleset_functions/g311_exceptions/does_zone_meet_G3_1_1e_test.py
  rct229/rulesets/ashrae9012019/ruleset_functions/g311_exceptions/does_zone_meet_G3_1_1g.py
  rct229/rulesets/ashrae9012019/ruleset_functions/g311_exceptions/does_zone_meet_G3_1_1g_test.py
  rct229/rulesets/ashrae9012019/ruleset_functions/g311_exceptions/g311_sub_functions/get_computer_zones_peak_cooling_load.py
  rct229/rulesets/ashrae9012019/ruleset_functions/g311_exceptions/g311_sub_functions/get_computer_zones_peak_cooling_load_test.py
  rct229/rulesets/ashrae9012019/ruleset_functions/g311_exceptions/g311_sub_functions/get_zone_eflh.py
  rct229/rulesets/ashrae9012019/ruleset_functions/get_zone_peak_internal_load_floor_area_dict.py
Labels: section18, functions

#1127 Rds/kjw/function get lab zone hvac systems
  docs/_toc.md
  docs/ruleset_functions/get_lab_zone_hvac_systems.md
Labels: ReadytoMerge, functions

#749 Create Rule_18-2.md
  docs/_toc.md
  docs/section18/Rule18-2.md
Labels: rds, ReadytoMerge, section18

#721 Rds/kjw/function get number of floors
  docs/_toc.md
  docs/ruleset_functions/G311_exceptions/G311_sub_functions/get_number_of_floors.md
Labels: rds, ReadytoMerge, functions

#708 Rds/kjw/rule 18 1
  docs/_toc.md
  docs/section18/Rule18-1.md
Labels: rds, rule_definition

#1150 Account for heating and cooling only systems in excel to test JSON framework
  rct229/ruletest_engine/ruletest_jsons/scripts/excel_to_test_json_utilities.py
Labels: rule_test

#1128 Rds/kjw/rule 18 23
  docs/_toc.md
  docs/section18/Rule18-23.md
Labels: rds, ReadytoMerge, section18

#1074 RS/YJ/RULE19-19
  docs/section19/Rule19-19.md
  rct229/rulesets/ashrae9012019/ruleset_functions/get_list_hvac_systems_associated_with_zone.py
  rct229/rulesets/ashrae9012019/section19/__init__.py
  rct229/rulesets/ashrae9012019/section19/section19rule19.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section19/rule_19_19.json
Labels: rule_definition, ReadytoMerge, section19

#1104 TCD/JDJ/RULE19-19
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section19/rule_19_19.json
Labels: rule_test, section19

#1151 RS/YJ/Rule 19-21 Small Fix
  rct229/rulesets/ashrae9012019/section19/section19rule21.py
Labels: rule_definition

#1153 RS/YJ/Rule 19-12 Small Fix
  rct229/rulesets/ashrae9012019/section19/section19rule12.py
Labels: bug, section19
