Repository pnnl/ruleset-checking-tool, pull requests merged in 2023-08, with the labels that each got.

#704 creation of function
  docs/_toc.md
  docs/ruleset_functions/G311_exceptions/G311_sub_functions/is_zone_a_vestibule.md
  rct229/rulesets/ashrae9012019/ruleset_functions/baseline_systems/baseline_system_util.py
  rct229/rulesets/ashrae9012019/section19/section19rule2.py
  rct229/rulesets/ashrae9012019/section22/section22rule29.py
  rct229/rulesets/ashrae9012019/section22/section22rule30.py
  rct229/rulesets/ashrae9012019/section23/section23rule16.py
Labels: rds, ReadytoMerge, section18, functions

#1133 Rd/wx/does zone meet g3 1 1 d
  docs/ruleset_functions/G311_exceptions/does_zone_meet_G3_1_1d.md
  rct229/rulesets/ashrae9012019/ruleset_functions/g311_exceptions/does_zone_meet_G3_1_1d.py
  rct229/rulesets/ashrae9012019/ruleset_functions/g311_exceptions/does_zone_meet_G3_1_1d_test.py
  rct229/rulesets/ashrae9012019/ruleset_functions/g311_exceptions/g311_sub_functions/get_building_total_lab_exhaust_from_zone_exhaust_fans.py
Labels: section18, functions

#1105 Complete expected system type from table g311a function
  rct229/rulesets/ashrae9012019/ruleset_functions/g311_exceptions/g311_sub_functions/expected_system_type_from_table_g311a_dict.py
  rct229/rulesets/ashrae9012019/ruleset_functions/g311_exceptions/g311_sub_functions/expected_system_type_from_table_g311a_dict_test.py
  rct229/rulesets/ashrae9012019/ruleset_functions/is_cz_0_to_3a_bool.py
Labels: section18, functions

#884 Rds/kjw/function does zone meet g3 1 1c
  docs/_toc.md
  docs/ruleset_functions/G311_exceptions/does_zone_meet_G3_1_1c.md
Labels: rds, ReadytoMerge, section18, functions

#696 Rds/kjw/function get predominant hvac building area type
  docs/_toc.md
  docs/ruleset_functions/G311_exceptions/G311_sub_functions/get_predominant_HVAC_building_area_type.md
Labels: rds, ReadytoMerge, functions

#1135 Rule 19-12 corrections
  rct229/rulesets/ashrae9012019/section19/section19rule12.py
  rct229/rulesets/ashrae9012019/section19/section19rule2.py
Labels: rule_definition, section19

#1129 Complete the development of is_zone_mechanically_cooled
  docs/ruleset_functions/G311_exceptions/G311_sub_functions/is_zone_mechanically_heated_and_not_cooled.md
  rct229/rulesets/ashrae9012019/ruleset_functions/g311_exceptions/does_zone_meet_G3_1_1f.py
  rct229/rulesets/ashrae9012019/ruleset_functions/g311_exceptions/g311_sub_functions/is_zone_mechanically_cooled.py
  rct229/rulesets/ashrae9012019/ruleset_functions/g311_exceptions/g311_sub_functions/is_zone_mechanically_cooled_test.py
  rct229/rulesets/ashrae9012019/ruleset_functions/g311_exceptions/g311_sub_functions/is_zone_mechanically_heated_and_not_cooled.py
  rct229/rulesets/ashrae9012019/ruleset_functions/g311_exceptions/g311_sub_functions/is_zone_mechanically_heated_and_not_cooled_test.py
Labels: section18, functions

#1136 Rd/wx/get zone eflh
  rct229/rulesets/ashrae9012019/ruleset_functions/g311_exceptions/g311_sub_functions/get_zone_eflh.py
  rct229/rulesets/ashrae9012019/ruleset_functions/g311_exceptions/g311_sub_functions/get_zone_eflh_test.py
  rct229/rulesets/ashrae9012019/ruleset_functions/g311_exceptions/g311_sub_functions/is_space_a_computer_room.py
  rct229/utils/jsonpath_utils.py
  rct229/utils/schedule_utils.py
  rct229/utils/utility_functions.py
Labels: section18, functions

#762 Rds/kjw/function does zone meet g3 1 1g
  docs/_toc.md
  docs/ruleset_functions/G311_exceptions/G311_sub_functions/get_computer_zones_peak_cooling_load.md
  docs/ruleset_functions/G311_exceptions/does_zone_meet_G3_1_1g.md
Labels: rds, ReadytoMerge, functions

#731 Rds/kjw/function get zone target baseline system
  docs/_toc.md
  docs/ruleset_functions/get_zone_target_baseline_system.md
Labels: rds, ReadytoMerge, functions

#1138 Complete development of get_predominant_hvac_building_area_type
  rct229/rulesets/ashrae9012019/ruleset_functions/g311_exceptions/g311_sub_functions/get_hvac_building_area_types_and_zones_dict.py
  rct229/rulesets/ashrae9012019/ruleset_functions/g311_exceptions/g311_sub_functions/get_predominant_hvac_building_area_type.py
  rct229/rulesets/ashrae9012019/ruleset_functions/g311_exceptions/g311_sub_functions/get_predominant_hvac_building_area_type_test.py
Labels: section18, functions

#1137 Complete development of zone is likely a vestibule
  docs/_toc.md
  docs/ruleset_functions/G311_exceptions/G311_sub_functions/is_zone_likely_a_vestibule.md
  rct229/rulesets/ashrae9012019/ruleset_functions/g311_exceptions/g311_sub_functions/get_zones_on_same_floor_list.py
  rct229/rulesets/ashrae9012019/ruleset_functions/g311_exceptions/g311_sub_functions/is_zone_likely_a_vestibule.py
  rct229/rulesets/ashrae9012019/ruleset_functions/g311_exceptions/g311_sub_functions/is_zone_likely_a_vestibule_test.py
Labels: section18, functions

#1047 RS/YJ/RULE19-15 + 19-17
  docs/section19/Rule19-15.md
  docs/section19/Rule19-17.md
  rct229/rulesets/ashrae9012019/section19/__init__.py
  rct229/rulesets/ashrae9012019/section19/section19rule15.py
  rct229/rulesets/ashrae9012019/section19/section19rule17.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section19/rule_19_15.json
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section19/rule_19_17.json
  rct229/utils/pint_utils.py
Labels: rule_definition, ReadytoMerge, section19

#1100 TCD/JDJ/RULE19-15
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section19/rule_19_15.json
Labels: rule_test, section19

#1103 TCD/JDJ/RULE19-17
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section19/rule_19_17.json
Labels: rule_test, section19

#1048 RS/YJ/RULE19-13
  rct229/rulesets/ashrae9012019/section19/__init__.py
  rct229/rulesets/ashrae9012019/section19/section19rule13.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section19/rule_19_13.json
Labels: rule_definition, ReadytoMerge, section19
