Repository pnnl/ruleset-checking-tool, pull requests merged in 2023-10, with the labels that each got.

#1156 RS/YJ/Rule 22-12
  docs/section22/Rule22-12.md
  rct229/rulesets/ashrae9012019/section22/__init__.py
  rct229/rulesets/ashrae9012019/section22/section22rule12.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/chiller_tcd_master.json
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section22/rule_22_12.json
  rct229/ruletest_engine/run_ruletests.py
Labels: rule_definition, section22

#1157 RS/YJ/Rule 22-13
  docs/section22/Rule22-13.md
  rct229/rulesets/ashrae9012019/section22/__init__.py
  rct229/rulesets/ashrae9012019/section22/section22rule13.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section22/rule_22_13.json
Labels: rule_definition, section22

#1158 RS/YJ/Rule 22-15
  docs/section22/Rule22-15.md
  rct229/rulesets/ashrae9012019/section22/__init__.py
  rct229/rulesets/ashrae9012019/section22/section22rule15.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/chiller_tcd_master.json
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section22/rule_22_15.json
  rct229/schema/resources/unit_conventions.json
Labels: rule_definition, ReadytoMerge, section22

#1160 RS/YJ/Rule 22-17
  docs/section22/Rule22-17.md
  rct229/rulesets/ashrae9012019/section22/__init__.py
  rct229/rulesets/ashrae9012019/section22/section22rule17.py
Labels: rule_definition, ReadytoMerge, section22

#1161 RS/YJ/Rule 22-41
  rct229/rulesets/ashrae9012019/section22/__init__.py
  rct229/rulesets/ashrae9012019/section22/section22rule41.py
Labels: rule_definition, ReadytoMerge, section22

#1026 Create Rule19-40.md
  docs/_toc.md
  docs/section19/Rule19-36.md
Labels: rds, ReadytoMerge, section19

#876 Rds/cml/19 26
  docs/_toc.md
  docs/section19/Rule19-23.md
Labels: rds, ReadytoMerge, section19

#1166 RS/YJ/Rule 22-17 Small Fix
  rct229/rulesets/ashrae9012019/section22/section22rule17.py
Labels: bug, section22, secondary
