Repository pnnl/ruleset-checking-tool, pull requests merged in 2023-07, with the labels that each got.

#1108 Update get_HVAC_building_area_types_and_zones.md
  docs/ruleset_functions/get_HVAC_building_area_types_and_zones.md
Labels: rds, ReadytoMerge, functions

#1079 RS/YJ/RULE19-10
  docs/section19/Rule19-10.md
  rct229/rulesets/ashrae9012019/section19/__init__.py
  rct229/rulesets/ashrae9012019/section19/section19rule10.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section19/rule_19_10.json
  rct229/schema/ASHRAE229.schema.json
Labels: rule_definition, section19

#1081 RS/YJ/RULE19-14
  docs/section19/Rule19-14.md
  rct229/rulesets/ashrae9012019/section19/__init__.py
  rct229/rulesets/ashrae9012019/section19/section19rule14.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section19/rule_19_14.json
Labels: rule_definition, section19

#1083 TCD/JDJ/RULE19-14
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section19/rule_19_14.json
Labels: rule_test, section19

#1109 Create get_zone_HVAC_BAT.md
  docs/_toc.md
  docs/ruleset_functions/get_zone_HVAC_BAT.md
Labels: rds, ReadytoMerge, functions

#1125 RS/YJ/Rule19_12 small fix
  rct229/rulesets/ashrae9012019/section19/section19rule12.py
Labels: rule_definition, section19

#1124 TCD/JDJ/RULE19-12
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section19/rule_19_12.json
Labels: rule_test, section19

#1122 Create is_hvac_sys_cooling_type_none_or_non_mechanical.md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/is_hvac_sys_cooling_type_none_or_non_mechanical.md
Labels: rds, functions

#1071 Create is_zone_mechanically_cooled.md
  docs/_toc.md
  docs/ruleset_functions/G311_exceptions/G311_sub_functions/is_zone_mechanically_cooled.md
Labels: rds, ReadytoMerge, functions

#785 Rds/kjw/function does zone meet g3 1 1f
  docs/_toc.md
  docs/ruleset_functions/G311_exceptions/does_zone_meet_G3_1_1f.md
Labels: rds, ReadytoMerge, functions

#1095 Create does_zone_meet_G3_1_1d.md
  docs/_toc.md
  docs/ruleset_functions/G311_exceptions/does_zone_meet_G3_1_1d.md
Labels: rds, ReadytoMerge, functions

#1112 Complete the function development
  rct229/rulesets/ashrae9012019/ruleset_functions/g311_exceptions/g311_sub_functions/get_zones_on_same_floor_list.py
  rct229/rulesets/ashrae9012019/ruleset_functions/g311_exceptions/g311_sub_functions/get_zones_on_same_floor_list_test.py
Labels: section18, functions

#1111 Create get_building_lab_zones.md
  docs/_toc.md
  docs/ruleset_functions/G311_exceptions/G311_sub_functions/get_building_lab_zones.md
Labels: rds, ReadytoMerge, functions

#1131 Get building lab zones list: complete function development
  rct229/rulesets/ashrae9012019/ruleset_functions/g311_exceptions/g311_sub_functions/get_building_lab_zones_list.py
  rct229/rulesets/ashrae9012019/ruleset_functions/g311_exceptions/g311_sub_functions/get_building_lab_zones_list_test.py
Labels: section18, functions

#1114 Create get_building_total_lab_exhaust_from_zone_exhaust_fans.md
  docs/_toc.md
  docs/ruleset_functions/G311_exceptions/G311_sub_functions/get_building_total_lab_exhaust_from_zone_exhaust_fans.md
Labels: rds, ReadytoMerge, section18

#1132 Complete development get_building_total_lab_exhaust_from_zone_exhaust…
  rct229/rulesets/ashrae9012019/ruleset_functions/g311_exceptions/g311_sub_functions/get_building_total_lab_exhaust_from_zone_exhaust_fans.py
  rct229/rulesets/ashrae9012019/ruleset_functions/g311_exceptions/g311_sub_functions/get_building_total_lab_exhaust_from_zone_exhaust_fans_test.py
Labels: section18, functions

#1040 Create is_space_a_computer_room.md
  docs/_toc.md
  docs/ruleset_functions/G311_exceptions/G311_sub_functions/is_space_a_computer_room.md
Labels: rds, functions

#1041 Update get_zones_computer_rooms.md
  docs/ruleset_functions/G311_exceptions/G311_sub_functions/get_zones_computer_rooms.md
Labels: rds, section19

#730 Rds/kjw/function get zone eflh
  docs/_toc.md
  docs/ruleset_functions/G311_exceptions/G311_sub_functions/get_zone_eflh.md
Labels: rds, ReadytoMerge, functions

#1134 Complete development get_zones_computer_rooms
  docs/ruleset_functions/G311_exceptions/G311_sub_functions/get_zones_computer_rooms.md
  rct229/rulesets/ashrae9012019/ruleset_functions/baseline_systems/baseline_system_util.py
  rct229/rulesets/ashrae9012019/ruleset_functions/g311_exceptions/g311_sub_functions/get_zones_computer_rooms.py
  rct229/rulesets/ashrae9012019/ruleset_functions/g311_exceptions/g311_sub_functions/get_zones_computer_rooms_test.py
  rct229/rulesets/ashrae9012019/ruleset_functions/g311_exceptions/g311_sub_functions/is_space_a_computer_room.py
  rct229/rulesets/ashrae9012019/ruleset_functions/g311_exceptions/g311_sub_functions/is_space_a_computer_room_test.py
  rct229/utils/utility_functions.py
Labels: section18, functions
