Repository pnnl/ruleset-checking-tool, pull requests merged in 2023-03, with the labels that each got.

#950 RCT/CH/profiler-2
  .gitignore
  Pipfile
  Pipfile.lock
  README.md
  examples/baseline_model.rmd
  examples/proposed_model.rmd
  rct229/rulesets/ashrae9012019/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/get_dict_with_terminal_units_and_zones.py
  rct229/rulesets/ashrae9012019/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/test_get_dict_with_terminal_units_and_zones.py
  rct229/rulesets/ashrae9012019/ruleset_functions/check_purchased_chw_hhw_status_dict.py
  rct229/rulesets/ashrae9012019/ruleset_functions/get_baseline_system_types.py
  rct229/rulesets/ashrae9012019/ruleset_functions/get_baseline_system_types_test.py
  rct229/rulesets/ashrae9012019/ruleset_functions/get_building_scc_window_wall_ratios_dict.py
  rct229/rulesets/ashrae9012019/ruleset_functions/get_building_segment_lighting_status_type_dict.py
  rct229/rulesets/ashrae9012019/ruleset_functions/get_dict_of_zones_and_terminal_units_served_by_hvac_sys.py
  rct229/rulesets/ashrae9012019/ruleset_functions/get_hvac_zone_list_w_area_dict.py
  rct229/rulesets/ashrae9012019/ruleset_functions/get_hw_loop_zone_list_w_area_dict.py
  rct229/rulesets/ashrae9012019/ruleset_functions/get_primary_secondary_loops_dict.py
  rct229/rulesets/ashrae9012019/section5/__init__.py
  rct229/rulesets/ashrae9012019/section5/section5rule37.py
  rct229/rulesets/ashrae9012019/section6/section6rule2.py
  rct229/ruletest_engine/run_ruletests.py
Labels: enhancement

#943 Create Rule_21-2.md
  docs/_toc.md
  docs/section21/Rule21-2.md
Labels: rds, section21, ReadytoMerge, secondary

#946 Rds/kjw/rule 21 14
  docs/_toc.md
  docs/section21/Rule21-14.md
Labels: rds, section21, ReadytoMerge, secondary

#945 Create Rule_21-15.md
  docs/_toc.md
  docs/section21/Rule21-15.md
Labels: rds, section21, ReadytoMerge, secondary

#944 Rds/kjw/rule 21 1
  docs/section21/Rule21-1.md
Labels: rds, section21, ReadytoMerge, secondary

#973 get_most_used_weekday_hourly_schedule function development
  rct229/rule_engine/rulesets.py
  rct229/rulesets/ashrae9012019/ruleset_functions/compare_schedules.py
  rct229/rulesets/ashrae9012019/ruleset_functions/get_most_used_weekday_hourly_schedule.py
  rct229/rulesets/ashrae9012019/ruleset_functions/get_most_used_weekday_hourly_schedule_test.py
  rct229/rulesets/ashrae9012019/section5/section5rule45.py
Labels: functions

#738 Rds/cml/19 10
  docs/_toc.md
  docs/section19/Rule19-10.md
Labels: rds, ReadytoMerge, open comments, section19

#740 Rds/cml/19 12
  docs/section19/19-12.md
Labels: rds, ReadytoMerge, section19

#756 Create 19-17.md
  docs/_toc.md
  docs/section19/Rule19-17.md
Labels: rds, ReadytoMerge, section19

#875 Rds/cml/19 7
  docs/_toc.md
  docs/section19/Rule19-7.md
Labels: rds, ReadytoMerge, section19

#874 Rds/cml/19 14
  docs/_toc.md
  docs/section19/Rule19-14.md
Labels: rds, ReadytoMerge, section19

#873 Rds/cml/19 13
  docs/_toc.md
  docs/section19/Rule19-13.md
Labels: rds, ReadytoMerge, section19

#837 Create 19-22.md
  docs/_toc.md
  docs/section19/Rule19-22.md
Labels: rds, ReadytoMerge, section19

#799 Rds/cml/19 20
  docs/_toc.md
  docs/section19/Rule19-20.md
Labels: rds, ReadytoMerge, section19

#979 RS+RMD/YS/RULE19-5 + 19-6
  rct229/rule_engine/rulesets.py
  rct229/rulesets/ashrae9012019/__init__.py
  rct229/rulesets/ashrae9012019/section19/__init__.py
  rct229/rulesets/ashrae9012019/section19/section19rule1.py
  rct229/rulesets/ashrae9012019/section19/section19rule5.py
  rct229/rulesets/ashrae9012019/section19/section19rule6.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/chiller_tests.json
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section19/rule_19_1.json
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section19/rule_19_5.json
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section19/rule_19_6.json
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section22/rule_22_21.json
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section22/rule_22_31.json
  rct229/ruletest_engine/ruletest_jsons/scripts/generate_schedule_json.py
  rct229/ruletest_engine/ruletest_jsons/scripts/json_generation_utilities.py
  rct229/ruletest_engine/run_ruletests.py
  rct229/schema/Output2019ASHRAE901.schema.json
Labels: rule_definition, rule_test, section19

#957 updated rule 5-4 RDS to give undetermined and not_applicable outcomes
  docs/_toc.md
  docs/section5/Rule5-4.md
  docs/section5/archive/Rule5-4.md
Labels: section5, rds, ReadytoMerge

#959 updated rule 5-7 RDS to give undetermined and not_applicable outcomes
  docs/section5/Rule5-7.md
  docs/section5/archive/Rule5-7.md
Labels: section5, rds, ReadytoMerge

#961 updated rule 5-12 RDS to give undetermined and not_applicable outcomes
  docs/section5/Rule5-12.md
  docs/section5/archive/Rule5-12.md
Labels: section5, rds, ReadytoMerge

#962 updated rule 5-14 RDS to give undetermined and not_applicable outcomes
  docs/section5/Rule5-14.md
  docs/section5/archive/Rule5-14.md
Labels: section5, rds, ReadytoMerge

#966 updated rule 5-39 RDS to give undetermined and not_applicable outcomes
  docs/section5/Rule5-39.md
  docs/section5/archive/Rule5-39.md
Labels: section5, rds, ReadytoMerge

#867 Create get_fan_system_object_supply_return_exhaust_relief_total_kW_CF…
  docs/_toc.md
  docs/ruleset_functions/get_fan_system_object_supply_return_exhaust_relief_total_kW_CFM.md
Labels: rds, ReadytoMerge, functions, section19

#871 Rds/cml/function are all hvac sys fan objs autosized
  docs/_toc.md
  docs/ruleset_functions/are_all_hvac_sys_fan_objs_autosized.md
Labels: rds, ReadytoMerge, functions, section19

#1013 Rs/jdj/rule5 4
  rct229/rulesets/ashrae9012019/section5/__init__.py
  rct229/rulesets/ashrae9012019/section5/section5rule4.py
Labels: section5, rule_definition, secondary
