Repository pnnl/ruleset-checking-tool, pull requests merged in 2023-02, with the labels that each got.

#912 RS/YJ/Rule 23-16
  docs/section23/Rule23-16.md
  rct229/rules/section23/__init__.py
  rct229/rules/section23/section23rule16.py
  rct229/ruletest_engine/ruletest_jsons/section23/rule_23_16.json
  rct229/utils/pint_utils.py
Labels: rule_definition, section23

#918 add test case to get_area_type_window_wall_area_type to reach 100% co…
  rct229/ruleset_functions/get_area_type_window_wall_area_test.py
Labels: functions

#56 Add Rule5-38
  docs/_toc.md
  docs/section5/Rule5-38.md
Labels: section5, rds, ReadytoMerge

#914 RS/YJ/Rule 23-8
  docs/section23/Rule23-8.md
  rct229/rules/section23/__init__.py
  rct229/rules/section23/section23rule8.py
  rct229/ruletest_engine/ruletest_jsons/section23/rule_23_8.json
Labels: rule_definition, section23

#917 RCT/YJ/branch_coverage_check_purchased_chw_hhw_status_dict
  docs/ruleset_functions/check_purchased_chw_hhw_status_dict.md
  rct229/ruleset_functions/check_purchased_chw_hhw_status_dict.py
  rct229/ruleset_functions/check_purchased_chw_hhw_status_dict_test.py
Labels: functions

#656 Create 19-12.md
  docs/_toc.md
  docs/section19/Rule19-1.md
  docs/section19/Rule19-12.md
  docs/section19/Rule19-18.md
  docs/section19/Rule19-2.md
  docs/section19/Rule19-9.md
Labels: rds, ReadytoMerge, open comments, section19

#688 Rds/cml/19 5
  docs/_toc.md
  docs/section19/Rule19-5.md
Labels: rds, ReadytoMerge, open comments, section19

#886 Rds/cml/19 4
  docs/_toc.md
  docs/section19/Rule19-4.md
Labels: rds, ReadytoMerge, section19

#689 Create 19-6.md
  docs/_toc.md
  docs/section19/Rule19-6.md
Labels: rds, ReadytoMerge, open comments, section19

#836 Rds/cml/19 11
  docs/_toc.md
  docs/section19/Rule19-11.md
Labels: rds, ReadytoMerge, section19

#885 Rds/cml/function get most used weekday hourly schedule
  docs/_toc.md
  docs/ruleset_functions/get_most_used_weekday_hourly_schedule.md
Labels: rds, ReadytoMerge, functions, section19

#887 Create aggregate_min_OA_schedule_across_zones.md
  docs/_toc.md
  docs/ruleset_functions/aggregate_min_OA_schedule_across_zones.md
Labels: rds, ReadytoMerge, functions, section19

#932 Add baseline system type fixes caught by KJW
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/system_types/System_1a_PTAC.json
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/system_types/System_1b_PTAC.json
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/system_types/System_1c_PTAC.json
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/system_types/System_5b_PVAV_HW_Reheat.json
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/system_types/System_6b_PVAV_Elec_Reheat.json
  rct229/ruletest_engine/ruletest_jsons/system_types.json
Labels: rule_test

#937 RS/YJ/Rule 5-38
  rct229/rulesets/ashrae9012019/data_fns/table_G3_4_fns.py
  rct229/rulesets/ashrae9012019/section5/__init__.py
  rct229/rulesets/ashrae9012019/section5/section5rule2.py
  rct229/rulesets/ashrae9012019/section5/section5rule36.py
  rct229/rulesets/ashrae9012019/section5/section5rule38.py
  rct229/rulesets/ashrae9012019/section5/section5rule46.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section5/rule_5_38.json
  rct229/ruletest_engine/ruletest_jsons/envelope_tests.json
Labels: rule_definition, rule_test
