Repository pnnl/ruleset-checking-tool, pull requests merged in 2023-12, with the labels that each got.

#1192 RS/YJ/Rule 5-9
  docs/section5/Rule5-9.md
  rct229/rulesets/ashrae9012019/section5/section5rule9.py
Labels: section5, rule_definition, ReadytoMerge, secondary

#1212 RCT/JX/Rule21-8
  rct229/rulesets/ashrae9012019/section21/__init__.py
  rct229/rulesets/ashrae9012019/section21/section21rule8.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section21/rule_21_8.json
Labels: rule_definition, rule_test, section21

#1208 RT/JDJ/Rule5-29
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section5/rule_5_29.json
Labels: section5, rule_test, secondary

#1205 RT/JDJ/Rule5-11
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section5/rule_5_11.json
Labels: section5, rule_test, secondary

#1204 RT/JDJ/Rule5-9
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section5/rule_5_9.json
Labels: section5, rule_test, secondary

#1202 RT/JDJ/Rule5-5
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section5/rule_5_5.json
Labels: section5, rule_test, secondary

#1187 RDS/JDJ/Rule5-15
  docs/section5/Rule5-15.md
Labels: section5, rds

#1191 RDS/CML/Rule19-3
  docs/_toc.md
  docs/section19/Rule19-3.md
Labels: rds, ReadytoMerge, section19

#1172 Create Rule23-12.md
  docs/_toc.md
  docs/section23/Rule23-12.md
Labels: rds, ReadytoMerge, section23, secondary

#1163 Create Rule5-1.md
  docs/_toc.md
  docs/section5/Rule5-1.md
Labels: section5, rds, ReadytoMerge

#797 Rds/cml/19 19
  docs/_toc.md
  docs/section19/Rule19-18.md
Labels: rds, ReadytoMerge, open comments, section19

#1222 RDS/JDJ/Rule5-22
  docs/section5/Rule5-22.md
Labels: section5, rds

#1211 RS/JDJ/Rule5-22
  rct229/rulesets/ashrae9012019/section5/section5rule22.py
Labels: section5, rule_definition, ReadytoMerge

#1181 Rds/kjw/rule 22 28
  docs/_toc.md
  docs/section22/Rule22-28.md
Labels: rds, section22, secondary

#1177 Rds/kjw/rule 23 4
  docs/_toc.md
  docs/section23/Rule23-4.md
Labels: rds, section23, secondary

#1178 Create Rule23-5.md
  docs/_toc.md
  docs/section23/Rule23-5.md
Labels: rds, section23, secondary

#1223 RCT/JX/Rule23-12
  rct229/rulesets/ashrae9012019/section23/__init__.py
  rct229/rulesets/ashrae9012019/section23/section23rule12.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section23/rule_23_12.json
Labels: rule_definition, rule_test, section23, secondary

#1224 RS/YJ/Rule 19-3
  docs/section19/Rule19-3.md
  rct229/rulesets/ashrae9012019/section19/__init__.py
  rct229/rulesets/ashrae9012019/section19/section19rule3.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section19/rule_19_3.json
Labels: rule_definition, section19, secondary

#1214 Rule test 19-3 JSON
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section19/rule_19_3.json
Labels: rule_test, section19

#1210 RS/JDJ/Rule5-28
  rct229/rulesets/ashrae9012019/section5/section5rule28.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section5/rule_5_28.json
Labels: section5, rule_definition, rule_test

#1231 RCT/JX/Rule5-41
  rct229/rulesets/ashrae9012019/section5/__init__.py
  rct229/rulesets/ashrae9012019/section5/section5rule41.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section5/rule_5_41.json
Labels: section5, rule_definition, rule_test

#1206 RT/JDJ/Rule5-22
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section5/rule_5_22.json
Labels: section5, rule_test

#1173 Rds/kjw/rule 23 11
  docs/_toc.md
  docs/section23/Rule23-10.md
  docs/section23/Rule23-11.md
  rct229/rulesets/ashrae9012019/section5/section5rule22.py
Labels: rds, ReadytoMerge, section23, secondary

#1175 Rds/kjw/rule 23 13
  docs/_toc.md
  docs/section23/Rule23-13.md
Labels: rds, ReadytoMerge, section23, secondary

#1176 Create Rule23-9.md
  docs/_toc.md
  docs/section23/Rule23-9.md
Labels: rds, ReadytoMerge, section23, secondary

#1179 Rds/kjw/rule 23 1
  docs/_toc.md
  docs/section23/Rule23-1.md
Labels: rds, ReadytoMerge, section23, secondary

#1182 Create Rule23-14.md
  docs/_toc.md
  docs/section23/Rule23-14.md
Labels: rds, ReadytoMerge, section23, secondary

#1180 Create Rule23-15.md
  docs/_toc.md
  docs/section23/Rule23-15.md
Labels: rds, ReadytoMerge, section23, secondary

#1228 RDS/JDJ/Rule5-39
  docs/section5/Rule5-39.md
Labels: section5, rds, ReadytoMerge, secondary

#881 Rds/kjw/rule 23 2
  docs/section23/Rule23-2.md
Labels: rds, ReadytoMerge, section23

#1221 Section 23 rule updates
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/airside_hvac_master.json
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section23/rule_23_16.json
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section23/rule_23_2.json
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section23/rule_23_3.json
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section23/rule_23_6.json
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section23/rule_23_7.json
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section23/rule_23_8.json
Labels: rule_test, section23

#1220 Ruletest JSON- 23-12
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section23/rule_23_12.json
Labels: rule_test, section23

#1225 RS/YJ/Rule 22-28
  docs/section22/Rule22-28.md
  rct229/rulesets/ashrae9012019/section22/__init__.py
  rct229/rulesets/ashrae9012019/section22/section22rule28.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/chiller_tcd_master.json
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section22/rule_22_28.json
Labels: rule_definition, ReadytoMerge, section22

#1232 Ruletest JSON for 22-28
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/chiller_tcd_master.json
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section22/rule_22_28.json
Labels: rule_test, section22

#1235 Rule Definition 23-11
  rct229/rulesets/ashrae9012019/section23/__init__.py
  rct229/rulesets/ashrae9012019/section23/section23rule11.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section23/rule_23_11.json
  rct229/utils/pint_utils.py
Labels: rule_definition, section23

#1246 Rule test JSON for 23-11
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section23/rule_23_11.json
Labels: rule_test, section23

#1237 Create section23rule9.py
  rct229/rulesets/ashrae9012019/section23/__init__.py
  rct229/rulesets/ashrae9012019/section23/section23rule9.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section23/rule_23_1.json
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section23/rule_23_9.json
Labels: rule_definition, section23

#1244 Rule test JSON for 23-1
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section23/rule_23_1.json
Labels: rule_test, section23

#1245 Rule test JSON for 23-9
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section23/rule_23_1.json
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section23/rule_23_9.json
Labels: rule_test, section23

#1236 Complete Rule Definition 23-13 and 23-1
  rct229/rulesets/ashrae9012019/section23/__init__.py
  rct229/rulesets/ashrae9012019/section23/section23rule1.py
  rct229/rulesets/ashrae9012019/section23/section23rule13.py
  rct229/rulesets/ashrae9012019/section23/section23rule14.py
  rct229/rulesets/ashrae9012019/section23/section23rule15.py
  rct229/rulesets/ashrae9012019/section23/section23rule9.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section23/rule_23_13.json
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section23/rule_23_14.json
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section23/rule_23_15.json
Labels: rule_definition, section23

#1238 Rule 23-14 and 23-15
  rct229/rulesets/ashrae9012019/section23/section23rule14.py
  rct229/rulesets/ashrae9012019/section23/section23rule15.py
Labels: rule_definition, section23

#1247 Rule test JSONs for 23-13, 23-14, and 23-15
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section23/rule_23_13.json
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section23/rule_23_14.json
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section23/rule_23_15.json
Labels: rule_test, section23

#1148 RS/YJ/Rule 18-2
  docs/section18/Rule18-2.md
  rct229/rulesets/ashrae9012019/section18/__init__.py
  rct229/rulesets/ashrae9012019/section18/section18rule2.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section18/rule_18_2.json
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section18/rule_18_3.json
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/system_zone_assignment_tcd_master.json
Labels: rule_definition, ReadytoMerge, section18

#1242 RT/JDJ/Rule5-30
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section5/rule_5_30.json
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section5/rule_5_31.json
  rct229/ruletest_engine/run_ruletests.py
Labels: section5, rule_test

#1243 RT/JDJ/Rule5-32
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section5/rule_5_31.json
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section5/rule_5_32.json
Labels: section5, rule_test

#1248 RCT/JX/Rule5-40
  rct229/rulesets/ashrae9012019/data_fns/table_G3_4_fns.py
  rct229/rulesets/ashrae9012019/section5/__init__.py
  rct229/rulesets/ashrae9012019/section5/section5rule39.py
Labels: section5, rule_definition, rule_test

#1174 Rds/kjw/rule 23 10
  docs/section23/Rule23-10.md
Labels: rds, section23, secondary
