Repository pnnl/ruleset-checking-tool, pull requests merged in 2023-04, with the labels that each got.

#929 Create is_economizer_modeled_in_proposed.md
  docs/_toc.md
  docs/ruleset_functions/is_economizer_modeled_in_proposed.md
Labels: rds, ReadytoMerge, functions, section19

#1015 Rs/jdj/rule5 7
  rct229/rulesets/ashrae9012019/section5/__init__.py
  rct229/rulesets/ashrae9012019/section5/section5rule7.py
Labels: section5, rule_definition, secondary

#1016 Rs/jdj/rule5 10
  rct229/rulesets/ashrae9012019/section5/__init__.py
  rct229/rulesets/ashrae9012019/section5/section5rule10.py
Labels: section5, rule_definition, secondary

#1006 RS+RMD/YJ/RULE19-12
  docs/section19/Rule19-12.md
  rct229/rulesets/ashrae9012019/section19/__init__.py
  rct229/rulesets/ashrae9012019/section19/section19rule12.py
  rct229/ruletest_engine/ruletest_jsons/scripts/json_generation_utilities.py
Labels: rule_definition, rule_test, section19

#982 Complete get_fan_object_electric_power
  rct229/rulesets/ashrae9012019/ruleset_functions/get_fan_object_electric_power.py
  rct229/rulesets/ashrae9012019/ruleset_functions/get_fan_object_electric_power_test.py
  rct229/schema/ASHRAE229.schema.json
Labels: functions, section19

#978 RS+RMD/YS/RULE19-1
  rct229/rulesets/ashrae9012019/section19/section19rule1.py
Labels: rule_definition, rule_test, section19

#994 RS+RMD/YJ/RULE19-18
  rct229/rulesets/ashrae9012019/section19/__init__.py
  rct229/rulesets/ashrae9012019/section19/section19rule18.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section19/rule_19_18.json
Labels: rule_definition, rule_test, section19

#802 Rds/cml/19 24
  docs/_toc.md
  docs/section19/Rule19-24.md
Labels: rds, ReadytoMerge, section19

#800 Create 19-25.md
  docs/_toc.md
  docs/section19/Rule19-25.md
Labels: rds, ReadytoMerge, section19

#870 Rds/cml/19 23
  docs/_toc.md
  docs/ruleset_functions/get_zone_supply_return_exhaust_relief_terminal_fan_power_dict.md
  docs/section19/Rule19-23.md
Labels: rds, ReadytoMerge, section19

#900 Create Rule 19-27.md
  docs/_toc.md
  docs/section19/Rule19-27.md
Labels: rds, ReadytoMerge, section19

#1023 RS/YJ/aggregate_min_OA_schedule_across_zones
  rct229/rulesets/ashrae9012019/ruleset_functions/aggregate_min_OA_schedule_across_zones.py
  rct229/rulesets/ashrae9012019/ruleset_functions/aggregate_min_OA_schedule_across_zones_test.py
Labels: functions

#901 Rds/cml/19 28
  docs/_toc.md
  docs/section19/Rule19-28.md
Labels: rds, ReadytoMerge, section19

#902 Create Rule 19-29.md
  docs/_toc.md
  docs/section19/Rule19-29.md
Labels: rds, ReadytoMerge, section19

#903 Create Rule 19-30.md
  docs/_toc.md
  docs/section19/Rule19-30.md
Labels: rds, ReadytoMerge, section19

#904 Create Rule 19-31.md
  docs/section19/Rule 19-31.md
Labels: rds, ReadytoMerge, section19

#869 Create get_zone_supply_return_exhaust_relief_terminal_fan_power_dict.md
  docs/_toc.md
  docs/ruleset_functions/get_zone_supply_return_exhaust_relief_terminal_fan_power_dict.md
  docs/section19/Rule19-31.md
Labels: rds, ReadytoMerge, functions

#983 Rds/cml/function get hvac sys and assoc zones largest exhaust source
  docs/_toc.md
  docs/ruleset_functions/get_hvac_sys_and_assoc_zones_largest_exhaust_source.md
Labels: rds, ReadytoMerge, functions

#993 Update Rule22-41.md
  docs/section22/Rule22-41.md
Labels: rds, ReadytoMerge, section22, secondary

#991 Create Rule22-38.md
  docs/_toc.md
  docs/section22/Rule22-38.md
Labels: rds, ReadytoMerge, section22, secondary

#990 Create Rule22-37.md
  docs/_toc.md
  docs/section22/Rule22-37.md
Labels: rds, ReadytoMerge, section22, secondary

#989 Rds/kjw/rule 22 35
  docs/_toc.md
  docs/section22/Rule22-35.md
Labels: rds, ReadytoMerge, section22, secondary

#905 Rds/cml/19 32
  docs/_toc.md
  docs/section19/Rule19-32.md
Labels: rds, ReadytoMerge, section19

#906 Create Rule 19-33.md
  docs/_toc.md
  docs/section19/Rule19-33.md
Labels: rds, ReadytoMerge, section19

#908 Create Rule 19-34.md
  docs/_toc.md
  docs/section19/Rule19-34.md
Labels: rds, ReadytoMerge, section19

#909 Create Rule 19-35.md
  docs/_toc.md
  docs/section19/Rule19-35.md
Labels: rds, ReadytoMerge, section19

#910 Create Rule 19-36.md
  docs/_toc.md
  docs/section19/Rule19-36.md
Labels: rds, ReadytoMerge, section19

#911 Rds/cml/19 37
  docs/_toc.md
  docs/section19/Rule19-37.md
Labels: rds, ReadytoMerge, section19

#980 RS+RMD/YS/RULE19-9
  rct229/rulesets/ashrae9012019/section19/__init__.py
  rct229/rulesets/ashrae9012019/section19/section19rule9.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section19/rule_19_9.json
Labels: rule_definition, rule_test, section19

#988 RS+RMD/YJ/RULE19-8
  rct229/rulesets/ashrae9012019/section19/__init__.py
  rct229/rulesets/ashrae9012019/section19/section19rule8.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section19/rule_19_8.json
Labels: rule_definition, rule_test, section19

#1029 Rs/jdj/rule5 39
  rct229/rulesets/ashrae9012019/section5/__init__.py
  rct229/rulesets/ashrae9012019/section5/section5rule39.py
Labels: section5, rule_definition, secondary

#1027 RS/YJ/is_economizer_modeled_in_proposed + get_list_hvac_systems_associated_with_zone
  rct229/rulesets/ashrae9012019/ruleset_functions/get_list_hvac_systems_associated_with_zone.py
  rct229/rulesets/ashrae9012019/ruleset_functions/get_list_hvac_systems_associated_with_zone_test.py
  rct229/rulesets/ashrae9012019/ruleset_functions/is_economizer_modeled_in_proposed.py
  rct229/rulesets/ashrae9012019/ruleset_functions/is_economizer_modeled_in_proposed_test.py
Labels: functions

#1024 Rs/wx/are all hvac sys fan objs autosized
  docs/ruleset_functions/are_all_hvac_sys_fan_objs_autosized.md
  rct229/rulesets/ashrae9012019/ruleset_functions/are_all_hvac_sys_fan_objects_autosized.py
  rct229/rulesets/ashrae9012019/ruleset_functions/are_all_hvac_sys_fan_objects_autosized_test.py
  rct229/schema/ASHRAE229.schema.json
Labels: functions, section19

#1014 Update Rule22-14.md
  docs/section22/Rule22-14.md
Labels: ReadytoMerge, section22

#998 Create get_heat_rejection_loops_connected_to_baseline_systems.md
  docs/_toc.md
  docs/ruleset_functions/get_heat_rejection_loops_connected_to_baseline_systems.md
Labels: rds, ReadytoMerge, functions

#1002 Create Rule22-18.md
  docs/_toc.md
  docs/section22/Rule22-18.md
Labels: rds, ReadytoMerge, section22

#997 Rds/kjw/rule 22 12
  docs/_toc.md
  docs/section22/Rule22-12.md
Labels: rds, ReadytoMerge, section22

#999 Create Rule22-13.md
  docs/_toc.md
  docs/section22/Rule22-13.md
Labels: rds, ReadytoMerge, section22

#1000 Create Rule22-15.md
  docs/_toc.md
  docs/section22/Rule22-15.md
Labels: rds, ReadytoMerge, section22

#1001 Create Rule22-17.md
  docs/_toc.md
  docs/section22/Rule22-17.md
Labels: rds, ReadytoMerge, section22

#919 Create Rule 19-39.md
  docs/_toc.md
  docs/section19/Rule19-35.md
Labels: rds, ReadytoMerge, section19

#976 section 5 43
  rct229/rulesets/ashrae9012019/section5/__init__.py
  rct229/rulesets/ashrae9012019/section5/section5rule43.py
Labels: section5

#1045 Update Rule19-23.md
  docs/section19/Rule19-20.md
Labels: rds, section19

#1042 Update Rule19-14.md
  docs/section19/Rule19-14.md
Labels: rds, section19

#1044 Update Rule19-20.md
  docs/section19/Rule19-19.md
Labels: rds, section19

#1039 Update Rule19-13.md
  docs/section19/Rule19-13.md
Labels: rds, section19

#974 Section 5 rule 29 development
  docs/section5/Rule5-29.md
  rct229/rulesets/ashrae9012019/section5/__init__.py
  rct229/rulesets/ashrae9012019/section5/section5rule29.py
Labels: section5

#1055 System to zone assignment capability for ruletest JSON generation spreadsheet
  rct229/ruletest_engine/ruletest_jsons/scripts/excel_to_test_json_utilities.py
  rct229/ruletest_engine/ruletest_jsons/scripts/json_generation_utilities.py
Labels: rule_test

#1031 creation of 22_37 non-primary rule
  rct229/rulesets/ashrae9012019/section22/__init__.py
  rct229/rulesets/ashrae9012019/section22/section22rule37.py
Labels: rule_definition, section22, secondary

#1032 creation of 22_38 non-primary rule
  rct229/rulesets/ashrae9012019/section22/__init__.py
  rct229/rulesets/ashrae9012019/section22/section22rule38.py
Labels: rule_definition, section22, secondary

#1033 creation of 22_39 non-primary rule
  rct229/rulesets/ashrae9012019/section22/__init__.py
  rct229/rulesets/ashrae9012019/section22/section22rule39.py
Labels: rule_definition, section22, secondary

#1034 Rt/kjw/rule21 1
  rct229/rulesets/ashrae9012019/section21/__init__.py
  rct229/rulesets/ashrae9012019/section21/section21rule1.py
Labels: rule_definition, section21, secondary

#1035 Rt/kjw/rule21 2
  rct229/rulesets/ashrae9012019/section21/__init__.py
  rct229/rulesets/ashrae9012019/section21/section21rule2.py
Labels: rule_definition, section21, secondary

#1036 Rt/kjw/rule21 14
  rct229/rulesets/ashrae9012019/section21/__init__.py
  rct229/rulesets/ashrae9012019/section21/section21rule14.py
Labels: rule_definition, section21, secondary

#1037 creation of 21_15 non-primary rule
  rct229/rulesets/ashrae9012019/section21/__init__.py
  rct229/rulesets/ashrae9012019/section21/section21rule15.py
Labels: rule_definition, section21, secondary

#1049 Wx/rd/get zone supply return exhaust relief terminal fan power dict
  docs/ruleset_functions/get_zone_supply_return_exhaust_relief_terminal_fan_power_dict.md
  rct229/rulesets/ashrae9012019/ruleset_functions/get_dict_of_zones_and_terminal_units_served_by_hvac_sys.py
  rct229/rulesets/ashrae9012019/ruleset_functions/get_fan_object_electric_power.py
  rct229/rulesets/ashrae9012019/ruleset_functions/get_fan_system_object_supply_return_exhaust_relief_total_power_flow.py
  rct229/rulesets/ashrae9012019/ruleset_functions/get_fan_system_object_supply_return_exhaust_relief_total_power_flow_test.py
  rct229/rulesets/ashrae9012019/ruleset_functions/get_zone_supply_return_exhaust_relief_terminal_fan_power_dict.py
  rct229/rulesets/ashrae9012019/ruleset_functions/get_zone_supply_return_exhaust_relief_terminal_fan_power_dict_test.py
Labels: section19

#1028 RS/YJ/get_fan_system_object_supply_return_exhaust_relief_total_power_flow
  docs/ruleset_functions/get_fan_system_object_supply_return_exhaust_relief_total_power_flow.md
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section19/rule_19_17.json
Labels: functions

#1051 Complete the get hvac sys and assoc zones largest exhaust source
  docs/ruleset_functions/get_hvac_sys_and_assoc_zones_largest_exhaust_source.md
  rct229/rulesets/ashrae9012019/ruleset_functions/get_hvac_sys_and_assoc_zones_largest_exhaust_source.py
  rct229/rulesets/ashrae9012019/ruleset_functions/get_hvac_sys_and_assoc_zones_largest_exhaust_source_test.py
Labels: functions

#720 Rds/kjw/function is cz 0 to 3a
  docs/_toc.md
  docs/ruleset_functions/is_CZ_0_to_3a.md
Labels: rds, ReadytoMerge, functions
