Repository pnnl/ruleset-checking-tool, pull requests merged in 2024-04, with the labels that each got.

#1195 RDS/JDJ/Rule1-1
  docs/_toc.md
  docs/ruleset_functions/get_BPF_building_area_types_and_zones.md
  docs/ruleset_functions/get_zone_BPF_BAT.md
  docs/section1/Rule1-1.md
Labels: rds, ReadytoMerge, section1

#1216 RDS/JDJ/Rule1-3
  docs/_toc.md
  docs/section1/Rule1-3.md
Labels: rds, ReadytoMerge, section1

#1291 Ruletest 4-11
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section4/rule_4_11.json
Labels: rule_test, section4

#1309 RS/YJ/Rule 1-2
  docs/section1/Rule1-1.md
  docs/section1/Rule1-2.md
  rct229/cli.py
  rct229/rule_engine/rulesets.py
  rct229/rulesets/ashrae9012019/__init__.py
  rct229/rulesets/ashrae9012019/section1/__init__.py
  rct229/rulesets/ashrae9012019/section1/section1rule2.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section1/rule_1_2.json
Labels: rule_definition, section1

#1310 RS/YJ/Rule 1-3
  docs/section1/Rule1-3.md
  rct229/rulesets/ashrae9012019/section1/__init__.py
  rct229/rulesets/ashrae9012019/section1/section1rule3.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section1/rule_1_3.json
Labels: rule_definition, section1

#266 Rds/cml/10 14
  docs/_toc.md
  docs/section10/10-14.md
Labels: rds, ReadytoMerge, section10

#1307 RS/YJ/get_zone_BPF_BAT Function
  docs/ruleset_functions/get_zone_BPF_BAT.md
  rct229/rulesets/ashrae9012019/data/ashrae_90_1_lighting_space_type_bpf_bat.json
  rct229/rulesets/ashrae9012019/data_fns/table_lighting_space_type_to_bpf_bat.py
  rct229/rulesets/ashrae9012019/data_fns/table_lighting_space_type_to_bpf_bat_test.py
  rct229/rulesets/ashrae9012019/ruleset_functions/get_zone_BPF_BAT.py
  rct229/rulesets/ashrae9012019/ruleset_functions/get_zone_BPF_BAT_test.py
Labels: ReadytoMerge, functions

#1285 Rds/cml/rule 10 7 mod
  docs/section10/10-7.md
Labels: rds, ReadytoMerge, section10

#882 Rds/kjw/rule 10 7
  docs/section10/10-7.md
Labels: rds, section10, ahj_compare

#1308 RS/YJ/get_BPF_building_area_types_and_zones function
  docs/ruleset_functions/get_BPF_building_area_types_and_zones.md
  rct229/rulesets/ashrae9012019/data/ashrae_90_1_lighting_space_type_BPF_area_type.json
  rct229/rulesets/ashrae9012019/data_fns/table_lighting_space_type_BPF_area_type_map.py
  rct229/rulesets/ashrae9012019/data_fns/table_lighting_space_type_BPF_area_type_map_test.py
  rct229/rulesets/ashrae9012019/data_fns/table_lighting_to_hvac_bat_map_fns.py
  rct229/rulesets/ashrae9012019/ruleset_functions/get_BPF_building_area_types_and_zones.py
  rct229/rulesets/ashrae9012019/ruleset_functions/get_BPF_building_area_types_and_zones_test.py
Labels: ReadytoMerge, functions

#1326 RDS/JDJ/Rule 16-1
  docs/_toc.md
  docs/section16/Rule16-1.md
Labels: rds, ReadytoMerge, section16

#1327 RDS/JDJ/Rule 16-2
  docs/_toc.md
  docs/section16/Rule16-2.md
Labels: rds, ReadytoMerge, section16

#1328 RDS/JDJ/Rule 16-3
  docs/_toc.md
  docs/section16/Rule16-3.md
Labels: rds, ReadytoMerge, section16

#1329 RDS/JDJ/Rule 16-4
  docs/_toc.md
  docs/section16/Rule16-4.md
Labels: rds, ReadytoMerge, section16

#1331 RDS/JDJ/Rule 16-6
  docs/_toc.md
  docs/section16/Rule16-6.md
Labels: rds, ReadytoMerge, section16

#1318 Ruletest 1-4
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section1/rule_1_4.json
Labels: rule_test, section1

#1312 RS/YJ/Rule 1-5
  docs/section1/Rule1-5.md
  rct229/rulesets/ashrae9012019/section1/__init__.py
  rct229/rulesets/ashrae9012019/section1/section1rule5.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section1/rule_1_5.json
Labels: rule_definition, section1

#1319 Ruletest 1-5
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section1/rule_1_5.json
Labels: rule_test, section1

#1341 RS/YJ/Rule 1-5 quick fix
  rct229/rulesets/ashrae9012019/section1/__init__.py
Labels: bug
