Repository pnnl/ruleset-checking-tool, pull requests merged in 2024-08, with the labels that each got.

#1459 RS/JDJ/Rule19-16 Bug Fix
  rct229/rulesets/ashrae9012019/section19/section19rule16.py
Labels: bug, section19

#1460 RS/JDJ/Rule5-17 Bug Fix
  rct229/rulesets/ashrae9012019/section5/section5rule17.py
Labels: bug, section5

#1461 RS/JDJ/Rule5-28 Bug Fix
  rct229/rulesets/ashrae9012019/section5/section5rule28.py
Labels: bug, section5

#1466 RS/JDJ/Rule19-4 Bug Fix
  rct229/rulesets/ashrae9012019/section19/section19rule4.py
Labels: bug, section19

#1469 RS/JDJ/Section22 Applicability Updates
  docs/section22/Rule22-5.md
  docs/section22/Rule22-6.md
  rct229/rulesets/ashrae9012019/section22/section22rule5.py
  rct229/rulesets/ashrae9012019/section22/section22rule6.py
Labels: bug, section22

#1468 RS/JDJ/Section21 System8c Applicability
  docs/section21/Rule21-10.md
  docs/section21/Rule21-11.md
  docs/section21/Rule21-12.md
  docs/section21/Rule21-13.md
  docs/section21/Rule21-16.md
  rct229/rulesets/ashrae9012019/section21/section21rule10.py
  rct229/rulesets/ashrae9012019/section21/section21rule11.py
  rct229/rulesets/ashrae9012019/section21/section21rule12.py
  rct229/rulesets/ashrae9012019/section21/section21rule13.py
  rct229/rulesets/ashrae9012019/section21/section21rule16.py
Labels: bug, section21

#1465 RS/JDJ/Rule23-4 Bug Fix
  rct229/rulesets/ashrae9012019/section23/section23rule4.py
Labels: bug, section23

#1458 RS/JDJ/Rule19-10 Bug Fix
  rct229/rulesets/ashrae9012019/section19/section19rule10.py
Labels: bug, section19

#1474 RT/JDJ/23-4 json fix
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section23/rule_23_4.json
Labels: section23

#1478 RT/JDJ/5-3 json fix
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section5/rule_5_3.json
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section5_envelope_tcd_master.json
Labels: section5

#1486 RT/JDJ/23 6 json fix
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section23/rule_23_6.json
Labels: section23

#1484 RT/JDJ/22-7 json fix
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section22/rule_22_7.json
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section22_chiller_tcd_master.json
Labels: section22

#1482 correct 22-33 test json
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section22/rule_22_33.json
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section22_chiller_tcd_master.json
Labels: section22

#1483 Ruletest 23-4 fix
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section23/rule_23_4.json
Labels: rule_test

#1488 Ruletest 22-13 fix
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section22/rule_22_13.json
Labels: rule_test

#1481 RS/JDJ/Rule5 38 bugfix
  rct229/rulesets/ashrae9012019/section5/section5rule38.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section5/rule_5_38.json
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section5_envelope_tcd_master.json
Labels: bug, section5

#1485 RS/JDJ/22-17, 22-18, 22-28 Applicability
  rct229/rulesets/ashrae9012019/section22/section22rule17.py
  rct229/rulesets/ashrae9012019/section22/section22rule18.py
  rct229/rulesets/ashrae9012019/section22/section22rule28.py
Labels: bug, section22

#1491 RS/JDJ/std equal bugfix
  rct229/utils/std_comparisons.py
Labels: bug

#1495 Update Rule18-2.md
  docs/section18/Rule18-2.md
Labels: rds, section18

#1470 RT/JDJ/Rules 21-14 and 21-15
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section21/rule_21_14.json
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section21/rule_21_15.json
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section21_boiler_tcd_master.json
Labels: rule_test, section21

#1432 RS/JDJ/Rule19-18 bug fix
  rct229/rulesets/ashrae9012019/section19/section19rule18.py
Labels: bug, enhancement, section19

#1494 Excel-to-Test-JSON : System to Zone Assignment Update
  rct229/ruletest_engine/ruletest_jsons/scripts/excel_to_test_json_utilities.py
Labels: rule_test

#1500 RCT/YJ/get_swh_uses_associated_with_each_building_segment
  rct229/rulesets/ashrae9012019/ruleset_functions/get_swh_uses_associated_with_each_building_segment.py
  rct229/rulesets/ashrae9012019/ruleset_functions/get_swh_uses_associated_with_each_building_segment_test.py
Labels: functions, section11

#1420 RS/YJ/Rule 12-4
  rct229/rule_engine/rulesets.py
  rct229/rulesets/ashrae9012019/__init__.py
  rct229/rulesets/ashrae9012019/section12/__init__.py
  rct229/rulesets/ashrae9012019/section12/section12rule4.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section12/rule_12_4.json
Labels: section12, rule_definition, ReadytoMerge

#1438 Rule test 12-4
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section12/rule_12_4.json
  rct229/ruletest_engine/ruletest_jsons/scripts/generate_schedule_json.py
  rct229/ruletest_engine/ruletest_jsons/scripts/resources/schedule_library.json
Labels: section12, rule_test

#1412 RS/JX/Rule12-1
  rct229/cli.py
  rct229/rulesets/ashrae9012019/section12/__init__.py
  rct229/rulesets/ashrae9012019/section12/archive/__init__.py
  rct229/rulesets/ashrae9012019/section12/archive/section12rule1.py
  rct229/rulesets/ashrae9012019/section12/archive/section12rule2.py
  rct229/rulesets/ashrae9012019/section12/archive/section12rule3.py
  rct229/rulesets/ashrae9012019/section12/section12rule1.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section12/rule_12_1.json
Labels: section12, rule_definition

#1409 RCT/YJ/Rule 12-3
  rct229/rulesets/ashrae9012019/section12/__init__.py
  rct229/rulesets/ashrae9012019/section12/section12rule3.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section12/rule_12_3.json
  rct229/schema/ASHRAE229.schema.json
Labels: section12, rule_definition, ReadytoMerge

#1509 RS/JDJ/get surface conditioning category dict error
  rct229/rulesets/ashrae9012019/ruleset_functions/get_surface_conditioning_category_dict.py
Labels: bug
