Repository pnnl/ruleset-checking-tool, pull requests merged in 2024-03, with the labels that each got.

#1280 RCT/YJ/get_aggregated_zone_hvac_fan_operating_schedule function
  rct229/rulesets/ashrae9012019/ruleset_functions/get_aggregated_zone_hvac_fan_operating_schedule.py
  rct229/rulesets/ashrae9012019/ruleset_functions/get_aggregated_zone_hvac_fan_operating_schedule_test.py
Labels: ReadytoMerge, functions

#1263 Add is_tolerance_fail method
  rct229/rulesets/ashrae9012019/section19/section19rule12.py
  rct229/rulesets/ashrae9012019/section19/section19rule13.py
  rct229/rulesets/ashrae9012019/section19/section19rule14.py
  rct229/rulesets/ashrae9012019/section19/section19rule15.py
  rct229/rulesets/ashrae9012019/section19/section19rule19.py
  rct229/rulesets/ashrae9012019/section19/section19rule20.py
  rct229/rulesets/ashrae9012019/section21/section21rule6.py
  rct229/rulesets/ashrae9012019/section21/section21rule7.py
  rct229/rulesets/ashrae9012019/section21/section21rule9.py
  rct229/rulesets/ashrae9012019/section22/section22rule1.py
  rct229/rulesets/ashrae9012019/section22/section22rule11.py
  rct229/rulesets/ashrae9012019/section22/section22rule14.py
  rct229/rulesets/ashrae9012019/section22/section22rule16.py
  rct229/rulesets/ashrae9012019/section22/section22rule2.py
  rct229/rulesets/ashrae9012019/section22/section22rule20.py
  rct229/rulesets/ashrae9012019/section22/section22rule22.py
  rct229/rulesets/ashrae9012019/section22/section22rule25.py
  rct229/rulesets/ashrae9012019/section22/section22rule26.py
  rct229/rulesets/ashrae9012019/section22/section22rule29.py
  rct229/rulesets/ashrae9012019/section22/section22rule30.py
  rct229/rulesets/ashrae9012019/section22/section22rule32.py
  rct229/rulesets/ashrae9012019/section22/section22rule4.py
  rct229/rulesets/ashrae9012019/section22/section22rule6.py
  rct229/rulesets/ashrae9012019/section23/section23rule16.py
  rct229/rulesets/ashrae9012019/section23/section23rule2.py
  rct229/rulesets/ashrae9012019/section23/section23rule3.py
  rct229/rulesets/ashrae9012019/section23/section23rule6.py
  rct229/rulesets/ashrae9012019/section23/section23rule8.py
Labels: enhancement, ReadytoMerge

#1281 RCT/JX/Rule4-1
  rct229/cli.py
  rct229/rule_engine/rulesets.py
  rct229/rulesets/ashrae9012019/__init__.py
  rct229/rulesets/ashrae9012019/section4/__init__.py
  rct229/rulesets/ashrae9012019/section4/section4rule1.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section4/rule_4_1.json
Labels: rule_definition, rule_test, section4

#1215 RDS/JDJ/Rule1-2
  docs/_toc.md
  docs/section1/Rule1-2.md
Labels: rds, ReadytoMerge, section1

#1217 RDS/JDJ/Rule1-4
  docs/_toc.md
  docs/section1/Rule1-4.md
Labels: rds, ReadytoMerge, section1

#1218 RDS/JDJ/Rule1-5
  docs/_toc.md
  docs/section1/Rule1-5.md
Labels: rds, ReadytoMerge, section1

#1287 RCT/JX/Rule4-2
  rct229/rulesets/ashrae9012019/section4/__init__.py
  rct229/rulesets/ashrae9012019/section4/section4rule2.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section4/rule_4_2.json
  rct229/ruletest_engine/run_ruletests.py
Labels: rule_definition, rule_test, section4

#1290 Ruletest 4-2
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section4/rule_4_2.json
Labels: rule_test, section4

#1277 RS/YJ/Rule4-14
  docs/section4/4-14.md
  rct229/rulesets/ashrae9012019/section4/__init__.py
  rct229/rulesets/ashrae9012019/section4/section4rule14.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section4/rule_4_14.json
  rct229/utils/utility_functions.py
Labels: rule_definition, section4

#1294 Ruletest 10-14
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section10/rule_10_14.json
Labels: rule_test, section10

#1292 Ruletest 4-14
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section4/rule_4_14.json
Labels: rule_test, section4
