Repository pnnl/ruleset-checking-tool, pull requests merged in 2024-06, with the labels that each got.

#1342 RS/YJ/Rule 16-2, 3, and 4
  docs/section16/Rule16-2.md
  docs/section16/Rule16-3.md
  docs/section16/Rule16-4.md
  rct229/cli.py
  rct229/rule_engine/rulesets.py
  rct229/rulesets/ashrae9012019/__init__.py
  rct229/rulesets/ashrae9012019/section16/__init__.py
  rct229/rulesets/ashrae9012019/section16/section16rule2.py
  rct229/rulesets/ashrae9012019/section16/section16rule3.py
  rct229/rulesets/ashrae9012019/section16/section16rule4.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section16/rule_16_2.json
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section16/rule_16_3.json
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section16/rule_16_4.json
Labels: rule_definition, ReadytoMerge, section16

#1386 RDS/JDJ/update section16 applicability
  docs/section16/Rule16-1.md
  docs/section16/Rule16-2.md
  docs/section16/Rule16-3.md
  docs/section16/Rule16-4.md
  docs/section16/Rule16-5.md
  docs/section16/Rule16-6.md
  docs/section16/Rule16-7.md
Labels: rds, section16

#1364 RS/YJ/Rule 16-5
  rct229/rulesets/ashrae9012019/section16/__init__.py
  rct229/rulesets/ashrae9012019/section16/section16rule5.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section16/rule_16_5.json
  rct229/utils/assertions.py
Labels: rule_definition, ReadytoMerge, section16

#1383 Rule Test JSON 16-5
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section16/rule_16_5.json
Labels: rule_test, section16

#1344 RS/JX/Rule16-6
  rct229/rulesets/ashrae9012019/section16/__init__.py
  rct229/rulesets/ashrae9012019/section16/section16rule6.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section16/rule_16_6.json
Labels: rule_definition, rule_test, section16

#1345 RS/JX/Rule16-7
  rct229/rulesets/ashrae9012019/section16/__init__.py
  rct229/rulesets/ashrae9012019/section16/section16rule7.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section16/rule_16_7.json
  rct229/ruletest_engine/run_ruletests.py
Labels: rule_definition, rule_test, section16

#1346 RS/YJ/Rule 16-1
  docs/section16/Rule16-1.md
  rct229/rulesets/ashrae9012019/data/ashrae_90_1_table_G3_9_1.json
  rct229/rulesets/ashrae9012019/data/ashrae_90_1_table_G3_9_2.json
  rct229/rulesets/ashrae9012019/data/ashrae_90_1_table_G3_9_3.json
  rct229/rulesets/ashrae9012019/data_fns/table_G3_9_1_fins.py
  rct229/rulesets/ashrae9012019/data_fns/table_G3_9_1_fins_test.py
  rct229/rulesets/ashrae9012019/data_fns/table_G3_9_2_fins.py
  rct229/rulesets/ashrae9012019/data_fns/table_G3_9_2_fins_test.py
  rct229/rulesets/ashrae9012019/data_fns/table_G3_9_3_fins.py
  rct229/rulesets/ashrae9012019/data_fns/table_G3_9_3_fins_test.py
  rct229/rulesets/ashrae9012019/section16/__init__.py
  rct229/rulesets/ashrae9012019/section16/section16rule1.py
  rct229/rulesets/ashrae9012019/section19/section19rule18.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section16/rule_16_1.json
  rct229/utils/pint_utils.py
Labels: rule_definition, section16

#1392 RS/YJ/Rule 16-1 Small update
  rct229/rulesets/ashrae9012019/section16/section16rule1.py
Labels: enhancement, ReadytoMerge
