Repository pnnl/ruleset-checking-tool, pull requests merged in 2024-07, with the labels that each got.

#1391 RS/YJ/Rule1-3 Fix
  rct229/rulesets/ashrae9012019/section1/section1rule2.py
  rct229/rulesets/ashrae9012019/section1/section1rule3.py
  rct229/rulesets/ashrae9012019/section1/section1rule4.py
  rct229/rulesets/ashrae9012019/section1/section1rule5.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section1/rule_1_3.json
Labels: bug, ReadytoMerge

#1387 RDS/JDJ/Rule 12-3
  docs/section12/Rule12-3.md
Labels: section12, rds, ReadytoMerge

#1394 RDS/JDJ/Rule 12-4
  docs/_toc.md
  docs/section12/Rule12-4.md
Labels: section12, rds, ReadytoMerge

#1348 RDS/JDJ/Rule 12-1
  docs/_toc.md
  docs/section12/Rule12-1.md
Labels: section12, rds, ReadytoMerge

#1347 RDS/JDJ/Rule 12-2
  docs/_toc.md
  docs/section12/Rule12-2.md
Labels: section12, rds, ReadytoMerge

#1430 10-14 bug fix
  docs/section10/10-14.md
  rct229/rulesets/ashrae9012019/section10/section10rule14.py
Labels: bug, section10

#1419 RCT/YJ/are_all_terminal_types_VAV func update
  rct229/rulesets/ashrae9012019/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_types_VAV.py
  rct229/rulesets/ashrae9012019/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/test_are_all_terminal_types_VAV.py
Labels: functions

#1433 RS/JDJ/rule19 3 enhance
  rct229/rulesets/ashrae9012019/section19/section19rule3.py
Labels: enhancement, section19

#1428 RCT/YJ/Fix issue #1425
  rct229/rulesets/ashrae9012019/ruleset_functions/g311_exceptions/does_zone_meet_G3_1_1c.py
Labels: bug
