Repository pnnl/ruleset-checking-tool, pull requests merged in 2024-12, with the labels that each got.

#1522 Rule Test 11-6
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section11/rule_11_6.json
  rct229/ruletest_engine/ruletest_jsons/scripts/resources/json_pointer_enumerations.json
  rct229/schema/ASHRAE229.schema.json
Labels: rule_test, section11

#1564 RS/YJ/Rule 11-17 (include only necessary codes)
  docs/section11/Rule11-17.md
  rct229/rulesets/ashrae9012019/section11/__init__.py
  rct229/rulesets/ashrae9012019/section11/section11rule17.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section11/rule_11_17.json
  rct229/ruletest_engine/ruletest_jsons/scripts/resources/json_pointer_enumerations.json
Labels: rule_definition, ReadytoMerge, section11

#1566 RCT/YJ/get_fuels_modeled_in_rmd function
  docs/ruleset_functions/get_fuels_modeled_in_RMD.md
  rct229/rulesets/ashrae9012019/ruleset_functions/get_fuels_modeled_in_rmd.py
  rct229/rulesets/ashrae9012019/ruleset_functions/get_fuels_modeled_in_rmd_test.py
Labels: functions, section11, readyForReview

#1565 RS/YJ/Rule 11-16 (include only necessary codes)
  rct229/rulesets/ashrae9012019/section11/__init__.py
  rct229/rulesets/ashrae9012019/section11/section11rule16.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section11/rule_11_16.json
Labels: rule_definition, ReadytoMerge, section11

#1567 RS/YJ/Rule 11-7 (Only include necessary code)
  rct229/rulesets/ashrae9012019/data/ashrae_90_1_table_G3_1_1_2.json
  rct229/rulesets/ashrae9012019/data_fns/table_G3_1_1_2_fns.py
  rct229/rulesets/ashrae9012019/data_fns/table_G3_1_1_2_fns_test.py
  rct229/rulesets/ashrae9012019/ruleset_functions/get_swh_components_associated_with_each_swh_bat.py
  rct229/rulesets/ashrae9012019/ruleset_functions/get_swh_equipment_type.py
  rct229/rulesets/ashrae9012019/section11/__init__.py
  rct229/rulesets/ashrae9012019/section11/section11rule7.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section11/rule_11_7.json
Labels: rule_definition, rule_test, section11, readyForReview

#843 Rds/kjw/rule 11 1
  .idea/shelf/Uncommitted_changes_before_Checkout_at_12_21_2023_3_33_PM_[Changes]/boiler_tcd_master.xlsx
  .idea/shelf/Uncommitted_changes_before_Checkout_at_12_21_2023_3_33_PM_[Changes]/section18.xlsx
  docs/_toc.md
  docs/section11/Rule11-1.md
  docs/section11/SHW comparison fields.yaml
Labels: rds, ReadytoMerge, section11

#1372 Create Rule_11-9.md
  docs/_toc.md
  docs/section11/Rule11-9.md
Labels: rds, ReadytoMerge, section11

#1380 Create Rule11-14.md
  docs/_toc.md
  docs/section11/Rule11-14.md
Labels: rds, ReadytoMerge, section11

#1568 RCT/YJ//compare swh dist systems and components function
  rct229/rulesets/ashrae9012019/ruleset_functions/compare_swh_dist_systems_and_components.py
  rct229/rulesets/ashrae9012019/ruleset_functions/compare_swh_dist_systems_and_components_test.py
  rct229/utils/utility_functions.py
Labels: functions, section11

#1573 RS/YJ/Rule 11-9
  docs/section11/Rule11-9.md
  rct229/rulesets/ashrae9012019/section11/__init__.py
  rct229/rulesets/ashrae9012019/section11/section11rule9.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section11/rule_11_9.json
Labels: rule_definition, section11, secondary

#1576 Rule test 11-9 JSON
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section11/rule_11_9.json
Labels: rule_test, section11

#1579 RS/YJ/Rule 11-14
  docs/section11/Rule11-14.md
  rct229/rulesets/ashrae9012019/section11/__init__.py
  rct229/rulesets/ashrae9012019/section11/section11rule14.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section11/rule_11_14.json
  rct229/utils/utility_functions.py
Labels: rule_definition, section11

#1583 Rule test 11-14 JSON
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section11/rule_11_14.json
Labels: rule_test, section11

#1581 RS/YJ/Rule 11-8
  rct229/rulesets/ashrae9012019/ruleset_functions/get_swh_components_associated_with_each_swh_bat.py
  rct229/rulesets/ashrae9012019/section11/__init__.py
  rct229/rulesets/ashrae9012019/section11/section11rule8.py
  rct229/rulesets/ashrae9012019/section11/section11rule9.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section11/rule_11_8.json
Labels: rule_definition, rule_test, section11

#1590 RCT/YJ/Fix 5-34 bug
  rct229/rulesets/ashrae9012019/section5/section5rule34.py
Labels: bug, section5

#1589 RCT/YJ/Rule 6-3 fix
  rct229/rulesets/ashrae9012019/section6/section6rule3.py
Labels: bug, section6

#1588 RCT/YJ/19 24 bug fix
  rct229/rulesets/ashrae9012019/section19/section19rule24.py
Labels: bug, section19

#1578 RS/JDJ/Rule 11-10
  rct229/rulesets/ashrae9012019/data/ashrae_90_1_table_7_8.json
  rct229/rulesets/ashrae9012019/data/ashrae_90_1_table_F_2.json
  rct229/rulesets/ashrae9012019/data_fns/table_7_8_fns.py
  rct229/rulesets/ashrae9012019/data_fns/table_7_8_fns_test.py
  rct229/rulesets/ashrae9012019/data_fns/table_F_2_fns.py
  rct229/rulesets/ashrae9012019/data_fns/table_F_2_fns_test.py
  rct229/rulesets/ashrae9012019/section11/__init__.py
  rct229/rulesets/ashrae9012019/section11/section11rule10.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section11/rule_11_10.json
  rct229/ruletest_engine/run_ruletests.py
  rct229/schema/ASHRAE229.schema.json
  rct229/schema/resources/unit_conventions.json
  rct229/utils/pint_utils.py
  rct229/utils/std_comparisons.py
Labels: rule_definition, section11, readyForReview
