Repository pnnl/ruleset-checking-tool, pull requests merged in 2024-05, with the labels that each got.

#1286 RS/JDJ/Rule 10-7
  docs/ruleset_functions/get_hvac_systems_5_6_serving_multiple_floors_b.md
  rct229/rule_engine/rulesets.py
  rct229/rulesets/ashrae9012019/__init__.py
  rct229/rulesets/ashrae9012019/data/ashrae_90_1_table_G3_5_1.json
  rct229/rulesets/ashrae9012019/data/ashrae_90_1_table_G3_5_2.json
  rct229/rulesets/ashrae9012019/data/ashrae_90_1_table_G3_5_4.json
  rct229/rulesets/ashrae9012019/data/ashrae_90_1_table_G3_5_5.json
  rct229/rulesets/ashrae9012019/data_fns/table_G3_5_1_fns.py
  rct229/rulesets/ashrae9012019/data_fns/table_G3_5_1_fns_test.py
  rct229/rulesets/ashrae9012019/data_fns/table_G3_5_2_fns.py
  rct229/rulesets/ashrae9012019/data_fns/table_G3_5_2_fns_test.py
  rct229/rulesets/ashrae9012019/data_fns/table_G3_5_3_fns.py
  rct229/rulesets/ashrae9012019/data_fns/table_G3_5_3_fns_test.py
  rct229/rulesets/ashrae9012019/data_fns/table_G3_5_4_fns.py
  rct229/rulesets/ashrae9012019/data_fns/table_G3_5_4_fns_test.py
  rct229/rulesets/ashrae9012019/data_fns/table_G3_5_5_fns.py
  rct229/rulesets/ashrae9012019/data_fns/table_G3_5_5_fns_test.py
  rct229/rulesets/ashrae9012019/data_fns/table_utils.py
  rct229/rulesets/ashrae9012019/ruleset_functions/get_hvac_systems_5_6_serving_multiple_floors.py
  rct229/rulesets/ashrae9012019/ruleset_functions/get_hvac_systems_5_6_serving_multiple_floors_test.py
  rct229/rulesets/ashrae9012019/section10/__init__.py
  rct229/rulesets/ashrae9012019/section10/section10rule7.py
  rct229/rulesets/ashrae9012019/section22/section22rule22.py
  rct229/rulesets/ashrae9012019/section22/section22rule32.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section10/rule_10_7.json
Labels: rule_definition, section10

#1293 Ruletest 10-7
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section10/rule_10_7.json
Labels: rule_test, section10

#1343 RCT/YJ/Fixed the wrong Rankin temp in report
  README.md
  examples/chicago_demo/baseline_model.json
  examples/chicago_demo/proposed_model.json
  examples/chicago_demo/user_model.json
  rct229/reports/utils.py
  rct229/rulesets/ashrae9012019/data_fns/extra_schema_fns.py
  rct229/rulesets/ashrae9012019/section22/section22rule14.py
  rct229/rulesets/ashrae9012019/section22/section22rule15.py
  rct229/rulesets/ashrae9012019/section23/section23rule2.py
  rct229/schema/validate.py
Labels: bug, enhancement

#1351 RCT/YJ/Replaced (missing) rmr/rmi with rmd
  docs/_functions.md
  docs/section18/Rule18-1.md
  docs/section18/Rule18-2.md
  docs/section18/Rule18-3.md
  docs/section19/Rule19-10.md
  docs/section19/Rule19-20.md
  docs/section19/Rule19-27.md
  docs/section19/Rule19-32.md
  docs/section5/Rule5-1.md
  docs/section5/Rule5-12.md
  docs/section5/Rule5-14.md
  docs/section5/Rule5-16.md
  docs/section5/Rule5-17.md
  docs/section5/Rule5-19.md
  docs/section5/Rule5-2.md
  docs/section5/Rule5-20.md
  docs/section5/Rule5-21.md
  docs/section5/Rule5-24.md
  docs/section5/Rule5-26.md
  docs/section5/Rule5-27.md
  docs/section5/Rule5-28.md
  docs/section5/Rule5-29.md
  docs/section5/Rule5-30.md
  docs/section5/Rule5-33.md
  docs/section5/Rule5-34.md
  docs/section5/Rule5-36.md
  docs/section5/Rule5-5.md
  docs/section5/Rule5-8.md
  test/rct_test_helper.py
  test/test_files/baseline_rmd_5_8.json
  test/test_files/baseline_rmd_5_8_c_factor.json
  test/test_section5.py
Labels: enhancement

#1355 RS/JDJ/10-7-CalcQ
  rct229/rulesets/ashrae9012019/section10/section10rule7.py
Labels: bug, section10

#1298 RS/JDJ/Rule 10-14
  rct229/cli.py
  rct229/rulesets/ashrae9012019/data/ashrae_90_1_table_G3_5_2.json
  rct229/rulesets/ashrae9012019/data_fns/table_G3_5_2_fns_test.py
  rct229/rulesets/ashrae9012019/data_fns/table_G3_5_5_fns.py
  rct229/rulesets/ashrae9012019/section10/__init__.py
  rct229/rulesets/ashrae9012019/section10/section10rule14.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section10/rule_10_14.json
Labels: rule_definition, section10

#1330 RDS/JDJ/Rule 16-5
  docs/_toc.md
  docs/section16/Rule16-5.md
Labels: rds, ReadytoMerge, section16

#1356 Schema and Unit Registry Update for Elevators
  rct229/ruletest_engine/ruletest_jsons/scripts/resources/json_pointer_enumerations.json
  rct229/schema/ASHRAE229.schema.json
  rct229/schema/resources/unit_conventions.json
  rct229/schema/resources/unit_registry.txt
Labels: rule_test

#1365 RCT/YJ/Updating report file names
  rct229/cli.py
  rct229/reports/ashrae9012019/ashrae901_2019_detail_report.py
  rct229/reports/ashrae9012019/ashrae901_2019_software_test_report.py
  rct229/reports/ashrae9012019/ashrae901_2019_summary_report.py
  rct229/reports/general/engine_raw_output.py
  rct229/reports/general/engine_raw_summary.py
  rct229/reports/project_report.py
  rct229/rulesets/ashrae9012019/section10/section10rule14.py
  rct229/rulesets/ashrae9012019/section4/section4rule1.py
  rct229/rulesets/ashrae9012019/section4/section4rule11.py
  rct229/rulesets/ashrae9012019/section4/section4rule14.py
  rct229/rulesets/ashrae9012019/section4/section4rule2.py
Labels: enhancement
