Repository pnnl/ruleset-checking-tool, pull requests merged in 2024-11, with the labels that each got.

#1555 RCT/YJ/get_swh_uses_associated_with_each_building_segment function Fix
  docs/ruleset_functions/get_SWH_uses_associated_with_each_building_segment.md
  rct229/rulesets/ashrae9012019/ruleset_functions/get_swh_uses_associated_with_each_building_segment.py
  rct229/rulesets/ashrae9012019/ruleset_functions/get_swh_uses_associated_with_each_building_segment_test.py
Labels: functions, section11, readyForReview

#1517 RCT/YJ/get_building_segment_swh_bat function
  docs/ruleset_functions/get_building_segment_SWH_bat.md
  rct229/rulesets/ashrae9012019/ruleset_functions/get_building_segment_swh_bat.py
  rct229/rulesets/ashrae9012019/ruleset_functions/get_building_segment_swh_bat_test.py
  rct229/rulesets/ashrae9012019/ruleset_functions/get_swh_uses_associated_with_each_building_segment.py
  rct229/schema/ASHRAE229.schema.json
  rct229/utils/utility_functions.py
Labels: functions, section11, readyForReview

#1548 RCT/JX/get_swh_components_associated_with_each_swh_bat function (Re)
  rct229/rulesets/ashrae9012019/ruleset_functions/get_swh_components_associated_with_each_swh_bat.py
  rct229/rulesets/ashrae9012019/ruleset_functions/get_swh_components_associated_with_each_swh_bat_test.py
Labels: functions, section11, readyForReview

#1525 RS/JX/Rule11-11
  docs/section11/Rule11-11.md
  rct229/cli.py
  rct229/rule_engine/rulesets.py
  rct229/rulesets/ashrae9012019/__init__.py
  rct229/rulesets/ashrae9012019/section11/__init__.py
  rct229/rulesets/ashrae9012019/section11/section11rule11.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section11/rule_11_11.json
  rct229/ruletest_engine/ruletest_jsons/scripts/resources/json_pointer_enumerations.json
  rct229/schema/ASHRAE229.schema.json
Labels: rule_definition, ReadytoMerge, section11, readyForReview

#1529 Ruletest 11-11 JSON
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section11/rule_11_11.json
  rct229/ruletest_engine/ruletest_jsons/scripts/resources/json_pointer_enumerations.json
  rct229/schema/ASHRAE229.schema.json
Labels: rule_test, section11

#1554 RS/YJ/Rule 11-12 (include only necessary codes)
  docs/section11/Rule11-12.md
  rct229/rulesets/ashrae9012019/section11/__init__.py
  rct229/rulesets/ashrae9012019/section11/section11rule12.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section11/rule_11_12.json
Labels: rule_definition, section11, readyForReview

#1530 Ruletest 11-12 JSON
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section11/rule_11_12.json
  rct229/ruletest_engine/ruletest_jsons/scripts/resources/json_pointer_enumerations.json
  rct229/schema/ASHRAE229.schema.json
Labels: rule_test, section11

#1547 RS/JX/Rule11-13
  docs/section11/Rule11-13.md
  rct229/rulesets/ashrae9012019/__init__.py
  rct229/rulesets/ashrae9012019/section11/__init__.py
  rct229/rulesets/ashrae9012019/section11/section11rule13.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section11/rule_11_13.json
Labels: rule_definition, section11, secondary, readyForReview
