Repository pnnl/ruleset-checking-tool, pull requests merged in 2024-01, with the labels that each got.

#1251 Update Rule23-14.md
  docs/section23/Rule23-14.md
Labels: rds, section23, secondary

#1253 Ruletest JSONs for 21-1 and 21-2
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/boiler_tcd_master.json
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section21/rule_21_1.json
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section21/rule_21_2.json
Labels: rule_test, section21

#1252 Create section23rule10.py
  rct229/rulesets/ashrae9012019/section23/__init__.py
  rct229/rulesets/ashrae9012019/section23/section23rule10.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section23/rule_23_10.json
Labels: rule_definition, section23

#1256 Ruletest 23-10 JSON
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section23/rule_23_10.json
Labels: rule_test, section23

#1255 RDS/JDJ/5_38
  docs/section5/Rule5-38.md
Labels: section5, secondary

#1196 RCT/JX/Rule5-39
  rct229/rulesets/ashrae9012019/section5/__init__.py
  rct229/rulesets/ashrae9012019/section5/section5rule38.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section5/rule_5_38.json
Labels: section5, rule_definition

#1260 RT/YJ/Section22 TCD hotfix
  rct229/rulesets/ashrae9012019/section22/section22rule22.py
  rct229/rulesets/ashrae9012019/section22/section22rule29.py
  rct229/rulesets/ashrae9012019/section22/section22rule32.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section22/rule_22_22.json
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section22/rule_22_29.json
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section22/rule_22_32.json
Labels: rule_test, section22

#1264 recreate 5-31 test json
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section5/rule_5_31.json
Labels: section5, rule_test

#1257 RS/YJ/Rule 5-1
  docs/section5/Rule5-1.md
  rct229/rule_engine/engine.py
  rct229/rule_engine/rule_base.py
  rct229/rule_engine/ruleset_model_factory.py
  rct229/rulesets/ashrae9012019/section5/__init__.py
  rct229/rulesets/ashrae9012019/section5/section5rule1.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section5/rule_5_1.json
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section5/rule_5_31.json
  rct229/ruletest_engine/ruletest_rmd_factory.py
Labels: section5, rule_definition, ReadytoMerge

#1268 RT/YJ/Section 18 TCD Fixes
  rct229/rule_engine/rulesets.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section18/rule_18_1.json
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section18/rule_18_2.json
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section18/rule_18_3.json
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/system_zone_assignment_tcd_master.json
  rct229/ruletest_engine/run_ruletests.py
Labels: rule_test, section18
