Repository pnnl/ruleset-checking-tool, pull requests merged in 2025-01, with the labels that each got.

#611 Update are_all_terminal_types_VAV.md
  docs/ruleset_functions/baseline_systems/baseline_hvac_sub_functions/are_all_terminal_types_VAV.md
Labels: rds, functions, open comments

#1431 RS/JDJ/reword section22 rules and messages
  rct229/rulesets/ashrae9012019/section22/section22rule10.py
  rct229/rulesets/ashrae9012019/section22/section22rule11.py
  rct229/rulesets/ashrae9012019/section22/section22rule13.py
  rct229/rulesets/ashrae9012019/section22/section22rule14.py
  rct229/rulesets/ashrae9012019/section22/section22rule15.py
  rct229/rulesets/ashrae9012019/section22/section22rule16.py
  rct229/rulesets/ashrae9012019/section22/section22rule19.py
  rct229/rulesets/ashrae9012019/section22/section22rule20.py
  rct229/rulesets/ashrae9012019/section22/section22rule21.py
  rct229/rulesets/ashrae9012019/section22/section22rule24.py
  rct229/rulesets/ashrae9012019/section22/section22rule25.py
  rct229/rulesets/ashrae9012019/section22/section22rule26.py
  rct229/rulesets/ashrae9012019/section22/section22rule27.py
  rct229/rulesets/ashrae9012019/section22/section22rule28.py
  rct229/rulesets/ashrae9012019/section22/section22rule29.py
  rct229/rulesets/ashrae9012019/section22/section22rule3.py
  rct229/rulesets/ashrae9012019/section22/section22rule30.py
  rct229/rulesets/ashrae9012019/section22/section22rule31.py
  rct229/rulesets/ashrae9012019/section22/section22rule32.py
  rct229/rulesets/ashrae9012019/section22/section22rule33.py
  rct229/rulesets/ashrae9012019/section22/section22rule34.py
  rct229/rulesets/ashrae9012019/section22/section22rule35.py
  rct229/rulesets/ashrae9012019/section22/section22rule36.py
  rct229/rulesets/ashrae9012019/section22/section22rule37.py
  rct229/rulesets/ashrae9012019/section22/section22rule38.py
  rct229/rulesets/ashrae9012019/section22/section22rule39.py
  rct229/rulesets/ashrae9012019/section22/section22rule4.py
  rct229/rulesets/ashrae9012019/section22/section22rule40.py
  rct229/rulesets/ashrae9012019/section22/section22rule41.py
  rct229/rulesets/ashrae9012019/section22/section22rule5.py
  rct229/rulesets/ashrae9012019/section22/section22rule6.py
  rct229/rulesets/ashrae9012019/section22/section22rule7.py
  rct229/rulesets/ashrae9012019/section22/section22rule8.py
  rct229/rulesets/ashrae9012019/section22/section22rule9.py
Labels: section22

#1544 Rds/kjw/function compare swh dist systems and components
  docs/ruleset_functions/compare_swh_dist_systems_and_components.md
Labels: functions

#1593 RCT/YJ/5-34 Fix (Re)
  rct229/rulesets/ashrae9012019/section5/section5rule34.py
Labels: bug, section5

#1480 Update_to_19-18
  docs/section19/Rule19-18.md
Labels: rds, section19

#1595 RCT/YJ/Update is_space_a_computer_room func logic
  rct229/rulesets/ashrae9012019/ruleset_functions/g311_exceptions/g311_sub_functions/get_zones_computer_rooms.py
  rct229/rulesets/ashrae9012019/ruleset_functions/g311_exceptions/g311_sub_functions/get_zones_computer_rooms_test.py
  rct229/rulesets/ashrae9012019/ruleset_functions/g311_exceptions/g311_sub_functions/is_space_a_computer_room.py
  rct229/rulesets/ashrae9012019/ruleset_functions/g311_exceptions/g311_sub_functions/is_space_a_computer_room_test.py
Labels: enhancement, functions

#1609 RCT/YJ/get_swh_equipment_type update
  rct229/rulesets/ashrae9012019/ruleset_functions/get_swh_equipment_type.py
  rct229/rulesets/ashrae9012019/ruleset_functions/get_swh_equipment_type_test.py
Labels: functions

#1397 Update is_space_a_computer_room.md
  docs/ruleset_functions/G311_exceptions/G311_sub_functions/is_space_a_computer_room.md
Labels: ReadytoMerge, functions

#1601 Rds/kjw/get swh equipment type
  docs/ruleset_functions/get_swh_equipment_type.md
Labels: rds, section11

#1628 Rule Test 23-17
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section23/rule_23_17.json
Labels: rule_test, section23

#1625 Ruletest 23-1 update
  rct229/rulesets/ashrae9012019/section23/section23rule1.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section23/rule_23_1.json
Labels: rule_test, section23

#1610 RS/YJ/Rule 22-17 Update
  rct229/rulesets/ashrae9012019/section22/section22rule17.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section22/rule_22_17.json
Labels: section22

#1626 Ruletest 22-17 update
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section22/rule_22_17.json
Labels: rule_test, section22
