Repository pnnl/ruleset-checking-tool, pull requests merged in 2025-04, with the labels that each got.

#1684 RCT/JDJ/section5 bugfixes
  rct229/rulesets/ashrae9012019/section5/section5rule19.py
  rct229/rulesets/ashrae9012019/section5/section5rule20.py
  rct229/rulesets/ashrae9012019/section5/section5rule39.py
  rct229/rulesets/ashrae9012019/section5/section5rule40.py
Labels: ReadytoMerge

#1615 4-11_Update
  docs/section4/4-11.md
Labels: rds, section4, ReadytoMerge

#1602 Update Rule11-7.md
  docs/section11/Rule11-7.md
Labels: rds, ReadytoMerge, section11

#1645 19-3_Update
  docs/section19/Rule19-3.md
Labels: rds, ReadytoMerge, section19

#1672 RS/YJ/Rule 5-30 (Updated logic)
  rct229/rulesets/ashrae9012019/section5/section5rule30.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section5/rule_5_30.json
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section5_envelope_tcd_master.json
Labels: enhancement, section5, readyForReview

#1616 5-30_Update
  docs/section5/Rule5-30.md
Labels: section5, rds, ReadytoMerge

#1703 RCT/JDJ/18-1 calc vals
  rct229/rulesets/ashrae9012019/section18/section18rule1.py
Labels: enhancement

#1646 New_Rule_19_37
  docs/_toc.md
  docs/section19/Rule19-37.md
Labels: rds, ReadytoMerge, section19

#1373 Create Rule_11-10.md
  docs/section11/Rule_11-10.md
Labels: rds, ReadytoMerge, section11
