Repository pnnl/ruleset-checking-tool, pull requests merged in 2025-05, with the labels that each got.

#1723 RS/YJ/Rule 21-5 bug fix
  rct229/rulesets/ashrae9012019/section21/section21rule5.py
Labels: bug, section21

#1719 RS/JDJ/correct list length validation
  rct229/schema/validate.py
Labels: bug

#1722 RS/JDJ/system type enum correction
  rct229/rulesets/ashrae9012019/section10/section10rule7.py
Labels: bug

#1686 RS/YJ/Rule 22-17 (Updated logic)
  rct229/rulesets/ashrae9012019/section22/section22rule17.py
Labels: enhancement, section22, readyForReview

#1388 Update Rule22-17.md
  docs/section22/Rule22-17.md
Labels: rds, ReadytoMerge, section22, secondary

#1708 RS/YJ/Rule 10-15
  rct229/rulesets/ashrae9012019/__init__.py
  rct229/rulesets/ashrae9012019/section10/__init__.py
  rct229/rulesets/ashrae9012019/section10/section10rule15.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section10/rule_10_15.json
Labels: rule_definition, ReadytoMerge, section10

#1713 RS/YJ/Rule 10-1
  rct229/rulesets/ashrae9012019/__init__.py
  rct229/rulesets/ashrae9012019/section10/__init__.py
  rct229/rulesets/ashrae9012019/section10/section10rule1.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section10/rule_10_1.json
Labels: rule_definition, ReadytoMerge, section10

#1619 10-15
  docs/_toc.md
  docs/section10/10-15.md
Labels: rds, ReadytoMerge, section10
