Repository pnnl/ruleset-checking-tool, pull requests merged in 2025-09, with the labels that each got.

#1774 RCT/YJ/```get_building_segment_swh_bat```, ```get_spaces_served_by_swh_use```, and ``get_swh_uses_associated_with_each_building_segment``` functions (logic update)
  rct229/rulesets/ashrae9012019/ruleset_functions/get_building_segment_swh_bat.py
  rct229/rulesets/ashrae9012019/ruleset_functions/get_building_segment_swh_bat_test.py
  rct229/rulesets/ashrae9012019/ruleset_functions/get_spaces_served_by_swh_use.py
  rct229/rulesets/ashrae9012019/ruleset_functions/get_spaces_served_by_swh_use_test.py
  rct229/rulesets/ashrae9012019/ruleset_functions/get_swh_components_associated_with_each_swh_bat_test.py
  rct229/rulesets/ashrae9012019/ruleset_functions/get_swh_uses_associated_with_each_building_segment.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/SHW/rule_11_17.json
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/SHW/rule_11_8.json
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/SHW/rule_11_9.json
Labels: functions, readyForReview

#1710 Rds/kjw/function get building segment swh bat
  docs/ruleset_functions/get_building_segment_SWH_bat.md
Labels: rds, ReadytoMerge, section11

#1709 Rds/kjw/function get spaces served by swh use
  docs/ruleset_functions/get_spaces_served_by_SWH_use.md
Labels: rds, ReadytoMerge, section11

#1726 RDS/JDJ/19-26, 19-27, 19-28, 19-29: Handle 24/7 fan operation
  docs/section19/Rule19-26.md
  docs/section19/Rule19-27.md
  docs/section19/Rule19-28.md
  docs/section19/Rule19-29.md
  docs/section19/Rule19-31.md
  docs/section19/Rule19-32.md
Labels: rds, ReadytoMerge, section19

#1706 add CalcQ in processing the outcome data.
  rct229/rulesets/ashrae9012019/section11/section11rule14.py
  rct229/rulesets/ashrae9012019/section12/section12rule1.py
Labels: ReadytoMerge

#1828 Rule Test JSON 5-45 for ASHRAE 90.1-2022
  rct229/ruletest_engine/ruletest_jsons/ashrae9012022/ENV/rule_5_45.json
Labels: section5, rule_test, ASHRAE90.1 2022

#1832 RS/YJ/Rule 5-44 and 5-45 (2022)
  rct229/rulesets/ashrae9012022/__init__.py
  rct229/rulesets/ashrae9012022/section5/__init__.py
  rct229/rulesets/ashrae9012022/section5/section5rule44.py
  rct229/rulesets/ashrae9012022/section5/section5rule45.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012022/ENV/rule_5_44.json
  rct229/ruletest_engine/ruletest_jsons/ashrae9012022/ENV/rule_5_45.json
Labels: section5, rule_definition, ASHRAE90.1 2022
