Repository pnnl/ruleset-checking-tool, pull requests merged in 2025-03, with the labels that each got.

#1666 update -> only all entries in a column that are greater than 0 will g…
  rct229/rulesets/ashrae9012019/ruleset_functions/get_aggregated_zone_hvac_fan_operating_schedule.py
Labels: bug

#1570 Create Rule23-17.md
  docs/_toc.md
  docs/section23/Rule23-17.md
Labels: section23

#1690 Ruletest JSON 5-32 Update
  rct229/rulesets/ashrae9012019/section5/section5rule21.py
  rct229/rulesets/ashrae9012019/section5/section5rule22.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section5/rule_5_21.json
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section5/rule_5_22.json
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section5/rule_5_32.json
Labels: section5, rule_test

#1643 RCT/JDJ/validation associated list length
  rct229/schema/validate.py
  rct229/schema/validate_test.py
Labels: ReadytoMerge

#1614 4-1_Update
  docs/section4/4-1.md
Labels: rds, section4, ReadytoMerge

#1673 RS/YJ/Rule 5-32 (Updated logic)
  rct229/rulesets/ashrae9012019/section5/section5rule32.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section5/rule_5_32.json
Labels: enhancement, section5, readyForReview

#1617 5-32_Update
  docs/section5/Rule5-32.md
Labels: section5, rds, ReadytoMerge

#1624 19-7_Update
  docs/section19/Rule19-7.md
Labels: rds, ReadytoMerge, section19

#1680 RCT/JDJ/section19 bugfixes
  rct229/rulesets/ashrae9012019/section19/section19rule1.py
  rct229/rulesets/ashrae9012019/section19/section19rule15.py
  rct229/rulesets/ashrae9012019/section19/section19rule17.py
  rct229/rulesets/ashrae9012019/section19/section19rule20.py
  rct229/rulesets/ashrae9012019/section19/section19rule25.py
  rct229/rulesets/ashrae9012019/section19/section19rule8.py
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section19/rule_19_1.json
  rct229/ruletest_engine/ruletest_jsons/ashrae9012019/section19/rule_19_8.json
  rct229/schema/resources/unit_registry.txt
  rct229/utils/pint_utils.py
Labels: readyForReview
